{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}
{% spaceless %}
<div class="card profile-card account-card">
  <div class="card-body">
    <div class="row card-text">
      <div class="col-md-3 text-center">
          <img title="profile picture" class="avatar rounded-circle img-responsive" src="{% thumbnail show_user.picture|default:'default_profile.png' 'profile_avatar_show' %}">
      </div>
      
      <div class='col-md-9'>
          <h1 class="card-title">{{ show_user.get_full_name|upper }}</h1>       
              
          {% include 'profiles/partials/_profile_role.html' %}


          {% include 'profiles/partials/_progress_bar.html' %}


          {% block body %}
              
          {% endblock body %}    

          <div class="text-muted">
            <strong> {{ show_user.profile.history.counter }} </strong> {% trans 'wizyt' %}
          </div>  
          <div class="text-muted">
            <strong> {{ show_user.follower_set.count }} </strong>  {% trans 'obserwujących' %}
          </div> 

          {% include 'profiles/partials/_inquire_message.html' %}

      </div>  <!-- end of col-md-9 -->
    </div>  <!-- end of row -->
  </div>  <!-- end of card body -->
  <div class="card-footer ">
    <!--hr-->
    <div class="stats actions">

      <div class="btn-group" role="group" aria-label="action buttons">
          {% include 'profiles/partials/_profiles_buttons.html' %}
         
      </div>
    </div>
  </div>
</div>  <!--end of card -->
{% endspaceless %}