{% load i18n %}
<div class="card">
<div class="card-body">
    <h2 class="card-title">{% trans 'Podstawowe informacje' %}</h2>

    <h6 class="card-subtitle mb-2 text-muted"></h6>

    <div class="card-text">
    {% with profile=show_user.profile template='profiles/partials/_two_table.html' %}
         {% include template with key=_('Obecna drużyna')        value=profile.team|default:'-'           %}
         {% include template with key=_('Poziom rozgrywkowy') value=profile.league|default:'-'         %}
         {% include template with key=_('Grupa')              value=profile.group|default:'-'              %}
         {% include template with key=_('Wojewódzctwo')       value=profile.voivodeship|default:'-'    %}
         {% include template with key=_('Wzrost/Waga')        value=profile.height|default:'-' value_suffix='cm' separator='/' value2=profile.weight|default:'-' value2_suffix='kg'%}
         {% include template with key=_('Status transferowy') value=profile.get_transfer_status_display|default:'-'  %}
         {% include template with key=_('Karta')              value=profile.get_card_display|default:'-' %}
         {% include template with key=_('Piłkarski cel')      value=profile.get_soccer_goal_display|default:'-'  %}
    {% endwith %}
    </div>  <!-- end of card-text-->

</div>
</div>