{% extends 'profiles/cards/_base_account_card.html' %}

{% comment %} loading stuff {% endcomment %}
{% load static %}
{% load thumbnail %}
{% load i18n %}


{% block body %}
  {% with profile=show_user.profile template='profiles/partials/_two_table.html' %}
    {% include template with key=_('Noga')      value=profile.get_prefered_leg_display|default:'-'  %}
    {% include template with key=_('Pozycja')   value=profile.get_position_raw_display|default:'-'  %}
    {% include template with key=_('Wiek')      value=profile.age|default:'-'           %}   
  {% endwith %}
{% endblock body %}
