<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__first" aria-expanded="false" aria-controls="collapse__first">
                Zgłoszenie wysłane. Co dalej?
            </button>
        </h2>
        <div id="collapse__first" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Twój opiekun skontaktuje się z Tobą w ciągu 48 godzin i przedstawi Ci szczegóły.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__second" aria-expanded="false" aria-controls="collapse__second">
            Ile kosztuje wsparcie transferowe?
            </button>
        </h2>
        <div id="collapse__second" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Koszt usługi jest zależny od poziomu, na którym chcesz grać.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="test__level">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__last" aria-expanded="false" aria-controls="collapse__last">
                Na jaki poziom testów mogę się zgłosić?
            </button>
        </h2>
        <div id="collapse__last" class="accordion-collapse collapse" aria-labelledby="test__level" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Adekwatny do Twoich umiejętności. Pamiętaj, że zgłoszenie weryfikuje nasz skaut, który Cię poinformuje o rekomendowanym rozwiązaniu.
                Jeśli ustawisz zbyt wysoki poziom, zaproponujemy niższy. Od Ciebie będzie wtedy zależeć czy mamy rozpocząć poszukiwania.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__third" aria-expanded="false" aria-controls="collapse__third">
            Jak wygląda płatność?
            </button>
        </h2>
        <div id="collapse__third" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Płatność odbywa się przez przelew tradycyjny. Po otrzymaniu środków rozpoczynamy działania w organizacji testów (zaksięgowanie płatności trwa od 12 do 48 godzin)
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__fourth" aria-expanded="false" aria-controls="collapse__fourth">
            Ile propozycji testów dostanę?
            </button>
        </h2>
        <div id="collapse__fourth" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Wspólnie z opiekunem ustalicie, gdzie najlepiej przejść testy piłkarskie. Propozycje testów zależne są od zainteresowania klubów Twoją osobą. Minimalna liczba testów wynosi 1.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__fifth" aria-expanded="false" aria-controls="collapse__fifth">
            Co jeśli nie znajdziecie dla mnie testu?
            </button>
        </h2>
        <div id="collapse__fifth" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Zwrócimy Ci przesłane pieniądze
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__sixth" aria-expanded="false" aria-controls="collapse__sixth">
            Ile trwają poszukiwania testów?
            </button>
        </h2>
        <div id="collapse__sixth" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Poszukiwania testów trwają maksymalnie do miesiąca. Później Ty decydujesz czy nadal mamy prowadzić poszukiwania.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse__seventh" aria-expanded="false" aria-controls="collapse__seventh">
            Kiedy mogę się spodziewać kontaktu?
            </button>
        </h2>
        <div id="collapse__seventh" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
               48 godzin od wysłania zgłoszenia
            </div>
        </div>
    </div>

</div>