{% load i18n %}
{% load static %}


<!-- Slideshow container dekstop -->
<div class="slideshow_container_desktop">

    <div class="d-flex position-relative slideshow_container_main_desktop">

        <!-- Full-width images with number and caption text -->

        <!-- First card -->

        {% with club_name='Spartakus Daleszyce' %}
        {% with player_name='Patryk Raczyński' %}
        {% with league='4 liga' %}
        {% with player='Lewy obrońca / skrzydłowy' %}
        {% with content='landingpage/partials/history/history_first.html' %}
        {% with club_herb='assets/img/landingpage/history/spartakus.png' %}
        {% with dest_name='Neptun Końskie' %}
        {% with dest_herb='assets/img/landingpage/history/neptun.png' %}
        {% with dest_league='4 liga' %}
        {% with player_url='https://www.playmaker.pro/users/player-patryk-raczynski/' %}
        {% with player_photo='assets/img/landingpage/history/patryk_raczynski.jpg' %}
            {% include 'landingpage/partials/history_card.html' %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}

        <!-- Second card -->

        {% with club_name='Foto-Higiena Gać' %}
        {% with player_name='Sebastian Jaroszyński' %}
        {% with league='3 liga' %}
        {% with player='Napastnik' %}
        {% with content='landingpage/partials/history/history_second.html' %}
        {% with club_herb='assets/img/landingpage/history/foto-higiena-gac.png' %}
        {% with dest_name='Polonia Świdnica' %}
        {% with dest_herb='assets/img/landingpage/history/polonia_sparta_swidnica.jpg' %}
        {% with dest_league='3 liga' %}
        {% with player_url='https://www.playmaker.pro/users/player-sebastian-jaroszynski/' %}
        {% with player_photo='assets/img/landingpage/history/sebastian1.jpg' %}
            {% include 'landingpage/partials/history_card.html' %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}

        <!-- Third card -->

        {% with club_name='Yeclano Deportivo' %}
        {% with player_name='Grzegorz Kleemann' %}
        {% with league='3 liga' %}
        {% with player='Bramkarz' %}
        {% with content='landingpage/partials/history/history_third.html' %}
        {% with club_herb='assets/img/landingpage/history/yeclano-deportivo.png' %}
        {% with dest_name='Kotwica Kołobrzeg' %}
        {% with dest_herb='assets/img/landingpage/history/Kotwica Kolobrzeg.jpg' %}
        {% with dest_league='3 liga' %}
        {% with player_url='https://www.transfermarkt.pl/grzegorz-kleemann/profil/spieler/332027' %}
        {% with player_photo='assets/img/landingpage/history/grzegorz_kleemann.jpg'  %}
            {% include 'landingpage/partials/history_card.html' %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}


    </div>
    <div class="d-xxl-none d-flex justify-content-between carousel__control_div">
        <!-- Next and previous buttons -->
        <a class="carousel-control-prev" role="button" data-slide="prev">
            <img class="arrow-right"  src="{% static 'assets/img/landingpage/left-arrow.png' %}" alt="">
            <span class="sr-only">Previous</span>
        </a>

{#         <ol class="carousel-indicators">#}
{#            <li class="carouselDesktopIndicators active" data-slide-to="1"></li>#}
{#            <li class="carouselDesktopIndicators" data-slide-to="2"></li>#}
{#            <li class="carouselDesktopIndicators" data-slide-to="3"></li>#}
{#            <li class="carouselDesktopIndicators" data-slide-to="4"></li>#}
{#        </ol>#}

        <a class="carousel-control-next" role="button" data-slide="next">
            <img class="arrow-right"  src="{% static 'assets/img/landingpage/button_next.png' %}" alt="">
            <span class="sr-only">Next</span>
        </a>
    </div>



</div>
