{% load static %}

<div class="ml-2 price__grid">
    <div class="section-title text-left">
        <h2>Cennik</h2>
        <p>
        Koszt usługi zależny jest od poziomu rozgrywkowego,
        na którym chciałbyś grać. Rozważ również grę na Twoim aktualnym poziomie.
        Zawsze polecamy kluby, które zapewniają zawodnikom rozwój.
        </p>
    </div>

    <div class="price__table d-flex flex-column">
        <div class="d-flex w-100 px-1 justify-content-between">
            <p class="pricelist_desc">Klasa A lub B</p>
            <p class="pricelist__price">149 zł</p>
        </div>
        <div class="d-flex w-100 px-1 justify-content-between">
            <p class="pricelist_desc">Klasa okręgowa lub 4 liga</p>
            <p class="pricelist__price">199 zł</p>
        </div>
        <div class="d-flex w-100 px-1 justify-content-between">
            <p class="pricelist_desc">3 liga</p>
            <p class="pricelist__price">299 zł</p>
        </div>
        <div class="d-flex w-100 px-1 justify-content-between">
            <p class="pricelist_desc w-25">Poziom profesjonalny <br class="d-md-none"> (2 liga lub wyżej)</p>
            <p class="pricelist__price">Cena do ustalenia</p>
        </div>
    </div>

    <div class="mt-4 guarantee__grid">
        <div class="guarantee">
            <img src="{% static 'assets\img\landingpage\guarantee.png' %}" alt="">
            <p class="guarantee__text">
                100% Gwarancja propozycji udziału w teście piłkarskim. Inaczej zwrot pieniędzy.
            </p>
        </div>
        <div class="danger_ d-flex mt-3">
            <img src="{% static 'assets\img\landingpage\danger.png' %}" alt="">
            <p class="danger__text">
                Płatność odbywa się przez przelew tradycyjny. Zaksięgowanie środków trwa od 12 do 48h.
            </p>
        </div>
    </div>
</div>