{% load i18n %}
{% load static %}


<!-- ======= History Section ======= -->
<section id="history__section" class="pt-3">
  <div class="container">
    <div class="section-title text-left">
        <h1>
            <span style=""> {% trans 'Historie uczestników' %} </span>
        </h1>

        {% include 'landingpage/history_carousel.html' %}

    </div>
  </div>
</section>
<!-- End Player History Section -->


<!-- ======= How it works Section ======= -->
<section id="how_it_works" class="mt-5 pt-4 light__background">
  <div class="container">
    <div class="section-title">
        <div class="title d-flex flex-column-reverse text-left mb-3">
            <h1>
                <span style=""> {% trans 'Jak to działa?' %} </span>
            </h1>
            <p>
                <span style=""> {% trans 'W trzech krokach' %} </span>
            </p>
        </div>

        {% include 'landingpage/how_it_works.html' %}

    </div>
  </div>
</section>
<!-- End Player History Section -->


<!-- ======= Pricing Section ======= -->

<section id="price__section" class="pt-5">
    <div class="container">

        {% include 'landingpage/pricing_section.html' %}

    </div>
</section>

<!-- ===== Test form ===== -->
<section id="test__section" class="light__background w-100">
    <div class="container d-flex justify-content-center">

        {% include 'landingpage/test_form_section.html' %}

    </div>
</section>
    
<!-- ===== Faq section ===== -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<section id="faq__section">
    <div class="container justify-content-center w-75 w-md-100 d-flex flex-column">

        <div class="ml-2 d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between">
            <div class="accordion__title text-left">
                <p class="mb-0">FAQ</p>
                <h1>Najczęstsze pytania</h1>
            </div>

            {% include 'landingpage/faq_accordeon.html' %}
        </div>

        <div class="back__to__home d-flex justify-content-center mt-5">
            <a href="#main" class="">Wróć na górę</a>
        </div>

    </div>
</section>


<script src="{% static 'assets/js/landingpage/carousel.js' %}"></script>