{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <link href="{% static 'assets/css/landingpage.css' %}" rel="stylesheet">
    <style>
        #header, #header .navbar-collapse, #header .navbar{
            background-color: var(--white__color) !important;
        }
        #header .nav-link{
            color: var(--dark__color) !important
        }
        .menu__dropdown img{
            filter: none;
        }
        .navbar .logo a{
            color: var(--dark__color) !important
        }

        #we__got__it{
            height: 60vh;
        }

        .hamburger__icons rect{
            fill: black
        }

        #header .dropdown-menu{
            background-color: white;
        }

        #header .dropdown-menu a{
            color: var(--dark__color) !important;
        }

    </style>

    <!-- "We got it" section -->
    {% include 'landingpage/partials/we_got_it_partial.html' %}

    <script src="{% static 'assets/js/landingpage/second_test_form.js' %}"></script>
    <script>
        let user = '{{ request.user.id }}';
    </script>
{% endblock %}