{% load i18n %}


{% spaceless %}
    {% with request.GET.role as role %}      
      <form id="signup_form{{form_type}}" class="row signup-form needs-validation" method="post" action="{% url 'account_signup' %}{% if role %}?role={{role}}{% endif %}">  
      {% csrf_token %}
      
          <div class="col-12 mb-3">
            {% if role %}
                <input type="hidden" class="form-control" name="role" id="id_role" value="{{ form.role.value|default_if_none:role }}" required>
                <h4 class="text-center" style="text-transform: uppercase;">jako   
                             {% if role == 'P'%}Piłkarz
                          {% elif role == 'T' %}Trener
                          {% elif role == 'C' %}Klub / Szkółka piłkarska
                          {% elif role == 'M' %}Agent piłkarski
                          {% elif role == 'S' %}Skout
                          {% elif role == 'R' %}Rodzic małego piłkarza
                          {% elif role == 'G' %}Kibic / Rodzic
                          {% endif %}
                         </h4>
            {% else %} 
                <select class="selectpicker " name="role" id="id_role" value="{{ form.role.value|default_if_none:'' }}" required title="wybierz role">
                  
                  <option value="P" {% if role == 'P'%} selected {% endif %}>Piłkarz</option>
                  <option value="T" {% if role == 'T'%} selected {% endif %}>Trener</option>
                  <option value="C" {% if role == 'C'%} selected {% endif %}>Klub / Szkółka piłkarska</option>
                  <option value="M" {% if role == 'M'%} selected {% endif %}>Agent piłkarski</option>
                  <option value="S" {% if role == 'S'%} selected {% endif %}>Skaut</option>
                  <option value="R" {% if role == 'R'%} selected {% endif %}>Rodzic małego piłkarza</option>
                  <option value="G" {% if role == 'G'%} selected {% endif %}>Kibic / Rodzic</option>
                </select>
                {{ form.role.errors }}
            {% endif %}
    {% endwith %}   
        </div>

        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{form.first_name.value|default_if_none:'' }}" placeholder="imię" required="">
          {% if form.first_name.errors %}
            <div class="alert alert-danger" role="alert">
            {{form.first_name.errors}}
            </div>
          {% endif %}
        </div>

        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" name="last_name" id="id_last_name" value="{{form.last_name.value|default_if_none:''}}" placeholder="nazwisko" required>
            {% if form_last_name.errors %}
            <div class="alert alert-danger" role="alert">
              {{form.last_name.errors}}
            </div>
          {% endif %}
        </div>

        
        <div class="col-12 mb-3">
            <input type="email" class="form-control" name="email" id="id_email" value="{{form.email.value|default_if_none:''}}" placeholder="email"  required>            
            {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
              {{form.email.errors}}
            </div>
          {% endif %}
        </div>

        <div class="col-12 mb-3">
            <input type="password" class="form-control" name="password1" id="id_password1"  value="{{form.password1.value|default_if_none:''}}" placeholder="hasło" required>
            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
              {{form.password.errors}}
            </div>
          {% endif %}
           
        </div>

        <div class="col-12 mb-3">
        <button class="btn-block" type="submit">{% trans 'ZAKŁADAM DARMOWE KONTO' %}</button>
          <p class="text-right">
            <small>{% trans 'lub jeżeli masz już konto'%} <a href="{{ login_url }}">{% trans 'zaloguj się' %}</a></small>
          </p>
        </div>

        <hr class="mb-4">


          
        
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
       
        {% comment %} {{ form.errors }} {# @todo to be removed #} {% endcomment %}
        <div class="col-12 text-center mb-3">
              <span class='small'> lub użyj</span>
        </div>
        <div class="col-12"> 
          {% include 'account/partials/_social.html'%}
        </div>

        <hr class="mb-5">

        <div class="terms col-12">
          
            <label class="" for="id_rules">
                <i class="icofont-law-document"></i> {% trans 'Rejestrując się potwierdzasz, że zapoznałeś się z ' %}<a href="/rules/" target="_blank">{% trans 'regulaminem PlayMaker.pro' %}</a> {% trans 'oraz akceptujesz jego warunki.' %} 
            </label>
        </div>

        <div class="terms col-12">
            
              <label  for="id_rodo"> 
                  <i class="icofont-info-circle"></i> {% trans 'Twoje dane administruje PlayMaker.pro. ' %} 
            
                    <span class="accordion" id="rodo-terms">
                          <span id="headingOne">
                              <a class="text-left"  data-toggle="collapse" data-target="#rodoCollapse" aria-expanded="true" aria-controls="rodoCollapse">
                                {% trans 'Więcej o ochronie danych' %}<i class="icofont-thin-down"></i>
                              </a>
                            </span>
                      
                          <div id="rodoCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#rodo-terms">
                            <div class="card-body">
                              {% trans "W trosce o zapewnienie możliwie pełnej zgodności z ustanowionymi w przepisach rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych..." %}  
                              <a href="/privacypolicy/" target="_blank">{% trans 'czytaj więcej ' %}</a>
                            </div>
                          </div>
                        
                      </span>
              </label>
          </div>



      </form>
 {% endspaceless %}
    
