{% load i18n %}
<div class="card">
<div class="card-body">
    <h2 class="card-title">{% trans 'Podstawowe informacje' %}</h2>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <div class="card-text">
        {% with profile=show_user.profile template='platform/tables/two_table.html' %}
            {% include template with key=_('Noga')               value=profile.get_prefered_leg_display|default:'-'         %}
            {% include template with key=_('Pozycja')            value=profile.get_position_raw_display|default:'-'         %}
            {% include template with key=_('Rocznik')            value=profile.birth_date.year|default:'-'|upper            %}

            {% include template with key=_('Miasto ') value=profile.address|default:'-' %}
            {% include template with key=_('Lokalizacja') value=profile.voivodeship|default:'-' %}
        {% endwith %}
    </div>

    <h2 class="card-title">{% trans 'Klub' %}</h2>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <div class="card-text">
        {% with profile=show_user.profile template='platform/tables/two_table.html' %}
            {% include template with key=_('Obecna drużyna')     value=profile.display_team|default:'-'|upper link=profile.get_team_permalink %}
            {% include template with key=_('Poziom rozgrywkowy') value=profile.display_league_top_parent|default:'-'|upper   link=profile.get_league_permalink  %}
            {% if profile.display_name_junior %}
                {% include template with key=_('Poziom')       value=profile.display_name_junior|default:'-'|upper        %} 
            {% endif %}
            {% include template with key=_('Województwo')      value=profile.display_voivodeship|default:'-' %}
        {% endwith %}
    </div>
</div>
</div>