{% load i18n %}
{% load playmaker %}
<div class="card last-game-card">
    <div class="card-body">
        <h2 class="card-title">{% trans "Ostatnie mecze"%}</h2>
        <div class="card-text text-center">
            {% if last_games %}
            <span style="font-size: 0.8rem">{% trans 'na dzień' %} {{ metrics_updated_date }}</span>
                {% include 'profiles/tables/_game_table.html' with short=True games=last_games user=show_user metrics_updated_date='' %}
            {% else %}
                <span class="heading text-muted"> 
                  {% trans 'Brak danych dla obecnego sezonu' %}  
                  <h1 style="font-size:75px;"><i class="icofont-table"></i></h1>
                </span>
            {% endif %}
        </div>
        <div class="mt-4 text-center">
            {% include 'profiles/partials/_see_more_games.html' %}
        </div>
    </div>
</div>