{% load i18n %}

<div class="card">
    <div class="card-body ">
        <h2 class="card-title">{% trans "Ostanie mecze"%}</h2>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <div class="card-text text-center">
            {% if last_games %}
                {% include 'profiles/tables/_game_table.html' with short=True games=last_games user=show_user %}
            {% else %}
                <span class="heading text-muted"> 
                  {% trans 'Brak danych dla obecnego sezonu' %}  
                  <h1 style="font-size:75px;"><i class="icofont-table"></i></h1>
                </span>

            {% endif %}


            
        </div>
        <div class="mt-4 text-center">
            {% url 'profiles:player_games' as button_url %}
            {% include 'profiles/buttons/see_more.html' with button_url=button_url %}
        </div>
    </div>
</div>