{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}


{% with template='platform/tables/two_table.html'  object=object  %}
<div class="card m-2">
    <div class="card-body">
      <div class="card-title text-center">
      {% if picture_size %}
        <img title="" class="avatar" src="{% thumbnail object.picture|default:'default_team.png' 'tables_avatar_show' %}">
      {% else %}
        <img title="" class="avatar" src="{% thumbnail object.picture|default:'default_team.png' 'profile_avatar_show' %}">
      {%  endif %}
      </div>
      <h6 class="card-subtitle mb-2 text-muted"></h6>  
  
      <div class="card-text">
       {% if see_team %}
          {% include template with key=_('Nazwa')     value=object.display_team %}
       {% endif %}
          {% if see_club %}
             {% include template with key=_('Klub')   value=object.display_club  link=object.club.get_permalink %}
          {% endif %}

        {% include template with key=_('Rozgrywki')   value=object.display_league_top_parent|default:'-'           link=object.get_league_permalink     %}
        {% if object.display_name_junior %}
            {% include template with key=_('Poziom')  value=object.display_name_junior|default:'-'|upper        %} 
        {% endif %}

        {% include template with key=_('Grupa') value=object.display_league_region_and_group_name|default:'-'                          %}

        {% if see_club %}
        {% include template with key=_('Województwo')        value=object.display_voivodeship|default:'-'      %}
        {% endif %}
        {% include template with key=_('Mężczyzni/Kobiety')  value=object.display_gender|default:'-'      %}
        {% include template with key=_('Senior/Junior')      value=object.display_seniority|default:'-'      %}
        
        {% if see_club %}
          {% get_club_link object.club text='Zobacz Klub' checks=False %}
        {% endif %}

        {% if see_team %}
          {% get_team_link object text='Zobacz Drużynę' checks=False %}
        {% endif %} 
        {% csrf_token %}

        {% if not user.is_club %}
            {% request_link user object %}
        {% endif %}
  
        {% get_team_edit_link object %}
      </div>
  </div>
</div>
{% endwith %}
