{% load i18n %}
{% load static %}
{% with template='platform/tables/two_table_true_false.html'  object=object %}
    <div class="card m-2">
        <div class="card-body">
            <h2 class="card-title">{% trans 'Podstawowe informacje' %}</h2>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <div class="card-text">
                {% if object.travel_refunds %} {% include template with key=_('Zwrot za dojazdy') value=object.travel_refunds      %} {% endif %}
                {% if object.game_bonus %} {% include template with key=_('Premie za mecze') value=object.game_bonus      %} {% endif %}
                {% if object.scolarships %} {% include template with key=_('Stypendia') value=object.scolarships      %} {% endif %}
                {% if object.gloves_shoes_refunds %} {% include template with key=_('Zwroty za buty/rękawice') value=object.gloves_shoes_refunds     %} {% endif %}
                {% if object.traning_gear %} {% include template with key=_('Sprzęt treningowy') value=object.traning_gear      %} {% endif %}
                {% if object.regular_gear %} {% include template with key=_('Sprzęt wyjściowy') value=object.regular_gear      %} {% endif %}
                {% if object.secondary_trainer %} {% include template with key=_('Drugi trener') value=object.secondary_trainer      %} {% endif %}
                {% if object.fizo %} {% include template with key=_('Fizjoterapeuta') value=object.fizo     %} {% endif %}
                {% if object.diet_suplements %} {% include template with key=_('Suplemnety / odżywki') value=object.diet_suplements      %} {% endif %}
            </div>
            <h2 class="card-title pt-3">{% trans 'Osoby w klubie' %}</h2>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            {% with template='platform/tables/two_table.html'  object=object %}
            <div class="card-text">    
                {% include template with key=_('Trener')             value=object.display_coach|default:'brak przypisanej osoby'  link=object.manager.profile.get_permalink  %}
                {% include 'clubs/_partials/editors.html' with template=template object=object %}
            </div> 
            {% endwith %}
        </div>
    </div>
{% endwith %}