{% load i18n %}
{% load playmaker %}


{% with id="addAnnouncementModal" title='Dodaj nowe ogłoszenie' %}
  <div class="modal fade bd-example-modal-lg" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ id }}Label">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div id="add-ann-out">
            
                Wykorzystałeś cały plan na dodawanie ogłoszeń w tej rundzie
                <br><br>
                Rozszerz pakiet klikając:<br>
                <a class="btn-pm btn-sm" href="https://playmaker.pro/limit/">Zwiększ limit</a>
          </div>

          <div id="add-ann-left">
            
                <small class="text-muted">
                  Możesz jeszcze dodać <strong class="btn-pm btn-pm-sm">{{user.announcementuserquota.left}}</strong> ogłoszeń.
                <br><br>
                  Jeśli jesteś zainteresowaniem rozszerzeniem pakietu 
                  <a class="" href="https://playmaker.pro/limit/">zwiększ limit</a>
         
                </small>

          
              <input id="add-ann-number" name="add-ann-number" type="hidden" value>
              <input id="add-ann-type" name="add-ann-type" type="hidden" value>
              <form id="add-announcement-form" class="mt-3" enctype="multipart/form-data" action={% url 'marketplace:add_announcement' %} method="post">
                  {% csrf_token %}
                  <span id="add-announcement-form-body"> </span>

                  <div class="modal-footer">
                    <button id="add-announcement-submit" class="btn-pm" type="submit" name="update" value="Update" id="submit-id-update">{% trans 'Dodaj ogłoszenie o testach' %}</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% if trigger %}
  <script type="text/javascript">
      $(window).on('load',function(){
          $('#{{ id }}').modal('show');
      });
  </script>
  {% endif %}

{% endwith %}
