{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

<script type="text/javascript">
    function showModal(){
        $('#missingBasicAccountModal')
          .modal({
            backdrop: 'static',
            keyboard: false})
          .modal('show');
    };
</script>

{% if editable %}
  <div class="container">
      <button
      class="btn btn-danger col col-md-2 mb-4"
      style="float: right;"
      id="activateModal"
      onclick="showModal()"
      >
      {% trans "Dodaj wideo" %}
      </button>
  </div>
{% endif %}

<div class="modal fade col-12" id="missingBasicAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <form method="post">
          <h2 class="form-section-title">{% trans "Dodaj wideo" %}</h2>
          {% crispy form %}            
          <div class="modal-footer pb-0">
              <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Anuluj" %}</button>
              <button type="submit" name="action" value="create" class="btn btn-danger">{% trans "Zapisz" %}</button> 
          </div>
        </form>
    </div>
  </div>
</div>

