{% load i18n %}
<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modalinquiryModal
</button>
-->
<!-- Modal -->

{% with id='inquiryModal' title='Ilosc zapytań osiągnięty' %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ id }}Label">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
        </button>
      </div>
      <div class="modal-body">
        Wyczerpałeś darmową ilość zapytań które możesz zrealizować w sezonie.
         <br><br>
        Jeśli jesteś zainteresowaniem rozszerzeniem pakietu: {% include 'partials/_link_limit.html' %}
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Zamknij' %}</button> 
      </div>
    </div>
  </div>
</div>
{% endwith %}


{% if trigger %}

{% endif %}