
{% load crispy_forms_tags %}
{% load i18n %}

<div class="modal fade" id="noClubModal" tabindex="-1" aria-labelledby="noClubModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="noClubModalLabel">{% trans 'Brak podpiętego klubu do konta.' %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            Musisz być połączony z klubem, aby dodać ogłoszenie. Zgłoś się na {% include 'platform/partials/contact_mail.html' %} i wskaż swój klub oraz Twoją funkcję
        </div>
        <div class="mt-4">
          <span class="text-muted"></span>
        </div>
      </div>
      
    </div>
  </div>
</div>


{% if trigger %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#noClubModal').modal('show');
    });
</script>
{% endif %}