{% load i18n %}


<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">By skorzytać dołącz do naszej spoleczności.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="signup" class="signup">
            <div class="container">
                <div  class="section-title">
                    <h2 class="mb-3 text-center">DOŁĄCZ JUŻ TERAZ</h2>
                    <p>DO SPOŁECZNOŚCI PIŁKARSKIEJ</p>
                </div>
                <div class="row d-flex justify-content-center">
                    {% include "account/_login.html" with next=request.path %}
                </div>
            </div>
        </section>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% if trigger%}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#registerModal').modal('show');
    });
</script>
{% endif %}