{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6 ">
          <h1 class="mb-5">Znajdź i bądź znalezionym w świecie piłki nożnej! </h1>
          <h2>Szukaj <span id="word" >piłkarzy</span><span class="main-color"></span></h2>
          <a href="/signup/" class="btn-get-started scrollto btn-lg"><h2 style="margin-top:0px;">ZAŁÓŻ DARMOWE KONTO</h2></a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<div class="text-center" style="position:relative; top:-50px;  z-index:666;height:85px; background-color:#fff;transform: skewY(-2.1deg);"></div>

    <!-- ======= Player Service Section ======= -->
    <section id="players" class="players">
      <div class="container">
        <div class="section-title">
          <h1><span style="color:grey"> {% trans 'PIŁKARZ' %} </span> </span></h1> <h2> {% trans 'STAŃ SIĘ WIDOCZNY W ŚWIECIE PIŁKI NOŻNEJ' %}</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="player-box">
              <i class="icofont-users"></i>
              <p>Zaprezentuj się trenerom, skautom oraz klubom. Złóż swoje piłkarskie CV, a my dołączymy do niego zweryfikowane statystyki</p>
             <a href="/users/player-jacek-jasinski/" class="btn-owl" alt="clubs-base">Zobacz przykład</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="player-box">
              <i class="icofont-spinner-alt-3"></i>
              <p>Szukaj klubu. Szukaj testów. Szukaj szkółki. Brak ofert o Twoich wymaganiach? Pomożemy Ci w transferze w Polsce i za granicą. </p>
               <a href="/transfer" class="btn-owl" alt="clubs-base">Szukaj klubu</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="player-box">
              <i class="icofont-star"></i>
              <p>Obserwuj piłkarzy, trenerów oraz kluby. Otrzymuj powiadomienia o ich wynikach. Zapraszaj znajomych i rywalizuj z nimi w Fantasy dla niższych lig.</p>
              <a href="/signup/" class="btn-owl" alt="clubs-base">Graj w fantasy</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="player-box">
              <i class="icofont-listine-dots"></i>
              <p>Korzystaj z produktów dodatkowych. Dietetyk, Trener motoryczny, Trener bramkarzy, Trener techniki, Trener mentalny. Raport skautingowy z Twojej gry.</p>
                <a href="/signup/" class="btn-owl" alt="clubs-base">Skorzystaj z produktów</a>
            </div>
          
        </div>
        <div class="col text-center">
          <a href="/signup/" class="btn-owl btn-owl-big  btn-lg">Dołącz za darmo</a>
        </div>
      </div>
    </section><!-- End Player Service Section -->


 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skauting Play<span class="main-color">Maker</span>.Pro</h2>
          <p>Sprawdź wsparcie skautingowe dedykowane dla zarządzających klubami. Rozwiążemy Twoje kadrowe problemy. Znajdziemy talenty w określonym regionie. Przeprowadzimy dla Ciebie nabór do szkółki piłkarskiej.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <h3>Kluby półprofesjonalne</h3>
              <h2>III liga - B klasa</h2>
              <p></p>
              <hr>
              <ul>
                <li>Określamy parametry piłkarzy</li>
                <li>Wyznaczamy region obserwacyjny</li>
                <li>Analizujemy statystycznie piłkarzy*</li>
                <li>Wystawiamy raport skautingowy</li>
                <li>Kontaktujemy się z zawodnikami**</li>
                <li>Rozliczamy się od efektu: testów i transferu</li>
              </ul>
            
              <div class="btn-wrap">
                <a href="www.playmaker.pro/scouting/" class="btn-buy">zobacz więcej</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="box featured" data-aos="fade-up" data-aos-delay="100">
            <h3>Kluby profesjonalne</h3>
              <h2>Ekstraklasa - III liga</h2>
              <p></p>
              <hr>
              <ul>

                <li>Określamy parametry piłkarzy</li>
                <li>Wyznaczamy region obserwacyjny</li>
                <li>Analizujemy statystycznie piłkarzy*</li>
                <li>Obserwujemy na żywo lub online</li>
                <li>Pozyskujemy niezależne opinie</li>
                <li>Weryfikujemy social media </li>
                <li>Konsultujemy systematycznie raporty skautingowe </li>
                <li>Rekomendujemy wyróżniających się piłkarzy</li>
              </ul>

              <div class="btn-wrap">
                <a href="/scouting/" class="btn-buy">Zobacz więcej</a>
              </div>
            </div>
            </div>
 


          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>Drużyny młodzieżowe</h3>
              <h2>Szkółki i akademie</h2>
              <p></p>
              <hr>
              <ul>
                <li>Określamy parametry piłkarzy</li>
                <li>Wyznaczamy region obserwacyjny</li>
                <li>Analizujemy statystycznie piłkarzy*</li>
                <li>Wystawiamy raport skautingowy </li>
                <li>Kontaktujemy się z rodzicami**</li>
                <li>Rozliczamy się od efektu: testów i transferu</li>
              </ul>
            
              <div class="btn-wrap">
                <a href="www.playmaker.pro/scouting/semi-pro" class="btn-buy">zobacz więcej</a>
              </div>
            </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->



    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">
        
        <div class="section-title">
          <h2><span style="color:grey"> Klub | Trener | Szkółka piłkarska </span></h2> <h1>Szukaj piłkarzy i buduj swoją kadrę</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <h3></h3>
            <p class="font-italic">
          
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Skorzystaj z darmowej bazy PlayMaker.pro i filtruj ją według własnych upodobań. Jednym kliknięciem zapraszaj zawodników na testy w swoim klubie! 
                      </li>
                      <a href="/tables/players/" class="btn-owl mb-5">Zobacz bazę piłkarzy</a>
              <li><i class="ri-check-double-line"></i>Baza piłkarzy nie spełnia Twoich oczekiwań? Zleć poszukiwania skautom PlayMaker.pro! Znajdziemy zawodników o konkretnych cechach na każdym poziomie rozgrywkowym. Skorzystaj z profesjonalnego monitoringu wybranego regionu. 
                      </li>
                      <a href="/scouting/" class="btn-owl scrollto">Zobacz ofertę</a>
            </ul>
            <p>
              
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'assets/img/screenshots/pm1.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section><!-- End Tabs Section -->




    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">
        <div class="section-title">
          <h1><span style="color:grey"> </span> </span></h1> <h2> Zaufali nam</h2>
        </div>
        <div class="owl-carousel main-clients-carousel mb-4">
          <img src="{% static 'assets/img/clubs/club_none.png' %}" alt="club_none">
          <img src="{% static 'assets/img/clubs/club_none.png' %}" alt="club_none">
          <img src="{% static 'assets/img/clubs/club_4.png' %}" alt="club_4">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_7.png' %}" alt="club_4"> 
          <img src="{% static 'assets/img/clubs/club_none.png' %}" alt="club_none">
          <img src="{% static 'assets/img/clubs/club_none.png' %}" alt="club_none">
        </div>
        <div class="owl-carousel clients-carousel">
          <img src="{% static 'assets/img/clubs/club_1.png' %}" alt="club_1">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_2.png' %}" alt="club_2">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_3.png' %}" alt="club_3">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_5.png' %}" alt="club_5">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_6.png' %}" alt="club_6">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_8.png' %}" alt="club_6">   <!--@todo to z bazy wyciagac i alt dac jako name-->
          <img src="{% static 'assets/img/clubs/club_10.png' %}" alt="club_6">   <!--@todo to z bazy wyciagac i alt dac jako name-->
        </div>
      </div>
    </section><!-- End Clients Section -->



<!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>Kto jeszcze może korzystać z platformy?</h3>
              <p>
                Niezależnie od tego, czy jesteś kibicem, skautem, dyrektorem sportowym, rodzicem młodego adepta, obserwatorem, czy menadżerem – PlayMaker.pro spełni Twoje oczekiwania! Zarejestruj się i zyskaj szereg możliwości dostępnych w serwisie.
              </p>
              <a href="/signup/" class="about-btn"><span>załóż konto </span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="icofont-search-user"></i>
                  <h4>Moduł obserwacji</h4>
                  <p>Obserwuj kluby, trenerów, piłkarzy i śledź ich rozwój. Otrzymuj regularne powiadomienia o ich boiskowych wynikach. Wszystko w jednym miejscu, bez zbędnego otwierania kolejnych okien</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="icofont-score-board"></i>
                  <h4>Moduł wyników</h4>
                  <p>Przeglądaj w przejrzysty sposób rozgrywki niższych lig. Wyniki, tabele oraz terminarze rozgrywek seniorskich, juniorskich, a także kobiecych. </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="icofont-listine-dots"></i>
                  <h4>Produkty PlayMaker</h4>
                  <p>Dostęp do piłkarskich produktów, konsultacji dietetycznych, trenerów przygotowania motorycznego, siłowego, piłkarskiego oraz mentalnego.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Zostań skautem</h4>
                  <p>Korzystaj z naszej aplikacji skautingowej (w trakcie realizacji) dla własnych potrzeb lub zostań przy jej pomocy skautem PlayMaker.Pro. </p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->




    
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h1><span style="color:grey"></span> </span></h1> <h2>Liczby PlayMakera</h2>
        </div>
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-team"></i>
              <span data-toggle="counter-up">1,078</span>
              <p>Liczba piłkarzy z pełnym CV</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-users"></i>
              
              <span data-toggle="counter-up">102</span>
              <p>Liczba zarejestrowanych klubów i trenerów</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-field"></i>
              <span data-toggle="counter-up">84</span>
              <p>Liczba wysłanych piłkarzy na testy</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-search-user"></i>
              <span data-toggle="counter-up">11</span>
              <p>Liczba przeprowadzonych naborów do szkółek</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->





    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kontakt</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Grupa z testami piłkarskimi na facebook</h3>
                  <p><a href="https://www.facebook.com/groups/267711464603689/">Dołącz do grupy</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Napisz do nas</h3>
                  <p>biuro@playmaker.pro<br>skauting@playmaker.pro</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Zadzwoń</h3>
                  <p>504 271 466<br>605 243 505</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/contact/" method="post" role="form" class="php-email-form">
             {% csrf_token %}
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Twoje imie" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email kontaktowy" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Wyślij zapytanie</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock content %}


{% block extra_js %}
<script>
  $(function () {
    count = 0;
    wordsArray = ["testów", "piłkarzy", "klubu", "talentów", "trenera"];
    setInterval(function () {
      count++;
      $("#word").fadeOut(400, function () {
        $(this).text(wordsArray[count % wordsArray.length]).fadeIn(400);
      });
    }, 4000);
  });
</script>
{% endblock %}