{% extends 'inner_base.html' %}

{% block content %}
    <section class="first-section"> 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>

              </tr>
            </thead>
            <tbody>
                {% for i in items %}
              <tr>
                <th scope="row">1</th>
                <td>{{ i }}</td>
              
              </tr>
              {% endfor %}
              
            </tbody>
          </table>

    </section>
{% endblock %}