# 
__*/
# Google Analitics htmls
ga.html
# venvs
static/CACHE/
.vnv
.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
public/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

# Logs:
*.log

# Local Environment configuration files:
local.py
_local.py
local.env

# Environment variables
*_wix_dump.csv
*.csv
misc
_misc

# Django stuff:
*.mo
*.pot

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Rope
.ropeproject

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Project settings

./site/
media/original_images/
media/team_pics/
media/club_pics/
media/profile_pics/
media/documents/
media/images/

# other scripts..
custom_script_*.py

# Ipynb
.ipynb_checkpoints

.idea/