[tool.flake8]
max-line-length = 88

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "backend.settings.test"
addopts = "-p no:warnings"
# -- recommended but optional:
python_files = "tests.py test_*.py *_tests.py"
norecursedirs = "__IGNORE/*"


[tool.black]
include = '\.py$'
line-length = 88
