[tool.flake8]
max-line-length = 88

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "backend.settings.test"
addopts = "-p no:warnings"
# -- recommended but optional:
python_files = "tests/* test/*"
norecursedirs = "__IGNORE/*"

[tool.black]
include = '\.py$'
line-length = 88
