{% load i18n %}
{% load static %}

<div class="slideshow_container_desktop">

    <div class="d-flex position-relative slideshow_container_main_desktop">


        <div class="" data-target="1">
            <div class="">
                <div class="text-left">
                    <p>PlayMaker Score 2.0 jest współczynnikiem oceniającym potencjał piłkarza do rozwoju na bazie jego podstawowych statystyk piłkarskich.
                        To model ekonometryczny, który bierze pod uwagę takie dane meczowe jak: poziom rozgrywkowy, pierwszy skład, minuty, zdobyte punkty oraz gole strzelone/stracone.
                        Wynikiem prac nad PMS 2.0 jest ocena zawodnika w punktacji 1-100, która jest przeliczana po każdym meczu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>