{% load i18n %}


{% with text=text button_url=button_url icon="user" alt="see-profile" class="btn-pm btn-pm-sm" %}
    {% if modals.register.load %}
        <a href="#" alt="{{ alt }}" class="{{ class }}" data-toggle="modal" data-target="#{{ modals.register.name }}">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% elif modals.need_role.load %}
        <a href="#" class="{{ class }}" alt="{{ alt }}" data-toggle="modal" data-target="#{{ modals.need_rol.name }}">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% elif modals.verification.load %}
        <a href="#" class="{{ class }}" alt="{{ alt }}" data-toggle="modal" data-target="#{{ modals.verification.name }}">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% elif modals.need_verification.load %}
        <a href="#" class="{{ class }}" alt="{{ alt }}" data-toggle="modal" data-target="#{{ modals.need_verification.name }}">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% else %}
        <a href="{{ button_url }}" class="{{ class }}" alt="see-profile">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% endif %}

{% endwith %}
