{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}



{% block title %}{{ block.super }} {{ page_title }} {% endblock %}


{% block header %}
    {% with menus_heading_title=page_title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title %}
    {{ block.super }}
{% endblock %}



{% block content %}
<section id="profile" class="profile">
  <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
              <h2 class='form-section-title'>{% trans 'Ustawienia konta' %}</h2>
          </div>
        </div>


        {% if user.is_player or user.is_coach or user.is_club  %}
        <div class="row p-3 mb-4">
          <div class="col-sm-3"> 
            <i class="ri-check-double-line"></i> 
            {% if user.is_player  %}
            Możesz wysłać <strong>{{ user.userinquiry.left }}</strong> zapytań o testy do 30.06.2021. 
            {% elif user.is_coach or user.is_club %}
            Możesz wysłać <strong>{{ user.userinquiry.left }}</strong> zaproszeń na testy do 30.06.2021.
            {% endif %}
          </div>
          <div class="col-sm-6">
            <a class="btn-pm btn-pm-sm" href="https://playmaker.pro/limit/">zwiększ limit</a>
          </div> 
        </div>
        {% endif %}







        <div class="row p-3 mb-4">
          <div class="col-sm-3"> 
            <i class="ri-check-double-line"></i> {% trans 'Połącz konta społecznościowe. Dzięki temu będziesz mogł logować się za pomocą nich' %}
          </div>
          <div class="col-sm-6">
            <a class="btn-pm btn-pm-sm" href="{% url 'socialaccount_connections' %}">{% trans 'Połącz konta'%}</a>
          </div> 
        </div>

        <div class="row p-3 mb-4">
          <div class="col-sm-3">
            <span class=""><i class="ri-check-double-line"></i> {% trans 'Ustaw nowe hasło' %}</span>
          </div>

          <div class="col-sm-6">
            <a class="btn-pm btn-pm-sm" href="{% url 'account_reset_password' %}">{% trans 'Dodaj/Resetuj' %}</a>
          </div>
        </div>   
 
        <div class="row p-3 mb-4">
            <div class="col-sm-3">
              <i class="ri-check-double-line"></i> 
              {% trans 'Ustaw nowy adres e-mail bądź dodaj nowy adres z którego będziesz chciał się logować' %} 
              <div class='text-muted'>(obecny: {{ user.email }})</div>
            </div>

            <div class="col-sm-6">
              <a class="btn-pm btn-pm-sm" href="{% url 'account_email' %}">{% trans 'Dodaj/Zmień'%} </a>
            </div>
        </div>

        <div class="row p-3 mb-4">
          {% if user.is_pending_role_change %}
            <div class="col-sm-12"> 
              <div class="alert alert-danger">
                Oczekujesz na akceptacje zmiany konta z <strong>{{user.pending_role_change.current_pretty}}</strong> na <strong>{{user.pending_role_change.new_pretty}}</strong> 
                <form enctype="multipart/form-data" method="post" action="{% url 'profiles:rolechange_self' %}">
                  {% csrf_token %}
                  <input type="submit" class="btn-pm btn-pm-sm" name="cancel" value="{% trans 'Cofnij prośbę' %}"  id="submit-id-cancel">
                  <input type="hidden" name="cancel" value="True"> 
                </form>
              </div>
            </div>
          {% else %}

            <div class="col-sm-3">  
              <i class="ri-check-double-line"></i> {% trans 'Wybierz nowa rolę (obecna:' %} {{ user.get_declared_role_display }})
            </div> 
            <div class="col-sm-9"> 
              <form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'profiles:rolechange_self' %}">
        
                  <button class="btn-pm btn-pm-sm" type="submit" name="update" value="Update" id="submit-id-update">{% trans 'Chcę zmienić role' %}</button>
                {% crispy role_form %}
                </form>
            </div>
        {% endif %}
        </div>
        
        
        <div class="row p-3 mb-4">
          <div class="col-sm-3"> 
            <i class="ri-check-double-line"></i> {% trans 'Chcę otrzymywać co tygodniowy raport aktywności mojego konta.' %}
          </div>
          <div class="col-sm-6">
             <input type="checkbox" onclick="updateSettings(event)" {% if user.notificationsetting.weekly_report %} checked {% endif %}>
          </div> 
        </div>
        
    </div>
</section>
{% endblock content %}



