{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }} {% trans 'Edycja profilu' %} {% endblock %}

<!-- Benefits of the Django application -->
{% block content %}
<section id="profile" class="profile">
  <div class="container" data-aos="fade-up">
    <div class="profile-head mb-3">
      <h1>{% trans 'Edycja ustawień konta' %}</h1>
    </div>
   
      <form class='profile-edit-form' enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
              <h2 class='form-section-title'>{% trans 'Ustawienia konta' %}</h2>

              {% crispy user_form %}


              <a class="btn-pm pull-right" href="{% url 'account_reset_password' %}">{% trans 'Zmień hasło' %}</a>
            </div>
            <div class="col-md-3">
            <div class="text-center">
              <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.picture|default:'default_profile.png' 'profile_avatar_show' %}">
            </div>
          </div>
 
        </div>
        <button type="submit" name="update" value="Update" id="submit-id-update">{% trans 'Aktualizuj' %}</button>
      </form>


      <div> 
        {% if user.is_pending_role_change %}
        <div class="alert alert-danger">
          Oczekujesz na akceptacje zmiany konta z <strong>{{user.pending_role_change.current_pretty}}</strong> na <strong>{{user.pending_role_change.new_pretty}}</strong> 
          <form enctype="multipart/form-data" method="post" action="{% url 'profiles:rolechange_self' %}">{% csrf_token %}
            <input type="submit" name="cancel" value="Cofnij prośbę" class="btn btn-primary" id="submit-id-cancel">
            <input type="hidden" name="cancel" value="True"> 
          </form>
        </div>
        {% else %}
        <form enctype="multipart/form-data" method="post" action="{% url 'profiles:rolechange_self' %}">
          {% crispy role_form %}
          <button type="submit" name="update" value="Update" id="submit-id-update">{% trans 'Chcę zmienić role' %}</button>
        </form>
        {% endif %}
        
          
        
      </div>
    </div>
  </div>
</div>
<!--div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default pull-right" href="{% url 'account_reset_password' %}">Change Password</a>
    </div>
  </div>
</div-->
</section>
{% endblock content %}



