{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }} {% trans 'Edycja profilu' %} {% endblock %}

<!-- Benefits of the Django application -->

{% block content_header %}
  {{ block.super }}
  {% include '_page_heading_with_picture.html' with image=user.picture %}
{% endblock content_header %}



{% block content %}
<section id="profile" class="profile">
  <div class="container-fluid m-2 p-4" data-aos="fade-up">
        <h1> KONTO {{ user.get_declared_role_display|upper }} </h1>

               <form class='profile-edit-form row' enctype="multipart/form-data" method="post">
                  {% crispy user_basic_form %}
                  {% crispy profile_form %}
                  
                <div class="col-12">
                <button type="submit" name="update" value="Update" id="submit-id-update">{% trans 'Aktualizuj CV' %}</button>
                </div>
               </form>



      <div>         
      </div>
    </div>
  </div>
</div>

</section>
{% endblock content %}



