{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }} {% trans 'Moje Fantasy' %} {% endblock %}



{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}



<!-- Benefits of the Django application -->
{% block content %}


<section id="profile-fantasy" class="profile">

  <div class="container" data-aos="fade-up"> 

<div class="row">
            <div class="col-lg-7 mx-auto">
                    {% if fantasy is None or not fantasy.data  %}
                     
                        {% include 'platform/partials/_empty.html' %}
                           
                        <h4>Przygotwoujemy statystyki dla Twojego konta.</h4>
                        <p>Uzupełnienie w całości Twojego piłkarskiego profilu pozwoli nam sporządzić odpowiednie metryki.</p>
                    {% endif%}

                {% for game in fantasy.data %}
                <!-- Timeline -->
                <ul class="timeline">
                    <h5> {{game.game_header}}</h5>
                    {% for score in game.scores %}

                    <li class="timeline-item bg-white rounded m-2 p-3 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0"></h2>
                        <span class="badge badge-success">+{{ score.score }}ptk</span> {{ score.reason}}
         
                    </li>

                    {% endfor %}


                </ul><!-- End -->
                {% endfor %}    
            </div>
        </div>
  </div>

<div class="debug">
  
 </div> 
</section>
{% endblock content %}


