
{% extends "profiles/base.html" %}

{% load playmaker %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }} {% trans 'Obserwowani' %} {% endblock %}



<!-- Benefits of the Django application -->
{% block content %}
<section id="profile-games" class="profile">

<div class="container" data-aos="fade-up"> 
    <div class='row justify-content-center'>
        <div class='col-md-12'>
        {% for item in page_obj %}
            {% include 'profiles/partials/_two_table.html' with key=item.target.first_name|add:' '|add:item.target.last_name value='obserwowany' %} {% profile_link item.target %}

        {% empty %}
            nikogo nie obserwujesz
        {% endfor %} 
        </div>   
        <div class='col-md-12'>
            {% include 'platform/partials/_pagination.html' %}
        </div>
    </div> <!-- 'row' -->
</div>

</section>
{% endblock content %}


