{% load i18n %}
{% load thumbnail %}

<div class="page-heading " style="box-shadow: 0px -2px 7px #aaaaaa;">
        <div class="container pt-2"ata-aos="fade-up">
            <div class="row">
                <div class="col-md-8">
                    <div class="row no-gutters">
                        <div class="d-none d-md-block col-md-2">
                            <img class=" avatar rounded-circle img-responsive" title="profile picture" src="{% thumbnail show_user.picture|default:'default_profile.png' 'profile_avatar_show_mobile' %}">
                        </div>
                        <div class="d-md-none col-4 pull-right">
                            <img class="d-md-none avatar rounded-circle img-responsive" title="profile picture" src="{% thumbnail show_user.picture|default:'default_profile.png' 'profile_avatar_show_mobile' %}">
                        </div>

                        <div class="col-8">
                            <h1 class="d-none d-md-block acc-name" style="#1b1b1b;">{{ show_user.get_full_name.upper }}</h1>
                            
                            <div class="text-muted acc-info" >
                                <strong> {{ show_user.profile.history.counter }} </strong> {% trans 'wizyt' %}
                            </div>  
                            <div class="text-muted  acc-info">
                                <strong> {{ show_user.follower_set.count }} </strong> {% trans 'obserwujących' %}
                            </div> 
                             
                            <span class="d-md-none d-block"> {% include 'profiles/partials/_acc_status.html' %} </span>
                            <div class="d-md-none d-inline"> {% include 'profiles/partials/_profiles_buttons.html' %}</div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                         <h1 class=" d-md-none pl-3 acc-name">{{ show_user.get_full_name.upper }}</h1>
                            
                        <div class="col-12">
                            {% include 'profiles/partials/_inquire_message.html' %}
                        </div>
                        <div class="col-md-12 d-none d-md-block">
                           {% include 'profiles/partials/_acc_status.html' %}
 
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row ">
            
                <div class="d-flex align-items-center">
                    {% include 'profiles/partials/profile_nav_buttons/_nav_buttons_as_tab__role__.html' %}
                </div>
                <div class="d-flex align-items-center ">
                    <span class="d-none d-md-block">
                    {% include 'profiles/partials/_profiles_buttons.html' %}
                    </span>
                </div>
               
                
            </div>


        </div>




</div>