

{% load thumbnail %}


<div class="container" data-aos="fade-up"> 
    

    <div class="row">

        <div class="col-1">
            
                <img title="profile picture" class="avatar rounded img-responsive" src="{% thumbnail user.picture|default:'default_profile.png' 'tables_avatar_show' %}">
            
        </div>
        <div class="col">
                <div>
                    {{ user.get_full_name.title }}
                </div>

                <div>
                    {{ user.profile.display_team }}  ({{ user.profile.get_position_raw_display }})
                </div>

                <div>
                    Wiek: {{ user.profile.age }} lat
                </div>
        </div>
        <div class="col-1 pull-right">
            <img title="" class="avatar" src="{% thumbnail user.profile.get_team_object.picture|default:'default_team.png' 'tables_avatar_show' %}">

        </div>
    </div>


    <div class="row">
    Mecze kariera  Transgery.....
    </div>

        <div class="row">
    Liga Puchar krajowe Puchary...
    </div>


            <div class="row">
    tabela....
    </div>
</div> 