{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load playmaker %}
{% spaceless %}
{% block title %}{{ block.super }} {% trans 'Moje zapytania' %} {% endblock %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}



{% block content %}
<section id="tables" class="tables" style="background-color:#fff;margin-top:5px">
  {% csrf_token %}
  <div class="container-fluid" data-aos="fade-up"> 

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for tab in tabs %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if forloop.first %} active {% endif %}" id="{{ tab.name }}-tab" data-toggle="tab" href="#{{ tab.name }}" role="tab" aria-controls="{{ tab.name }}" aria-selected="true">
                    {{ tab.title }}

                {% if tab.badge %} 
                    <span class="badge bg-info  {{ tab.badge.class }}">{{ tab.badge.number }}</span> 
                {% endif %} 
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content mt-4" id="myTabContent">    
            {% for tab in tabs %}
                <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" id="{{ tab.name }}" role="tabpanel" aria-labelledby="{{ tab.name }}-tab">
                    {% for object in tab.objects %}
                    <div class="card item-card">
                        <div class="card-header d-md-none">
                            <span> 
                            {% if object.sender != user %}
                                {% if not object.sender.is_club %}
                                <img class="flag" src="{{ object.sender.profile.country.flag }}" alt="flag">
                                {% endif %}
                                {{object.sender.first_name|upper}} {{ object.sender.last_name|upper}} 
                            {% else %}
                                {% if not object.recipient.is_club %}
                                <img class="flag" src="{{ object.recipient.profile.country.flag }}" alt="flag">
                                {% endif %}
                                {{object.recipient.first_name|upper}} {{ object.recipient.last_name|upper}} 
                            {% endif %}
                            </span>
                            
                            <span class="float-right"> 
                            {% if object.sender != user %}
                                {% profile_link object.sender checks=False text='profil' %}
                            {% else %}
                                {% profile_link object.recipient checks=False text='profil' %}
                            {% endif %}
                            </span>
                        </div>
                        
                        <div class="d-md-none">
                            {% if object.sender != user %}
                            <img class="avatar rounded-circle img-responsive" src="{% thumbnail object.sender.picture|default:'default_profile.png' 'tables_avatar_show_small' %}">
                            {% else %}
                            <img class="avatar rounded-circle img-responsive" src="{% thumbnail object.recipient.picture|default:'default_profile.png' 'tables_avatar_show_small' %}">
                            {% endif %}
                        </div>

                        <div class="card-body table-item"> 
                            <div class="row no-gutters">
                                <div class="d-none d-md-inline col-md-3">

                                {% if object.sender != user %}
                                    <a href={{object.sender.profile.get_permalink }}>
                                        <img class="avatar rounded img-responsive" src="{% thumbnail object.sender.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
                                        {% if not object.sender.is_club %}
                                        <img class="flag" src="{{ object.sender.profile.country.flag }}" alt="flag">
                                        {% endif %}
                                        {{object.sender.first_name|upper}} {{ object.sender.last_name|upper}} 
                                    </a>
                                {% else %}
                                    <a href={{object.recipient.profile.get_permalink }}>
                                        <img class="avatar rounded img-responsive" src="{% thumbnail object.recipient.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
                                        {% if not object.recipient.is_club %}
                                        <img class="flag" src="{{ object.recipient.profile.country.flag }}" alt="flag">
                                        {% endif %}
                                        {{object.recipient.first_name|upper}} {{ object.recipient.last_name|upper}} 
                                    </a>
                                {% endif %}
                                </div>

                                <div class="d-none d-md-inline col-md">
                                        
                                    <button disabled  
                                    {% if object.is_active %}
                                    class="btn btn-sm btn-warning"
                                    {% elif object.status == object.STATUS_ACCEPTED %}
                                    class="btn btn-sm btn-success"
                                    {% elif object.status == object.STATUS_REJECTED %}
                                    class="btn btn-sm btn-danger "
                                    {% endif %}>
                                        {{ object|status_display_for:user|upper }}
                                    </button>
                                    

                                </div>

                                <div class="col-12 col-md-3"> 
                                    {% if object.sender != user %}
                                        {% if object.status == object.STATUS_ACCEPTED %}
                                            {{ object.body|default:''  }}
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <div class="col-3 col-md"> 
                                    {{ object.created_at|date:'Y-m-d H:i'  }}
                                </div>
                                {% if tab.actions %}
                                <div class="d-none d-md-inline col-md">
                                    <span class="float-right"> 
                                        {% comment %} {% profile_link object.sender checks=False text='profil' %} {% endcomment %}
                                        {% if object.is_active %}
                                            {% update_request_button object accept=True %}
                                            {% update_request_button object accept=False %}
                                        {% endif %}
                                    </span>

                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if tab.actions %}
                        <div class="card-footer  d-md-none">
                            <span class="float-right"> 
                                    <button disabled  
                                    {% if object.is_active %}
                                    class="btn btn-sm btn-warning"
                                    {% elif object.status == object.STATUS_ACCEPTED %}
                                    class="btn btn-sm btn-success"
                                    {% elif object.status == object.STATUS_REJECTED %}
                                    class="btn btn-sm btn-danger "
                                    {% endif %}>
                                        {{ object|status_display_for:user|upper  }}
                                    </button>
                                
                                {% if object.is_active %}
                                    {% update_request_button object accept=True %}
                                    {% update_request_button object accept=False %}
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                    </div> 
                    {% empty %}

                        <div class="col text-center">
                            {% include 'platform/partials/_empty.html' with position='center' text_header=tab.empty.text_header text_body=tab.empty.text_body %}
                        </div>
                    {% endfor %}
                </div> <!-- tab end 1 -->
            {% endfor %}
        </div>

    </div>  <!-- end of conatiner-->
</section>
{% endblock content %}
{% endspaceless %}
