{% extends "profiles/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load playmaker %}
{% spaceless %}
{% block title %}{{ block.super }} {% trans 'Moje zapytania' %} {% endblock %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}


{% block content %}
<section id="tables" class="tables requests" style="background-color:#fff;margin-top:5px">
  {% csrf_token %}
  <div class="container-fluid" data-aos="fade-up"> 

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for tab in tabs %}
            <li class="nav-item" role="presentation">
                <a class="nav-link " data-unseen="{{ tab.unseen }}" id="{{ tab.name }}-tab" data-toggle="tab" href="#{{ tab.name }}" role="tab" aria-controls="{{ tab.name }}" aria-selected="true">
                    {{ tab.title }}
                {% if tab.badge.number != 0 %}   
                    <span class="badge bg-{{ tab.badge.class }}  badge-{{ tab.badge.class }}">{{ tab.badge.number }}</span> 
                {% endif %} 
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content mt-4" id="myTabContent">    
            {% for tab in tabs %}
                <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" id="{{ tab.name }}" role="tabpanel" aria-labelledby="{{ tab.name }}-tab">
                    {% for object in tab.objects %}
                    <div class="card item-card">
              
                        <div class="card-body table-item"> 
                            <div class="row no-gutters">

                                <div class="col-9 col-md-4">
                                    {% inquiry_display_name object %}

                                </div>

                                <div class="d-md-none pull-right"> 
                                    {% if object.sender != user %}
                                        {% profile_link object.sender checks=False text='profil' %}
                                    {% else %}
                                        {% profile_link object.recipient checks=False text='profil' %}
                                    {% endif %}
                                </div>

                                <div class="sc-cell d-none d-md-flex col-md-2">
                                    <span>
                                     {% include 'inquiries/partials/status.html' with object=object %}
                                     </span>  
                                </div>

                                <div class="sc-cell d-flex col-6 col-md-3"> 
                                   
                                    {% if object.sender != user %}
                                        {% if object.body %}
                                        <small class="text-muted"> Kontakt:</small>
                                        {% endif %}
                                        {{ object.body|default:''  }}
                                    {% else %}
                                        {% if object.body_recipient %}
                                         <small class="text-muted"> Kontakt:</small>
                                        {% endif %}
                                        {{ object.body_recipient|default:''  }}
                                    {% endif %}
                                </div>

                                <div class="sc-cell d-none d-md-flex col-md-1"> 
                                    {{ object.created_at|date:'Y-m-d H:i'  }}
                                </div>

                                
                            </div>
                        </div>
                       
<!--   mobile       --> <div class="card-footer d-md-none">
                            <span class="float-left"> 
                                <small class="text-muted">{{ object.created_at|date:'Y-m-d H:i'  }}</small>
                            </span>
                            <span class="float-right"> 
                             
                                {% include 'inquiries/partials/status.html' with object=object%}
                                    
                                  
                               
                                {% if object.is_active and tab.actions %}
                                    {% update_request_button object accept=True %}
                                    {% update_request_button object accept=False %}
                                {% endif %}
                            </span>
                        </div>
                      
                    </div> 
                    {% empty %}

                        <div class="col text-center">
                            {% include 'platform/partials/_empty.html' with position='center' text_header=tab.empty.text_header text_body=tab.empty.text_body %}
                        </div>
                    {% endfor %}
                </div> <!-- tab end 1 -->
            {% endfor %}
        </div>

    </div>  <!-- end of conatiner-->
</section>
{% csrf_token %}
{% endblock content %}
{% endspaceless %}


{% block extra_js %}

    {{ block.super }}
    <script src="{% static 'assets/js/requests.js' %}"></script>
    
    <script>
// Select first tab
$(document).ready(function() {
    $('.nav-tabs a:first').tab('show');
});


    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        console.log($(this).data('unseen') )
        if ($(this).data('unseen') != '') {
            seenRequests(e, $(this).data('unseen'))
        }
})
    </script>
{% endblock %}