{% extends "profiles/base.html" %}

{% load static %}
{% load thumbnail %}


{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'assets/css/circle.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4  %}
    {{ block.super }}
{% endblock %}

{% block content %}  <!-- @todo frontend to be renovated to adjust template-->

{% include 'profiles/player_subpage_header_black.html' %}

<section id="profile" class="profile" style="padding-top:10px;">
  <div class="container profile-container" data-aos="fade-up">
      <div class="row">
        <div class="col-sm-6">{% include 'profiles/cards/coach/card_primary.html' %}</div>
        <div class="col-sm-6">{% include 'profiles/cards/coach/card_season.html' %}</div>
        <div class="col-sm-6">{% include 'profiles/cards/coach/card_latest_games.html' %}</div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'assets/js/progress.js' %}"></script>
{% endblock extra_js %}