{% extends "profiles/base.html" %}

{% load static %}
{% load thumbnail %}

{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title %}
    {{ block.super }}
{% endblock %}


{% block content %}
<section id="profile" class="profile" style="padding-top:10px;">
  <div class="containerprofile-container" data-aos="fade-up">
      <div class="row">
        <div class="col-sm-6">{% include 'profiles/cards/_coach_account_card.html' %}</div>
        <div class="col-sm-6">{% include 'profiles/cards/_coach_clubs_card.html' %}</div>
      </div>
    </div>
  </div>
</section>
{% endblock content%}