{% extends "profiles/base.html" %}

{% load static %}
{% load thumbnail %}

{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}



{% block content %}  <!-- @todo frontend to be renovated to adjust template-->
<section id="profile" class="profile" style="padding-top:10px;">
  <div class="container profile-container" data-aos="fade-up">
    <div class="container profile-head">
      <div class="row">
        <div class="col-sm-6">{% include 'profiles/cards/_coach_account_card.html' %}</div>
        <div class="col-sm-6">{% include 'profiles/cards/_coach_clubs_card.html' %}</div>
      </div>  <!-- end row -->
    </div> <!-- end container -->
  </div>
</section>
{% endblock content%}

