{% extends "profiles/base.html" %}

{% load static %}
{% load thumbnail %}

{% block content %}  <!-- @todo frontend to be renovated to adjust template-->

{% include 'profiles/banners/_unfinished_account.html' with show_user=show_user %}

<section id="profile" class="profile">
  <div class="container" data-aos="fade-up">
    {% if editables %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
    {% endif %}
       
    <div class="container profile-head">
      <div class="row">
        <div class="col-sm-6">
            {% include 'profiles/cards/_account_card.html' %}
        </div>

        <div class="col-sm-6">
          {% include 'profiles/cards/_player_primary_card.html' %}
        </div>

        <div class="col-sm-12">
           {% include 'profiles/cards/_player_about_card.html' %}
        </div>
        
        <div class="col-sm-6">
           {% include 'profiles/cards/_player_games_shortcut_card.html' %}
        </div>
        <div class="col-sm-6">
           {% include 'profiles/cards/_player_season_shortcut_card.html' %}
        </div>
        <div class="col-sm-6">
           {% include 'profiles/cards/_player_fantasy_general_card.html' %}
        </div>
        <div class="col-sm-6">
           {% include 'profiles/cards/_player_playmaker_score_card.html' %}
        </div>
        <div class="col-sm-12">
           {% include 'profiles/cards/_player_video_card.html' %}
        </div>
      </div>  <!-- end row -->
    </div> <!-- end container -->
  </div>
</section>
{% endblock content%}

{% block extra_js %}
  {# load modals depending on account state #}

  {# user need to verify it self #}
  {#% if editable and not user.is_verified %#}
      {#% include 'profiles/_verification_modal.html'%#}
  {#% endif %#}

  {% if editable and user.is_roleless %}
      {% include 'profiles/_new_account_role_modal.html'%}
  {% endif %}

  {% if not user.is_authenticated %}
    {% include 'profiles/_login_required_modal.html' %}
  {% endif %}

{% endblock extra_js%}

