





<div aria-live="polite" aria-atomic="true" style="z-index:1500; position: sticky; top:15px; width: 100%" >
  <!-- Position it -->
  <div id="micro-messages">

    {% comment %} <div class="alert alert-success micro-message" data-aos-anchor-placement="top-center" data-aos-delay="800" data-aos="slide-down" data-delay="2000"  role="alert" style=" border-radius:16px; padding:4px 8px; font-size: .8rem;">
      zaobserowałeś piłkarza
    </div> {% endcomment %}
  </div>
</div>

{% comment %} <div aria-live="polite" aria-atomic="true" style="z-index:1500;  top:0; right:0; left:0; position:relative; maring-left:auto; maring-right:auto;">
  <!-- Position it -->
 {% endcomment %}
