{% load static %}
{% load thumbnail %}
{% load i18n %}


<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- h1 class="logo mr-auto"><a href="/">Play<span>Maker</span><small>.pro</small></a></h1-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--  PlayMaker - logo (jasne) - NotoSans _ medium.svg  -->
      <!--PlayMaker - logo (jasne) - NotoSans _ medium.png -->
      <a href="{% if menus_logo_url %}{{ menus_logo_url }}{% else %}/{% endif %}" class="logo mr-auto"><img src="{% static 'assets/img/playmaker_logo_light.png' %}" alt="logo"></a>
      
      {% if menus_heading_title %}
        <span class="mr-auto d-block d-md-none"> <i class="main-color icofont-hand-drawn-right"></i> {{ menus_heading_title }} </span> 
      {% endif %}
      
      
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!--li class="active"><a href="#header">Home</a></li-->
          {% include menuitems_template|default:"partials/_menuitems.html" %}

          {% if request.user.is_authenticated %}
          <li class="drop-down"><a href="{% url 'profiles:show_self' %}"><!--i class="icofont-user-alt-7"></i--><img class="navigation-avatar rounded-circle img-responsive"  src="{% thumbnail user.picture|default:'default_profile.png' 'nav_avatar' %}"> {{ request.user.display_name }}</a>
            <ul>
              <li><a href="{% url 'profiles:show_self' %}">Profil</a></li>
              <li><a href="{% url 'profiles:edit_self' %}">Edytuj CV
                <div class="progress">
                  <div class="progress-bar bg-success" style="width:{{user.profile.percentage_completion}}%">{{user.profile.percentage_completion}}%</div>
                </div>
                </a></li>
                
              <li><a href="{% url 'profiles:edit_settings' %}">Ustawienia konta</a></li>
              <li><a href="{% url 'account_logout' %}">Wyloguj <i class="icofont-logout"></i></a></li>
              {% if request.user.is_superuser %}
              <li><a href="{% url 'wagtailadmin_home' %}">Admin</a></li>
              <li><a href="/django-admin/}">Data Admin</a></li>
              {% endif %}
            </ul>
          </li>
          {% else %}
            <li><a href="{% url 'account_login' %}">{% trans 'Zaloguj' %}</a></li>
          {% endif %}
          
        </ul>
      </nav><!-- .nav-menu -->
      {% if request.user.is_authenticated %}
        {# @todo - maybe to put someting insted....  #}
      {% else %}
        <a href="{% url 'account_signup' %}" class="get-started-btn scrollto">Dołącz za darmo</a>
      {% endif %}
    </div>
  </header><!-- End Header -->