{% load static %}
{% load thumbnail %}

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/">Play<span>Maker</span><small>.pro</small></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--a href="/" class="logo mr-auto"><img src="{% static 'assets/img/logo.png' %}" alt=""></a-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!--li class="active"><a href="#header">Home</a></li-->
          <li><a href="#about">O projekcie</a></li>
          <li><a href="#services">Fantasy</a></li>
          <li><a href="#portfolio">Rozgrywki</a></li>
          <li class="drop-down"><a href="">Bazy</a>
            <ul>
              <li><a href="{% url 'soccerbase:players' %}">Piłkarzy</a></li>
              <li><a href="{% url 'soccerbase:coaches' %}">Trenerów</a></li>
              <li><a href="{% url 'soccerbase:teams' %}">Klubów</a></li>
            </ul>
          </li>
          <li><a href="#team">Produkty</a></li>
          <li><a href="#team">Skauting</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li class="drop-down"><a href=""><!--i class="icofont-user-alt-7"></i--><img class="rounded-circle img-responsive" src="{% thumbnail user.picture|default:'default_profile.png' 20x20 crop %}"> {{ request.user.display_name }}</a>
            <ul>
              <li><a href="{% url 'profiles:show_self' %}">Profil</a></li>
              <li><a href="{% url 'profiles:edit_self' %}">Edytuj
                <div class="progress">
                  <div class="progress-bar bg-success" style="width:{{user.profile.percentage_completion}}%">{{user.profile.percentage_completion}}%</div>
                </div>
                </a></li>
              <li><a href="{% url 'account_logout' %}">Wyloguj <i class="icofont-logout"></i></a></li>
              {% if request.user.is_superuser %}
              <li><a href="{% url 'wagtailadmin_home' %}">Admin</a></li>
              {% endif %}
            </ul>
          </li>
          {% else %}
            <li><a href="{% url 'account_login' %}">Zaloguj</a></li>
          {% endif %}
          
        </ul>
      </nav><!-- .nav-menu -->
      {% if request.user.is_authenticated %}
        {# @todo - maybe to put someting insted....  #}
      {% else %}
        <a href="{% url 'account_signup' %}" class="get-started-btn scrollto">Dołącz za darmo</a>
      {% endif %}
    </div>
  </header><!-- End Header -->