{% extends 'platform/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{{ block.super }} {{ page_title }} {% endblock %}


{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'assets/css/filters.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/fantasy.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}


{% block content %}
<style>
#products{ 
    background-color:#F8F8F8;
    padding: .2rem 0 93px 0;
}
#products .announcement-card {
    /*border-left: 5px solid #e03a3c;*/
    padding: .7rem;
}

#products .announcement-card .card-body {
    padding: .6rem 0rem;
}

#products .announcement-card .sub-title {

    font-size: .5rem;
}


#products .announcement-card .card-footer {
    background: #fff;
    border-top:1px dashed #ccc;
 } 


@media all and (max-width: 768px) {
    #products .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    } 
    #products .announcement-card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    #products .announcement-card .card-body {
        padding: .65rem .55rem;
    } 
}




.mt-60{
    margin-top:60px;
}

.section-block-grey {
    padding: 90px 0px 90px 0px;
    background-color: #f9f9f9;
}

.serv-section-2 {
    position: relative;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
}

.serv-section-2:before {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    content: " ";
    width: 100px;
    height: 100px;
    background: #f5f5f5;
    border-bottom-left-radius: 136px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

@media all and (max-width: 768px) {
    .serv-section-2:before {
         display: none;
    }

}
.serv-section-2-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon i {
    color: #5f27cd;
    font-size: 48px;
    line-height: 65px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.serv-section-2 h5 {
    color: #333;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #e76668;
    border-radius: 25%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.serv-section-2 p {
    margin-top: 25px;
    padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
    color: #fff;
}

.serv-section-2:hover:before {
    background: #e76668;
}
@media all and (max-width: 768px) {
    .page-header{
        font-size:.7rem;
    }
}
</style>

<div class="container page-header">
    <div class="row p-2">
        Czy kiedykolwiek grałeś w Fantasy Premier League lub Fantasy Ekstraklasa Polska? Chciałbyś aby to od Ciebie decydowała liczba zdobytych punktów? Dołącz do pierwszej w historii gry Fantasy dla niższych lig! Niezależnie czy grasz w 3 lidze, w B klasie czy lidze juniorskiej - przeniesiemy Twoje rzeczywiste dokonania do gry. Sprawdź swój wynik, zaproś kolegów do zabawy i rywalizuj z nimi!
        <button type="button" class="btn-pm " data-toggle="modal" data-target="#exampleModal">Zasady gry</button>
    </div>
</div>
{% include 'fantasy/filters_desktop.html' %}

<section id="fantasy" class="fantasy">
  <div class="container" data-aos="fade-up">
    <div class="row" >
        {% if page_obj.paginator.count == 0 %}
            <div class="col-md-12 text-center">
                {% include 'profiles/partials/_empty_data.html' %}
            </div>
        {% else %}
            <div class="col">
                {% include 'fantasy/_table.html' with objects=page_obj %}       
            </div>   
            <div class='col-md-12'>
                {% include 'platform/partials/_pagination.html' %}
            </div>       
        {% endif %}
    </div>
</div>
</section>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include 'platform/filters/filters_scripts.html' %}
    <script src="{% static 'assets/js/filters.js' %}"></script>
    {% include 'fantasy/filters_mobile_modal.html' %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Zasady gry' %} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
                        </button>
                    </div>
                <div class="modal-body">
                    <p>Twoje rzeczywiste osiągnięcia z boiska zostają przenoszone do sieci! W zależności od Twojej pozycji za odpowiednie wydarzenia otrzymasz punkty. Im większy wynik tym lepiej. Nie jest to rozgrywka jak w typowym Fantasy Premier League czy też Fantasy Polska Ekstraklasa, ponieważ sam decydujesz o swojej zdobyczy punktowej. Nie wybierasz ani szesnastki, ani jedenastki meczowej - grasz swoją osobą.
                    </p>
                    
                    <h4>Jak premiowane jest Twoje konto?</h4>
                    ​
                    <ul>
                        <li>Udział w meczu​
                            <ul>
                                <li>Przynajmniej 45 min w meczu <span class="text-success">+2 pkt</span> </li>
                                <li>45 lub mniej min w meczu <span class="text-success">+1 pkt</span> </li>
                        ​    </ul>
                        </li>
                        
                        <li>Strzelone bramki
                            <ul>
                                <li>Napastnicy <span class="text-success">+4 pkt</span> / gol </li>
                                <li>Pomocnicy <span class="text-success">+5 pkt</span>  / gol </li>
                                <li>Obrońcy <span class="text-success">+6 pkt</span>  / gol </li>
                                <li>Bramkarze <span class="text-success">+8 pkt</span>  / gol </li>
                            </ul>
                        </li>
                        ​
                        <li>Czyste konto i 60 min na boisku
                            <ul>
                                <li>Pomocnicy <span class="text-success">+2 pkt</span>  </li>
                                <li>Obrońcy i bramkarze <span class="text-success">+4 pkt</span>  </li>
                            </ul>
                        </li>
                        ​
                        <li>Nieprzegrany mecz ze straconym 1 golem
                            <ul>
                                <li>Obrońcy i bramkarze <span class="text-success">+1 pkt</span>  </li>
                            </ul>
                        </li>
                        
                        <li>Rezultat meczu
                            <ul>
                                <li>Wygrana <span class="text-success">+3 pkt</span>  </li>
                                <li>Remis <span class="text-success">+1 pkt</span>  </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Za co odejmowane są punkty?</h4>
                    <ul>
                        <li>Stracone bramki - zawodnicy, którzy przebywają na boisku w momencie utraty gola i ci, którzy zostali wykluczeni  w trakcie meczu​
                            <ul>
                                <li>Obrońcy i bramkarze <span class="text-danger">-1 pkt za każdą bramkę z wyłączeniem pierwszej</span></li>
                            </ul>
                        </li>
                        ​
                        <li>Żółta kartka <span class="text-danger">-1 pkt</span></li>
                        <li>Czerwona kartka <span class="text-danger">-3 pkt</span></li>
                        <li>Dwie żółte kartki i w konsekwencji czerwona <span class="text-danger">-3 pkt</span></li>
                        <li>Żółta kartka, później od razu czerwona <span class="text-danger">-4 pkt</span></li>
                        <li>Gol samobójczy <span class="text-danger">-3 pkt</span></li>
                    </ul>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Zamknij' %}</button>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}