

{% load i18n %}
{% load thumbnail %}
{% load playmaker %}


  <div id="table-filters" style="background-color:#2b2b2b;" class="d-none d-md-inline table-filters">
    <div class="container-fluid">
      
            <form id="filter-form" method="get" class="form-inline row ">
           
                    <div class="col-4 col-md-1 filter "> 
                        {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=100  %}
                    </div>

                    {% comment %} <div class="col-4 col-md-1 filter ml-1"> 
                        {% include 'soccerbase/tables/filters/filter_input_club_name.html'  with size=120  %}
                    </div> {% endcomment %}

                    <div class="col-4 col-md-1 filter ml-1"> 
                        {% include 'soccerbase/tables/filters/filter_input_team_name.html'  with size=120  %}
                    </div>
                    
                    <div class="col-4 col-md-1 filter"> 
                        {% include 'soccerbase/tables/filters/filter_league_ms.html' with size=120 %}
                    </div>

                    <div class="col-4 col-md-1 filter ml-1"> 
                        {% include 'soccerbase/tables/filters/filter_vivo_ms.html'  with size=120  %}
                    </div>

              <div class="col-2 col-md-1 filter-button"> 
                
                  {% filter_button user %}
                
                  
              </div>

            </form>
                         
     </div>
</div>



<div style="background-color:#2b2b2b;"id="table-filterss" class="p-4 d-md-none fixed-bottom">
    <div class="container-fluid text-center">
     
        <button id="open-filter-button"  type="button" class="btn-pm" data-toggle="modal" data-target="#filterModal">
        {% trans 'Filtruj wyniki' %}
        </button>

     </div>
</div>

