{% load static %}
{% load playmaker %}
{% load i18n %}

{% with id="filterModal" title='Odfiltruj baze' %}
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ id }}Label">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
          </button>
        </div>

        <form id="filter-form-mobile" method="get" class="form-inline ">
          <div class="modal-body d-flex flex-column">

              <div class="filter p-2">
                {% include 'platform/filters/filter_select__season.html' with  size=200 options=filters.season %}
              </div>

              <div class="filter p-2">
                {% include 'platform/filters/filter_radio__is_senior.html' with size=200   %}
              </div>

              <div class="filter p-2">
                {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=200 %}
              </div>

              <div class="filter p-2">
               {% include 'soccerbase/tables/filters/filter_input_team_name.html' with size=200  %}
              </div>

              <div class="filter p-2"> 
                  {% include 'fantasy/filters/filter_leagues.html' with size=200 %}
              </div>

              <div class="filter p-2"> 
                  {% include 'soccerbase/tables/filters/filter_vivo_ms.html' with size=200  %}
              </div>

              <div class="filter p-2"> 
                  {% filter_button user mobile=True %}
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  {% if trigger %}
  <script type="text/javascript">
      $(window).on('load',function(){
          $('#{{ id }}').modal('show');
      });
  </script>
  {% endif %}

{% endwith %}