

{% load i18n %}
{% load thumbnail %}
{% load playmaker %}

<div id="table-filters" class="d-none d-md-inline table-filters" data-aos="fade-up">
    <div class="container">
        <form id="filter-form" method="get" class="form-inline d-flex">
            <div class="filter pr-2"> 
                {% include 'platform/filters/filter_select__season.html' with size=120 options=filters.season %}
            </div>
            <div class="filter pr-2"> 
                {% include 'platform/filters/filter_radio__is_senior.html' %}
            </div>    
            <div class="filter pr-2"> 
                {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=120  %}
            </div>

            <div class="filter pr-2"> 
                {% include 'soccerbase/tables/filters/filter_input_team_name.html'  with size=120  %}
            </div>
            
            <div class="filter pr-2"> 
                {% include 'fantasy/filters/filter_leagues.html' with size=120 %}
            </div>

            <div class="filter pr-2"> 
                {% include 'soccerbase/tables/filters/filter_vivo_ms.html'  with size=120  %}
            </div>

            <div class="filter-button"> 
                {% filter_button user %}
            </div>

        </form>         
    </div>
</div>



<div id="mobile-filters" class="p-4 d-md-none fixed-bottom">
    <div class="container-fluid text-center">
        <button id="open-filter-button"  type="button" class="btn-pm" data-toggle="modal" data-target="#filterModal">
        {% trans 'Filtruj wyniki' %}
        </button>
     </div>
</div>

