{% load i18n %}
{% load thumbnail %}
  <div id="table-filters" class="table-filters">
    <div class="container">
      <div class="row"> 
        <div class="col">

            <form id="filter-form" method="get" class="form-inline">
                <div class="row">
                    <div class="col filter-button"> 
                        <input class="btn-pm btn-pm-sm" type="submit" value="{% trans 'Filtruj' %}">
                    </div>
                    <div class="col filter"> 
                        {% include 'soccerbase/tables/filters/_age_range.html' %}
                    </div>
                    
                    <div class="col filter"> 
                        <input name="licence" type="text" value="" class="form-control">    
                    </div>
                    
                </div>
                
            </form>
        
        </div>
    </div>





     </div>




</div>

