{% load i18n %}
{% load playmaker %}
{% with id="filterModal" title='Odfiltruj baze' %}
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ id }}Label">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
          </button>
        </div>


        <form id="filter-form" method="get" class="form-inline row no-gutters">
           

        <div class="modal-body">

    
       
                    <div class="col-12 col-md-1 filter p-2 "> 
                        {% include 'soccerbase/tables/filters/filter_first_last_name.html' %}
                    </div>
                    
                    <div class="col-12 col-md-1 filter p-2"> 
                        {% include 'soccerbase/tables/filters/ms_league.html' %}
                    </div>
                    <div class="col-12 col-md-1 filter p-2"> 
                        {% include 'soccerbase/tables/filters/ms_vivo.html' %}
                    </div>
                    <div class="col-12 col-md-1 filter p-2"> 
                            <select name="position" data-width="120px" class="form-control selectpicker" title="pozycja">
                                <option value="----">----</option>
                                <option {% if request.GET.position == 'Bramkarz' %} selected {% endif %}value="Bramkarz">Bramkarz</option>
                                <option {% if request.GET.position == 'Obrońca Lewy' %} selected {% endif %}value="Obrońca Lewy">Obrońca Lewy</option>
                                <option {% if request.GET.position == 'Obrońca Prawy' %} selected {% endif %}value="Obrońca Prawy">Obrońca Prawy</option>
                                <option {% if request.GET.position == 'Obrońca Środkowy' %} selected {% endif %}value="Obrońca Środkowy">Obrońca Środkowy</option>
                                <option {% if request.GET.position == 'Pomocnik defensywny (6)' %} selected {% endif %}value="Pomocnik defensywny (6)">Pomocnik defensywny (6)</option>
                                <option {% if request.GET.position == 'Pomocnik środkowy (8)' %} selected {% endif %}value="Pomocnik środkowy (8)">Pomocnik środkowy (8)</option>
                                <option {% if request.GET.position == 'Pomocnik ofensywny (10)' %} selected {% endif %}value="Pomocnik ofensywny (10)">Pomocnik ofensywny (10)</option>
                                <option {% if request.GET.position == 'Skrzydłowy' %} selected {% endif %}value="Skrzydłowy">Skrzydłowy</option>
                                <option {% if request.GET.position == 'Napastnik' %} selected {% endif %}value="Napastnik">Napastnik</option>
                            </select>
                    </div>   
                      <div class="col-12  col-md-1 filter p-2"> 
                            <select name="leg"  data-width="120px" class="form-control selectpicker" title="noga">

                                <option value="----">----</option>
                                <option {% if request.GET.leg == 'prawa' %} selected {% endif %} value="prawa">prawa</option>
                                <option {% if request.GET.leg == 'lewa' %} selected {% endif %} value="lewa">lewa</option>

                            </select>
                    </div>
                    <div class="row">
                        <div class="col-3 filter p-2"> 
                            <input class="form-control" type="number" value="{{ request.GET.age_min }}" name="age_min" placeholder="wiek od">
                        </div>
                        <div class="col-3 filter p-2" width="100"> 
                            <input class="form-control" type="number" value="{{ request.GET.age_max }}" name="age_max" placeholder="wiek do">
                        </div>
                    </div>
            

        </div>
        <div class="modal-footer">
                           <div class="col-12  filter-button"> 
                        <button class="btn-pm" type="submit" value="{% trans 'Filtruj' %}">{% trans 'Szukaj' %}</button>
                    </div>
        </div>



</form>

      </div>
    </div>
  </div>


  {% if trigger %}
  <script type="text/javascript">
      $(window).on('load',function(){
          $('#{{ id }}').modal('show');
      });
  </script>
  {% endif %}

{% endwith %}
