
{% extends "socialaccount/base.html" %}

{% load i18n %}


{% block account_title %}{% trans "Signup" %}{% endblock %}

{% block account_content %}
<div class="p-4 col-md-8 order-md-1 account-content">
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
    Próbujesz się zalogować używając konta {{provider_name}} które jest skojrzone z ponizsym adresem e-mail. 
    W systemie istnieje już konto wykorzystujące podany adres e-email, 
    w celu kontunułacji podaj address email z których chesz powizać konto {{provide_name}}
     lub jeśli chcesz powiązać konta zaloguj się i w zakładce ustawień dołącz konto {{provider_name}} {% endblocktrans %}</p>
        
    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row">
        <div class="col-md-6"> 
            <button class="btn-owl" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
        <div class="col-md-6"> 
            <a class="btn-owl" href="{% url 'account_login' %}">przejdz do logowania</a>
        </div>
    </div>
    </form>
</div>


{% endblock %}