<!-- Modal -->
<div class="modal fade" id="questionModal1" tabindex="-1" role="dialog" aria-labelledby="questionModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="">
              <h1>Wybór ligii</h1>
              <p>
                Wybierz ligę w której chciałbyś się przetestować.
                  Pamiętaj, że zgłoszenie weryfikuje nasz skaut, który Cię poinformuje o ocenie Twojego potencjału.
                  Jeśli ustawisz zbyt wysoki poziom, zaproponujemy niższy. Od Ciebie będzie wtedy zależeć czy mamy rozpocząć poszukiwania.
              </p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">Zamknij</button>

      </div>
    </div>
  </div>
</div>