<!-- Modal -->
<div class="modal fade" id="questionModal1" tabindex="-1" role="dialog" aria-labelledby="questionModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="">
              <h1>Wybór ligii</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem doloribus earum error explicabo facere facilis fugiat fugit id illum, laborum libero modi nisi placeat, quas reiciendis similique vel.
              </p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">Zamknij</button>

      </div>
    </div>
  </div>
</div>