{% load static %}

<div class="card carousel_item_desktop history__card_desktop active__card" data-target="1">

    <div class="card__img d-flex">

        <div class="gey__background history__herbs__container w-50 d-flex flex-column justify-content-center">

            <div class="club__herb w-100 h-25 mt-3">
                <div class="herb__container text-center position-relative">
                    <img class="px-1 py-2 white__background border__rounded" src="{% static club_herb %}" alt="">
                    <div class="vector__herb"></div>
                    <img class="vector__herb__arrow" src="{% static 'assets/img/landingpage/history/arrow.png' %}" alt="">
                </div>
            </div>
            <div class="club__name w-100">
                <p>{{ club_name }}</p>
            </div>
            <div class="club__league w-100 d-flex justify-content-center align-items-center">
                <p class="league__title">{{ league }}</p>
            </div>

        </div>

        <div class="primary__background w-50 history__herbs__container d-flex flex-column justify-content-center">

            <div class="dest__club__herb w-100 d-flex justify-content-center">
                <div class="herb__container text-center position-relative">
                    <img class="white__background border__rounded" src="{% static dest_herb %}" alt="">
                    <div class="vector__herb__dest"></div>
                </div>
            </div>
            <div class="dest__club__name w-100">
                <p>{{ dest_name }}</p>
            </div>
            <div class="club__league w-100 d-flex justify-content-center align-items-center">
                <div class="d-flex position-relative justify-content-center w-100">
                    <div class="league__title leag__dest d-flex align-items-center">
                        <p>{{ dest_league }}</p>
                    </div>
                    <div class="league__arrow">
                        <img src="{% static 'assets/img/landingpage/history/frame.png' %}" alt="">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            {% include content %}
        </p>
        <div class="d-flex mt-3">
            <div class="img__icon__card">
                <img src="{% static player_photo %}" alt="">
            </div>
            <div class="player__card d-flex flex-column pl-3">
                <p><a href="{{ player_url }}">{{ player_name }}</a></p>
                <p>{{ player }}</p>
            </div>
        </div>
    </div>
</div>