{% load static %}
{% load i18n %}


<!-- Bazy dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">{% trans 'Bazy' %}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'soccerbase:players' %}">{% trans 'Piłkarzy' %}</a>
        <a class="dropdown-item" href="{% url 'soccerbase:coaches' %}">{% trans 'Trenerów' %}</a>
        <a class="dropdown-item" href="{% url 'soccerbase:teams' %}">{% trans 'Klubów' %}</a>
    </div>
</li>

<li class="nav-item"><a class="nav-link" href="{% url 'marketplace:announcements'%}">{% trans 'Ogłoszenia' %}</a></li>
{% comment %} <li><a href="/products/">Produkty</a></li> {% endcomment %}
<li class="nav-item"><a class="nav-link" href="https://www.scoutmaker.pro/">{% trans 'Skauting' %}</a></li>
<li class="nav-item"><a class="nav-link" href="/transfer/">{% trans 'Transfer' %}</a></li>
{% if is_scrapper_enabled %}
    <li class="nav-item"><a class="nav-link" href="{% url 'plays:list'%}">{% trans 'Rozgrywki' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="/fantasy?season={{current_season}}&is_senior=true">{% trans 'Fantasy' %}</a></li>
{% endif %}
<li class="nav-item"><a class="nav-link" href="{% url 'products:products'%}">{% trans 'Produkty' %}</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'premium:main_page'%}">{% trans 'Score' %}</a></li>
