{% load static %}

<section id="we__got__it" class="light__background">
    <div class="container  d-flex flex-column align-items-center">
        <div class="small__container d-flex w-50">
            <div class="we__got__it d-flex justify-content-center flex-column">
                <div class="check__img justify-content-center d-flex">
                    <img src="{% static 'assets/img/landingpage/check.png' %}" alt="">
                </div>
                <p class="we__got_it__txt text-center mt-2">Mamy to!</p>
                <p class="paragraph text-center">Teraz ruch po naszej stronie. Odpowiemy w ciągu 48h.</p>
            </div>
        </div>
    </div>
</section>