 



<div class="row">
    <div class="col-sm-6 col-md-6 col-6">
        <label class="small float-right">{{ key_prefix }} {{ key }} </label>
    </div>
    <div class="col-md-6 col-6 border-left">
        {{ value_prefix }}
        
        {% if value %}
         <i class="text-success icofont-verification-check"></i>
        
         {% else %}
         <i class="text-secondary icofont-verification-check"></i>
          {% endif %} {{ value_suffix }} {{ separator }} {{ value2 }}{{ value2_suffix }}
    </div>
</div>
