/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress-circle {
    width: 100px;
    height: 100px;
    background: none;
    position: relative;
  }
  
  .progress-circle::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress-circle>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress-circle .progress-left {
    left: 0;
  }
  
  .progress-circle .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress-circle .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress-circle .progress-right {
    right: 0;
  }
  
  .progress-circle .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress-circle .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  