.page-num{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.arrow-right{
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

.paginator img{
    max-width: 100%;
    max-height: 100%;
}

.paginator{
    height: 3rem;
}

.paginator a{
    color: black;
    /*margin: 0.5rem;*/
    display: flex;
    justify-items: center;
    align-items: center;
}

.paginator p{
    padding: 0.5rem;
    font-weight: 100;
}

.pg-img{
    padding: 1rem;

}

.active{
    color: red !important
}

.got-to-site{
    display: flex;
    align-content: center;
    align-items: center;
}

.got-to-site input{
    width: 2.5rem;
    padding: 0.1rem;
}

.got-to-site span, .total-ann span{
    padding-bottom: 0;
    font-size: 0.8rem;
}

.dropdown-custom{
    min-width: inherit;
}

.dropdown-btn{
    background-color: white;
    border: 1px solid rgba(1,1,1, 0.1)
}

.dropdown-custom .dropdown-item{
    padding: 0.1rem 0.5rem
}

