


/* ---------------------- */
/* ------- Banner -------#e03a3c; */
/* ---------------------- */

.helper {
    position:relative;
    top:10px;
    left:-5px;
    z-index:995;
    font-size: .65rem;
    padding:3px;
    font-weight: 700;
    color:#e03a3c;
    background: #ccc;
    border-radius: 50%;
}


.banner {
    padding: 6px 40px;
    margin-bottom: 0px;
    font-size: .85rem;
}




.card-title {
    text-align: center;
    padding-bottom: 5px;
    position: relative;
}

    h2.card-title, h2.form-section-title {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 5px;
        position: relative;
    }

    h2.card-title::after, h2.form-section-title::after {
        content: '';
        position: absolute;
        display: block;
        width: 60px;
        height: 3px;
        background: #e03a3c;
        bottom: 0;
        left: calc(50% - 30px);
    }

    h2.form-section-title::after {
        left: 0px;
    }





    
@media all and (max-width: 768px) {
    .banner {
        margin-bottom: 0px;
    }

    .banner {
        font-size:.9em;
    }
}

