
.page-heading { }

.observed { 


}

#profile .about-field { 
  border: 1px solid #ccc;
  padding: .5rem;

}
.page-heading .progress {
  color: #fff;
}
#profile {
    padding-top: 15px;
    margin-left:25px;
    margin-right:25px;
}

#profile .card { 
    margin-bottom: .8em;
    box-shadow: 2px 5px 5px #e2e8f0;
}

#profile .card-footer { 
    background-color:#fff;
    border-top:0px;
}


.form-section-title {
  text-align: left;
  padding-bottom: 5px;
  position: relative;
}

.card-title {
    text-align: center;
    padding-bottom: 5px;
    position: relative;
  }
  
  h2.card-title, h2.form-section-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
  }
  
  h2.card-title::after, h2.form-section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 30px);
  }

  h2.form-section-title::after {left: 0px;}

#profile li {
    padding: 0px;
}

section.profile {
    padding-top: 10px;
}

#profile ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
#profile ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
#profile :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
#profile :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }


/*
  #profile .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  #profile .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  #profile .custom-file-input:hover::before {
    border-color: black;
  }
  #profile .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
*/

@media all and (max-width: 768px) {   /* @todo to better understand 768px*/
  .inquiry-text {
    font-size: .8rem;
  }
    .mobile {
      display: block;
    }
    
    #profile li {
        padding: 0px;
    }
    .profile .profile-container { 
        padding-left: 0px;
        padding-right: 0px;
    }
    .profile .profile-container .container { 
      padding-left: 0px;
      padding-right: 0px;
  }
    #profile .acc-name {
      font-size: .6rem;
    }

    #profile .acc-info {
      font-size: .6rem;
  }
    #profile { 
        padding-top: 0px;
        margin-left:10px;
        margin-right:10px;
    }


    #profile .account-card {
        border-top:none;

    }
    #profile {
        font-size:.9em;
    }
    #profile .card {
        margin-bottom: 2px;
    }

    #profile .card img.avatar {
        display:block;
        margin:auto;
    }
  }




/* Forms general */


  .contact .profile-edit-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
  }
  
  .contact .profile-edit-form.validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .profile-edit-form.error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .profile-edit-form.error-message br + br {
    margin-top: 25px;
  }
  
  .contact .profile-edit-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .profile-edit-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .profile-edit-form.loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  


  .profile .profile-edit-form .form-group {
    margin-bottom: 8px;
  }
  
  .profile .profile-edit-form input, .profile .profile-edit-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .profile .profile-edit-form input:focus, .profile .profile-edit-form  textarea:focus {
    border-color: #111111;
  }
  /*
  .profile .profile-edit-form  input {
    padding: 5px 5px;
  }
  
  .profile .profile-edit-form textarea {
    padding: 5px 5px;
  } */

  /* On mouse-over, add a grey background color */
  .profile .profile-edit-form input[type="checkbox"]:hover{
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.profile .profile-edit-form input[type="checkbox"]:checked{
  background-color: #e03a3c;
}
  .profile .profile-edit-form button[type="submit"], .profile .profile-edit-form input[type="button"]{
    background: #e03a3c;
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .profile .profile-edit-form button[type="submit"]:hover, .input[type="button"]:hover{
    background: #e35052;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    list-style: none;
    
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #ccc;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;

}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
