#signup {
    padding-top: 82px;

}

#signup ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9f9f9f;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9f9f9f;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9f9f9f;
}

#main {
  /* background: url("../img/8208.png")  top center no-repeat; */ 
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}



#signup .terms {
    font-size: 12px;
    font-weight: inherit;
    color: #9f9f9f;
    text-align: left;
    margin-bottom: 16px;
    display: flex;
}


.signup .signup-form, .login .login-form, .socialaccount_ballot, .account-content {
  opacity:.98;
  background-color:#fff;
}

.socialaccount_ballot {
  list-style-type: none;
  /* box-shadow: 0 0 30px rgba(214, 215, 216, 0.6); */
  border-radius: 4px;
  /* padding:10px 30px; */
}

  .socialaccount_ballot ul {
    padding-inline-start: 0px;
      width: 100%;
      display: flex;
      align-items: stretch; /* Default */
      justify-content: space-between;
  }

  .socialaccount_providers li {
    list-style-type: none;
    display:inline;
    width: 50%;
    flex: 0 1 auto; /* Default */
  }

  .socialaccount_providers li a {
    padding: 10px 20px;
    border: .5px solid rgba(214, 215, 216, 0.6);
    border-radius: 10px;
  }

  .socialaccount_providers li a:hover {
    background-color: rgba(214, 215, 216, 0.6);
    border-radius: 10px;
  }
  .socialaccount_provider {
    color:#444441;
  }
  .socialaccount_provider img {
    padding-right: 5px;
  }

#signup .small p {
  font-size: .8rem;
  
}

#signup ps {
  text-align: center;

}

#signup form button[type="submit"] {
        background: #e03a3c;
        border: 0;
        padding: 10px 32px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
}


      .signup .info-box {
        color: #444444;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px 0 32px 0;
        border-radius: 4px;
      }
      
      .signup .info-box i {
        font-size: 32px;
        color: #e03a3c;
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #f8d4d5;
      }
      
      .signup .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
      }
      
      .signup .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
      }
      
      .signup .signup-form, .login .login-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
        border-radius: 4px;

      }

      .signup .signup-form, .login .login-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
        border-radius: 4px;
      }

      .signup .signup-form .validate, .login .login-form .validate  {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
      }
      
      .signup .signup-form .error-message, .login .login-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
      }
      
      .signup .signup-form .error-message br + br {
        margin-top: 25px;
      }
      
      .signup .signup-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
      }
      
      .signup .signup-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
      }
      
      .signup .signup-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
      
      .signup .signup-form .form-group {
        margin-bottom: 25px;
      }

      .login .login-form  .form-group {
        margin-bottom: 25px;
      }

      .signup .signup-form input, .signup .signup-form textarea, .signup .signup-form select {
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
      }

      .login .login-form  input, .login .login-form  textarea , .login .login-form select {
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
      }

      .login .login-form input:focus, .login .login-form  textarea:focus, .login .login-form select:focus  {
        border-color: #111111;
      }

      .signup .signup-form input:focus, .signup .signup-form textarea:focus, .signup .signup-form select:focus {
        border-color: #111111;
      }

      .signup .signup-form input, .login .login-form input, .login .login-form select {
        padding: 5px 15px;
      }
      
      .signup .signup-form textarea, .login .login-form textarea {
        padding: 12px 10px;
      }
      
      .signup .signup-form button[type="submit"], .login .login-form button[type="submit"]  {
        background: #e03a3c;
        border: 0;
        padding: 10px 32px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
      }
      
      .signup .signup-form button[type="submit"]:hover, .login .login-form button[type="submit"]:hover  {
        background: #e35052;
        background-color:#fff;
        
      }
      