

.table-filters { 
    background-color: #2b2b2b;
    z-index: 996;
    padding:6px;
}


.sticky-top { top: 63px; }
#table-filters form  option:not(:checked){ color: green; }
select.form-control option:checked { color: #0AD; }
#filter-form option:not(:checked) { color: green; }
#tables {
    padding-top: 15px;
}
#table-filters select, #table-filters input {
    padding:2px 6px;
}

#tables, #table-filters select, #table-filters input {
    font-size:.9em;
}

.tables .container { 
    padding-left: 0px;
    padding-right: 0px;
}
#tables .card { 
        
    box-shadow: 2px 5px 5px #e2e8f0;
    margin: 3px 0px;
}

#tables .row { 
        
    padding-left:0px;
}

#tables .card .card-footer{ 
    background-color:#fff;
    /*border-top: 1px dashed #e2e8f0;*/
}
#tables .card .card-body {
    padding: .5rem .5rem;
}

#tables .card .header{ 

}

#tables .card img.flag  {

    padding:2px;
    padding-right:3px;
    position: relative;
    top:-2px;
}

#tables .card img.avatar {

}
section.tables {
    padding-top: 10px;
}



/* .table-item {
    background-color: #fff;
}

.table-item:hover {
    background-color: #e2e8f0;
    -webkit-transition: background-color 430ms linear;
    -ms-transition: background-color 430ms linear;
    transition: background-color 430ms linear;
    
} */

@media all and (max-width: 768px) {   /* @todo to better understand 768px*/
    #tables .card .stats  {
        margin-top:4px;
    }
    #tables .pagination {
        color:#fff;
    }
    #tables .container > :last-child{ 
        margin-bottom: 55px;
    }
    #tables .container .table {
        padding: .3rem .3rem;
    }
    #tables { 
        background-color:#2b2b2b;
        margin-top: 63px;
        
    }
    #tables li {
        padding: 0px;
    }
    .tables .container { 
        padding-left: 0px;
        padding-right: 0px;
    }
    .tables .container { 
      padding-left: 0px;
      padding-right: 0px;
  }
    #tables { 
        padding-top: 0px;
    }

    .banner {
        margin-bottom: 0px;
        font-size:.9em;
    }


    #tables .account-card {
        border-top:none;

    }
    #table-filters {
        padding:10px 2px;
    }
    #table-filters .filter{
        padding:2px 2px;
    }
    #tables, #table-filters select, #table-filters input{
        font-size:.7em;
        padding:.2rem;
    }
    #tables .card {
        margin-bottom: 2px;
        box-shadow: 0px 0px 0px #e2e8f0;
        margin: 5px 3px;
        border-radius: .25rem;
    }

    #tables .card img.avatar {
        position: relative;
        top:-7px;
        display:block;
        margin:auto;
    }
  }


