{% load account socialaccount %}
{% load i18n %}

{% get_providers as socialaccount_providers %}


           
<form class="login-form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <!-- h1 class="main-color"> <i class="icofont-football-alt"></i></h1 -->
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% elif next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <div class="mb-3">
        <input class="form-control" type="email" name="login" placeholder="Email lub nazwa użytkownika" autofocus="autofocus" required="" id="id_login">
    </div>  
    <div class="mb-3">
        <input class="form-control" type="password" name="password" placeholder="Hasło" required="" id="id_password">
    </div>
    
    {% if redirect_field_value %}
    <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="btn-block" type="submit">ZALOGUJ SIĘ</button>
    <hr class="mb-4">
    <p class="small"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a></p>
    <p class="small">
        Jeżeli nie masz jeszcze konta, możesz je 
        <a class="button secondaryAction"href="{% if signup_url %}{{ signup_url }}{% else %}{% url 'account_signup'%}{% endif %}{% if next %}?next={{ next }}{% endif %}">założyć tutaj.</a>
    </p>
</form>


    
{% if socialaccount_providers %}
    <p class='small' style="text-align: center; padding-top:10px;"> <i>lub</i></p>
    <div class="socialaccount_ballot">
    <p class='small'>Zaloguj się za pomocą konta społecznościowego:</p>
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

{% endif %}
