{% extends "platform/base.html" %}


{% load static %}


{% block header %}
    {% with menuitems_template="partials/_menuitems_empty.html" menus_logo_url=porfile_url menus_heading_title=page_title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content %}
    <!-- ======= Login subpage ======= -->
    <section id="{% block account_section_id %}login{% endblock %}" class="{% block account_section_class %}login{% endblock %} last-section">
      <div class="container">
        <div>
            <div  class="section-title">
                <h2 class="mb-3 text-center">{% block account_title %} {# title of page#} {% endblock %}</h2>
                <p>{% block account_subtitle %}{% endblock %}</p>
            </div>
            <div class="row d-flex justify-content-center">
              
                {% block account_content %}
                    {#  body of account pages #}
                {% endblock account_content %}
         
            </div>
        </div>
      </div>
    </section>

{% endblock content %}


{% block extra_js %}
    {{ block.super }}
    {% include 'account/roles_modal.html' %}

{% endblock %}