{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block account_title %}Ustaw hasło na nowo{% endblock %}

{% block account_content %}

<div class="col-md-8 order-md-1">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% comment %} <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p> {% endcomment %}

<p>Zapomniałeś swojego hasła? Wpisz swój adres e-mail poniżej, a my wyślemy Tobie wiadomość, dzięki której dokonasz jego zmiany.</p>

<form method="POST" action="/password/reset/" class="password_reset">
<input type="hidden" name="csrfmiddlewaretoken" value="xobvfOAz7uaz6bkhpPz5C0BoSWSqDOx76AbXGtknI01ic3zVDEWOB3kih1RjAMSo"><p>
<label for="id_email">E-mail:</label>
<input type="email" name="email" size="30" placeholder="Adres e-mail" required="" {% if request.GET.email %}value="{{ request.GET.email }}"{% endif %} id="id_email"></p>
<input type="submit" class="btn-pm btn-pm-sm" value="Zresetuj moje hasło"></form>

    {% comment %} <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form> {% endcomment %}
{% comment %} 
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %} <br>biuro@playmaker.pro</p> {% endcomment %}

<p>Skontaktuj się z nami, jeśli masz problem ze zresetowaniem swojego hasła. </p>
</div>
{% endblock %}