{% load crispy_forms_tags %}
{% load i18n %}

<div class="modal fade" id="rolesModal" tabindex="-1" aria-labelledby="rolesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="rolesModalLabel">{% trans 'Jaka rola pasuje do Ciebie?' %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icofont-close-circled main-color"></i></span>
        </button>
      </div>

      <div class="modal-body">
      <div>
      
          <br>
            <h5><strong>Piłkarz</strong></h5>
            <p>
            <small>Dla zawodników oraz zawodniczek zarejestrowanych w ramach rozgrywek PZPN, a także dla osób zaczynających przygodę z piłką nożną. Dodaj video. 
            Zweryfikuj się wpisując poprawne dane. 
            My znajdziemy Twoje statystyki. Twoje piłkarskie CV będzie gotowe, a wtedy wszystko w Twoich nogach. </small>
            
            </p>
            
            <h5><strong>Trener</strong></h5>
            <p><small>Dla licencjonowanych trenerów oraz dla trenerów w trakcie kursu. Obserwuj, szukaj piłkarzy, ogłaszaj testy i wzmacniaj swoją kadrę.</small></p>
            
            <h5><strong>Klub / Szkółka piłkarska</strong></h5>
            <h5><strong>Agent piłkarski</strong></h5>
            <h5><strong>Skaut</strong></h5>
            <h5><strong>Rodzic małego piłkarza</strong></h5>
            <h5><strong>Kibic</strong></h5>
        </ul>
      </div>

          <div class="modal-footer">
           
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'UKRYJ' %}</button>
          </div>
  

      </div>
      
    </div>
  </div>
</div>
