{% extends "account/base.html" %}

{% load i18n %}

{% block account_title %}Ostani krok i możemy zaczynać. Zweryfikuj swoje konto. {% endblock %}


{% block account_content %}
<div class="col-md-6 order-md-1">

  <p> W celu zakończenia procesu rejestracji należy zweryfikować adres email. Wysłaliśmy Ci wiadomość z linkiem weryfikacyjnym, w celu dokonania weryfikacji <mark>należy kliknąć w niego.</mark></p>
  <p>
      Proszę skontaktuj się z nami jeśli nie otrzymałeś żadnej wiadomości w przeciągu kliku minut od momentu wysłania formularza rejestracyjnego.                
  </p>
</div>
{% endblock %}