
{% extends 'base.html' %}
{% load wagtailcore_tags %}


{% block extra_css %}
   {{ block.super }}
   {{ self.extra_css }}
{% endblock %}


{% block content %}
    <section id="subpage" class="subpage last-section">
      <div class="container">
        <div>
            <div  class="section-title">
                <h2 class="mb-3 text-center">{{ self.subtitle }}</h2>
            </div>
            <div class="row d-flex justify-content-center">
               {#{ self.subtitle }#} 
               {% for block in page.content %}
                  {% include_block block %}
               {% endfor %}
            </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_js %}
   {{ block.super }}
   {{ self.extra_js }}
{% endblock %}