{% load i18n %}
{% load playmaker %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{% trans 'Sezon' %} {{ season_stat.season_name }}</h2>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <div class="card-text text-center">
            {% if season_circle_stats %}
              <div class="row no-gutters">
                {% for circle_stat in season_circle_stats %}
                  <!-- progress bar -->
                  <div class="col-xl-4 col-lg-4 col-4 mb-6">
                    <div class="bg-white rounded-lg p-1">
                      <h4 class="circle-title h6 font-weight-bold text-center">{{ circle_stat.title }}</h4>
                      <div class="progress-circle mx-auto" data-value='{{circle_stat.value}}' data-shift='{{circle_stat.shift}}'>
                        <span class="progress-left">
                          <span class="progress-bar border-{{ circle_stat.bs4_css }}"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar border-{{ circle_stat.bs4_css }}"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center ">
                                <div class="progress-circle-text font-weight-bold">{{ circle_stat.value }}%</div>  
                        </div>
                      </div>
                      <!-- END -->
                    </div>
                  </div>
                {% endfor %}

              </div> <!--row-->
                  <div class='row'>
                      <div class="col">
                          <div class="row text-center mt-4">
                            {% comment %} <div class="col-3 border-right">
                              <div class="season-numbers h4 font-weight-bold mb-0">{{ season_stat.position_in_table }}</div><span class="small text-gray">{% trans 'Miejsce' %}</span>
                            </div> {% endcomment %}
                            <div class="col-4 border-right">
                              <div class="season-numbers h4 font-weight-bold mb-0">{{ season_stat.avg_points }}</div><span class="small text-gray">{% trans 'Średnia punktów na mecz' %}</span>
                            </div>

                            <div class="col-4 border-right">
                              <div class="season-numbers h4 font-weight-bold mb-0">{{ season_stat.avg_goals_gain }}</div><span class="small text-gray">{% trans 'Średnia strzelonych bramek na mecz' %}</span>
                            </div>
                            <div class="col-4">
                              <div class="season-numbers h4 font-weight-bold mb-0">{{ season_stat.avg_goals_losts }}</div><span class="small text-gray">{% trans 'Średnia traconych bramek na mecz' %}</span>
                            </div>
                          </div>
                          <!-- END -->
                      </div>
                  </div>
            {% else %}
                <span class="heading text-muted"> 
                  {% trans 'Brak danych dla obecnego sezonu' %}  
                  <h1 style="font-size:75px;"><i class="icofont-chart-pie"></i></h1>
                </span>
            {% endif %}

        </div>  <!-- end of card-text-->        
          <div class="mt-4 text-center">
            {% if editable %}
                {% url 'profiles:my_carrier' as button_url %}
            {% else %}
                {% url 'profiles:player_carrier' slug=show_user.profile.slug as button_url %}
            {% endif %}

            {% seemore_link button_url %}
        </div>
    </div>
</div>