{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}

{% for object in objects %}
<div class="card" style="">
  <div class="card-header d-md-none">
    <span> <img class="flag" src="{{ object.profile.country.flag }}" alt="flag">{{object.first_name|upper}} {{ object.last_name|upper}} {{ object.profile.age|default:'-' }} {% if object.profile.age %}{% trans 'l.' %} {% endif %} {% if object.is_verified %}<i class="text-success icofont-verification-check"></i>{% endif %}
    <span class="float-right"> {% observed_link user object %} </span>
  </div>
  <div class="d-md-none">
    <img class="avatar rounded-circle img-responsive"   src="{% thumbnail show_user.picture|default:'default_profile.png' 'tables_avatar_show_small' %}">
  </div>
  <div class="card-body"> 
  <div class="row no-gutters">
        <div class="d-none d-md-inline col-md-1">
            <img class="avatar rounded img-responsive"  src="{% thumbnail show_user.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
        </div>

        <div class="d-none d-md-inline col-md-1">
            <img class="flag" src="{{ object.profile.country.flag }}" alt="flag">{{object.first_name|upper}} {{ object.last_name|upper}} {% if object.is_verified %}<i class="text-success icofont-verification-check"></i>{% endif %}
        </div>

        <div class="d-none d-md-inline col-md-1">
            {{ object.profile.age|default:'-' }} {% if object.profile.age %}{% trans 'l.' %} {% endif %}
        </div >
        
        <div class="col-3 col-md-1">
            {{ object.profile.display_team|default:'-' }}
        </div >
        
        <div class="col-3 col-md-1">
            {{ object.profile.display_voivodeship|default:'-'|upper  }}
        </div >

        <div class="col-3 col-md-1"> 
            {{ object.profile.address|default:'-'|upper }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.profile.stats|default:'0-0-0'|upper}}
        </div>

        <div class="col-3 col-md-1 stats">  
           {{ object.profile.stats.avg|default:'0'|upper }}
        </div>

        <div class="d-none d-md-inline col-md-1">
           {% profile_link object checks=False %}
           {% observed_link user object %}
        </div>
    </div>
  </div>
  <div class="card-footer  d-md-none">
    <span class="float-right"> {% profile_link object checks=False %}
    </span>
  </div>
</div>
{% endfor %}


