{% extends 'soccerbase/tables/base_desktop_filters.html' %}

{% load i18n %}
{% load static %}
{% load playmaker %}


{% block desktop_filters_body %}
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=100  %}
    </div>
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_league_ms.html' with size=120 %}
    </div>
    <div class="ilter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_vivo_ms.html' with size=120 %}
    </div>
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_position_ms.html'%}
    </div>   
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_leg_ms.html'%}
    </div>
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_age_min_input.html' with size=120 %}
    </div>
    <div class="filter pr-2"> 
        {% include 'soccerbase/tables/filters/filter_age_max_input.html' with size=120 %}
    </div>

      <div>
          <button type="button"  class="{% if foregin %}btn-request btn-requested{% else %}btn-request{% endif %}" onclick="window.location.href='{% if foregin %}{% url 'soccerbase:players' %}{% else %}{% url 'soccerbase:players_quick' 'foregin' %}{% endif %}';">{% if foregin %}Polska{% else %}zagraniczni{% endif %}</button>
      </div>
      <div>
          <button type="button"  class="{% if juniors %}btn-request btn-requested{% else %}btn-request{% endif %}" onclick="window.location.href='{% if juniors %}{% url 'soccerbase:players'%}{% else %}{% url 'soccerbase:players_quick' 'juniors' %}{% endif %}';">{% if junors %}Polska{% else %}młodzieżowiec{% endif %}</button>
      </div>

{% endblock desktop_filters_body %}