{% extends 'soccerbase/tables/base_modal_filters.html' %}
{% load i18n  %}
{% load playmaker %}

{% block modal_body %}

  <div class="filter p-2 "> 
      {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=240  %}
  </div>

  <div class="filter p-2"> 
      {% include 'soccerbase/tables/filters/filter_league_ms.html' with size=240  %}
  </div>

  <div class="filter p-2"> 
      {% include 'soccerbase/tables/filters/filter_vivo_ms.html' with size=240  %}
  </div>

  <div class="filter p-2"> 
    {% include 'soccerbase/tables/filters/filter_position_ms.html' with size=240  %}
  </div>   

  <div class="filter p-2"> 
      {% include 'soccerbase/tables/filters/filter_leg_ms.html' with size=240 %}
  </div>

  <div class="d-flex p-2">
      <div class="filter"> 
        {% include 'soccerbase/tables/filters/filter_age_min_input.html' with size=120 %}
      </div>
      <div class="filter" width="100"> 
        {% include 'soccerbase/tables/filters/filter_age_max_input.html' with size=120  %}
      </div>
  </div>

{% endblock modal_body %}
