{% extends 'soccerbase/tables/base_modal_filters.html' %}
{% load i18n  %}
{% load playmaker %}

{% block modal_body %}

    <div class="col-12 col-md-1 filter p-2"> 
        {% include 'soccerbase/tables/filters/filter_firstlastname_input.html' with size=220  %}
    </div>

    <div class="col-12 col-md-1 filter p-2"> 
        {% include 'soccerbase/tables/filters/filter_input_club_name.html'  with size=220  %}
    </div>

    <div class="col-12 col-md-1 filter p-2"> 
        {% include 'soccerbase/tables/filters/filter_input_team_name.html'  with size=220  %}
    </div>
    
    <div class="col-12 col-md-1 filter p-2"> 
        {% include 'soccerbase/tables/filters/filter_league_ms.html' with size=220px %}
    </div>

    <div class="col-12 col-md-1 filter p-2"> 
        {% include 'soccerbase/tables/filters/filter_vivo_ms.html'  with size=220px  %}
    </div>


{% endblock modal_body %}