{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}


<div class="card player-header-card d-none d-md-inline item-card" style="">
  
  <div class="card-body  table-item"> 
    <div class="row no-gutters">
        <div class="d-none d-md-inline col-md-4 text-left">
          Nazwa drużyny
        </div>
        <div class="col-5 col-md-2 text-left">
           Poziom rozgrywkowy
        </div>
        <div class="col-6 col-md-2 text-left">
          Województwo
        </div>
        <div class="col-5 col-md-2 text-left">
          Trener
        </div>
        <div class="d-none d-md-inline col-md-2">
        </div>
    </div>
  </div>
</div> 


{% for object in objects %}
<div class="card item-card" style="">
  <div class="card-header d-md-none">
    <span class="object-title"> 
      <a href="{{object.get_permalink}}"><strong>{{ object.name|upper }}</strong></a>
    </span>
    <span class="float-right"> 
        {% observed_link user object text='obserwuj' otype='team'%}
        {% get_team_link object text='profil' checks=False %}
    </span>
  </div>
  <div class="card-body table-item"> 
    <div class="row no-gutters">

        <div class="d-md-none text-center"> <!-- -->
            <img class="rounded img-responsive"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
        </div>

        <div class="d-md-none col text-left ml-2">
            {% if object.manager %}
            <div>
              <strong> <small class="text-muted">trener </small><a href="{{ object.manager.profile.get_permalink }}">{{ object.manager.get_full_name|default:'brak'|upper }}</a></strong>
            </div>
            {% endif %}
            <div class="">
               {{ object.display_league_top_parent|default:''|title  }}, {{ object.display_voivodeship|default:''|lower|truncatechars:24 }}
            </div>
        </div>
                           <div class="sc-cell d-none d-md-flex col-md-4">
                            <a href="{{ object.get_permalink }}"> 
                              <img class="avatar rounded img-responsive" src="{% thumbnail object.picture|default:'default_team.png' 'tables_avatar_show_medium' %}">
                              <strong style="padding-left:15px;">{{ object.name|upper}}</strong>
                            </a>
                          </div>

                              <div class="sc-cell d-none d-md-flex col-6 col-md-2  text-left">
                                  {{ object.display_league_top_parent|default:''|title  }}
                              </div>

                              <div class="sc-cell d-none d-md-flex col-5 col-md-2 text-left">
                                  {{ object.display_voivodeship|default:''|lower|truncatechars:25 }}
                              </div>

                              <div class="sc-cell d-none d-md-flex col-6 col-md-2  text-left">
                                  <a href="{{ object.manager.profile.get_permalink }} ">{{ object.manager.get_full_name|default:''|upper }}</a>
                              </div>
                      
                              <div class="sc-cell d-none d-md-flex col-md-2">
                                <span class="float-right"> 
                                  {% get_team_link object text='profil' checks=False %}
                                  {% observed_link user object otype='team'%}
                                </span>
                              </div>
    </div>
  </div>
  <div hidden  class="card-footer row no-gutters   d-md-none">
  
       
            <div hidden class="col-3 col-md-1">
                {{ object.stats|default:'0-0-0'|upper }}
            </div>

            <div hidden class="col-3 col-md-1">
                {{ object.stats.avg|default:'0 śr'|upper }}
            </div>
    <span class="float-right"></span>
  </div>
</div>
{% endfor %}


