{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}
{% spaceless %}


<div class="card player-header-card d-none d-md-inline item-card" style="">
  
  <div class="card-body  table-item"> 
    <div class="row no-gutters">
        <div class="d-none d-md-inline col-md-3">Imię / nazwisko / wiek</div>
        <div class="col-5 col-md-1 text-left">Pozycja</div>
        <div class="col-6 col-md-1 text-left">Poziom rozgrywkowy</div>
        <div class="col-5 col-md-2  text-left">Województwo</div>
        <div class="col-6 col-md-2 text-left">Drużyna</div>
        <div class="col-6 col-md-1 text-center"> Bramki - Mecze - Minuty</div>
        <div class="d-none d-md-inline col-md-1"></div>
    </div>
  </div>
</div> 

{% for object in objects %}
<div class="card item-card" style="">
    {# SM devices --- #}
        <div class="card-header d-md-none">
            <span> 
                <a href="{{ object.profile.get_permalink }}">
                    <strong> 
                        {{ object.first_name|upper}} {{ object.last_name|upper}} {{ object.profile.age|default:'' }} 
                        {% if object.profile.age %}{% trans 'l.' %} {% endif %} 
                        {% if object.is_verified %}<i class="text-success icofont-verification-check"></i>{% endif %}
                    </strong>
                </a>
            </span>
            <span class="float-right">{% observed_link user object text="obserwuj" %}{% profile_link object checks=False text="profil" %}</span>
        </div>
    {# --- SM devices #}

  <div class="card-body table-item"> 
    <div class="row no-gutters">                                 
        <div class="d-md-none text-center"> <!-- -->
            <img class="rounded img-responsive"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
        </div>
        <div class="d-md-none col text-left ml-2">
            <div class="">
                <strong>{{ object.profile.get_position_raw_display|default:''|title }}</strong> 
            </div>
             <div class="">
               {{ object.profile.display_team|default:''|upper  }} 
            </div>
            <div class=""> 
                {{ object.profile.display_league|default:'-'|title }}, {{ object.profile.display_voivodeship|default:''|lower|truncatechars:25 }}
            </div>
        </div>   
                                                    <div class="sc-cell d-none d-md-flex col-md-3">
                                                        <a href="{{ object.profile.get_permalink }}">
                                                        {{ object.last_login }}
                                                            <img class="avatar rounded img-responsive"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">

                                                            <img class="flag pl-3" src="{{ object.profile.country.flag }}" alt="flag">
                                                            <strong>
                                                            {{ object.get_full_name|upper}}
                                                            {% if object.is_verified %}<i class="text-success icofont-verification-check"></i>{% endif %}
                                                            {{ object.profile.age|default:'-' }} {% if object.profile.age %}{% trans 'l.' %} {% endif %}
                                                            </strong>
                                                        </a>
                                                    
                                                    </div>


                                                        <div class="sc-cell d-none d-md-flex col-5 col-md-1 text-left">
                                                            {{ object.profile.get_position_raw_display|default:''|title }}
                                                        </div >
                                                        
                                                        <div class="sc-cell d-none d-md-flex col-6 col-md-1 text-left">
                                                            {{ object.profile.display_league|default:''|title  }}
                                                        </div >

                                                    

                                                        <div class="sc-cell d-none d-md-flex col-5 col-md-2  text-left">
                                                            {{ object.profile.display_voivodeship|default:''|lower|truncatechars:25 }}
                                                        </div>
                                                        
                                                        <div class="sc-cell d-none d-md-flex col-6 col-md-2 text-left"> 
                                                            {{ object.profile.display_team|default:''|upper  }}
                                                        </div>


                                                        <div class="sc-cell d-none d-md-flex col-1 text-center">
                                                            <span>
                                                                <span class="main-color">{{ object.profile.playermetrics.season_summary.team_goals|default:'0' }}</span> / 
                                                                <span class="main-color">{{ object.profile.playermetrics.season_summary.games_played|default:'0' }}</span> / 
                                                                <span class="main-color">{{ object.profile.playermetrics.season_summary.minutes_played |default:'0' }}</span> 
                                                            </span>
                                                        </div>


        {% comment %} <div class="d-none d-md-inline  col-4 col-md-1 stats  text-center">  
            <span class="main-color">{{ object.profile.playermetrics.season_summary.team_goals|default:'0' }}</span> <span class="d-md-none"> gole </span>
        </div> {% endcomment %}

        {% comment %} <div class="d-none d-md-inline  col-3 col-md-1 stats"> 
            <span class="main-color stats">{{ object.profile.playermetrics.season_summary.first_squad_games_played|default:'0' }}</span>  w pierwszym składzie 
        </div> {% endcomment %}

        {% comment %} <div class="d-none d-md-inline  col-4 col-md-1 stats text-center">
            <span class="main-color">{{ object.profile.playermetrics.season_summary.games_played|default:'0' }}</span>  <span class="d-md-none">mecze  </span>   
        </div> {% endcomment %}

        {% comment %} <div class="d-none d-md-inline  col-4 col-md-1 stats text-center">
            <span class="main-color">{{ object.profile.playermetrics.season_summary.minutes_played |default:'0' }}</span> <span class="d-md-none"> minuty</span>
        </div> {% endcomment %}

        <div class="sc-cell d-none d-md-flex col-md-2">
            <span class="float-right"> 
                {% profile_link object checks=False text="profil" %}
                {% observed_link user object text=True %}
            </span>

        </div>
    </div>
  </div>
  <div class="card-footer row no-gutters d-md-none"> <!-- -->
    <div class="col-1">
     <img class="flag" src="{{ object.profile.country.flag }}" alt="flag">
    </div>
    <div class="col">
        <span class="main-color">{{ object.profile.playermetrics.season_summary.games_played|default:'0' }}</span>  mecze     
        <span class="main-color">{{ object.profile.playermetrics.season_summary.minutes_played |default:'0' }}</span>  minuty
        <span class="main-color">{{ object.profile.playermetrics.season_summary.team_goals|default:'0' }}</span> bramki
    </div>
    
    <span class="float-right"> </span>
        
   
   
  </div>
</div> 
{% endfor %}


{% endspaceless %}