{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}

{% for object in objects %}
<div class="card" style="">
  <div class="card-header d-md-none">
    <span> 
        {{object.first_name|upper}} {{ object.last_name|upper}} {{ object.profile.age|default:'-' }} {% if object.profile.age %}{% trans 'l.' %} {% endif %} {% if object.is_verified %}<i class="text-success icofont-verification-check"></i>{% endif %}
    <span class="float-right">
      {% observed_link user object text='obserwuj' %}
      {% profile_link object text='profil' checks=False %}
    </span>
  
  
  
  </div>

  <div class="card-body table-item"> 
    <div class="row no-gutters">
               <div class="d-none d-md-inline col-md-3">
                  <a href="{{ object.profile.get_permalink }}"> 
                    <img  class="rounded img-responsive" src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
                    <img style="padding-left:15px;" class="flag" src="{{ object.profile.country.flag }}" alt="flag">
                    <strong >{{ object.first_name|upper}} {{ object.last_name|upper}} </strong>
                  </a>
                </div>

        <div class="d-md-none text-center"> <!-- -->
            <img class="rounded img-responsive"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
        </div>

        <div class="d-md-none col text-left ml-2">
    
            <div class="">
                <strong>{{ object.profile.display_team|default:''|upper }}</strong> 
            </div>
             <div class="">
               {{ object.profile.profile.display_club|default:''|upper  }} 
            </div>
            <div class=""> 
                {{ object.profile.display_voivodeship|default:''|upper|truncatechars:24 }} 
                {{ object.profile.display_league|default:''|upper  }}
            </div>
        </div>


            <div class="d-none d-md-inline  col-md-1">
                {{ object.profile.age|default:'' }} {% if object.profile.age %}{% trans 'l.' %} {% endif %}
            </div >
            <div class="d-none d-md-inline  col-md-1">
                 {{ object.profile.display_league|default:''|upper  }}
            </div >
            <div class=" d-none d-md-inline  col-3 col-md-1  text-center" >
                {{ object.profile.display_team|default:'' }}
            </div >
            
            <div class="d-none d-md-inline  col-3 col-md-1  text-center">
                {{ object.profile.display_voivodeship|default:''|upper  }}
            </div >

            
            <div class="d-none d-md-inline  col-3 col-md-1  text-center">
              <span class="main-color">{{ object.profile.team.stats|default:'0-0-0'|upper}}</span> 

              {{ object.profile.team.stats.avg|default:'0'|upper }}
            </div>

        <div class="d-none d-md-inline col-md-1">
           {% profile_link object text='profil' checks=False %}
          
        </div>
        <div class="d-none d-md-inline col-md-1">
          {% observed_link user object text='obserwuj'  %}
          
        </div>
         
    </div>
  </div>
  <div class="card-footer row no-gutters d-md-none">
    <div class="col-1">
     <img class="flag" src="{{ object.profile.country.flag }}" alt="flag">
    </div>
    <div class="col">
       <span class="main-color">{{ object.profile.team.stats|default:'0-0-0'|upper}}</span> drużynowe statystyki  
  </div>
    
    <span class="float-right"> 
    </span>
  </div>
</div>
{% endfor %}


