{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}


{% for object in objects %}
<div class="card item-card" style="">
  <div class="card-header d-md-none">
    <span class="object-title"> 
      <a href="{{object.get_permalink}}"><strong>{{ object.name|upper }}</strong></a>
    </span>
    <span class="float-right"> 
        {% observed_link user object text='obserwuj' otype='team'%}
        {% get_team_link object text='profil' checks=False %}
    </span>
  </div>

  <div class="card-body table-item"> 

    <div class="row no-gutters">


                          <div class="d-none d-md-inline col-md-3">
                            <a href="{{ object.get_permalink }}"> 
                              <img class="avatar rounded img-responsive" src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
                              <strong style="padding-left:15px;">{{ object.name|upper}}</strong>
                            </a>
                          </div>
                    
        
        <div class="d-md-none text-center"> <!-- -->
            <img class="rounded img-responsive"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_medium' %}">
        </div>

        <div class="d-md-none col text-left ml-2">
    
            <div class="">
                <strong>{{ object.display_league|default:''|upper  }}</strong> 
            </div>
             <div class="">
               {{ object.display_team|default:''|upper  }} 
            </div>
            <div class=""> 
                {{ object.display_voivodeship|default:''|upper|truncatechars:24 }}
                {{ object.group|default:'-'|upper|truncatechars:10 }}
            </div>
        </div>
                  
                              <div class="d-none d-md-inline col-6 col-md-1 text-center">
                                  {{ object.display_league|default:''|upper  }}
                              </div >

                              <div class="d-none d-md-inline col-5 col-md-2  text-center">
                                  {{ object.display_voivodeship|default:''|upper|truncatechars:24 }}
                              </div>
                              
                              <div class="d-none d-md-inline col-6 col-md-2 text-center"> 
                                  {{ object.display_team|default:''|upper  }}
                              </div>

                            <div class="d-none d-md-inline col-6 col-md-1">
                                {{ object.group|default:'-'|upper|truncatechars:10 }}
                            </div>

        {% comment %} <div class="col-3 col-md-1">
             {{ object.manager|default:'-'|upper }}
        </div> {% endcomment %}
        
                            <div class="d-none d-md-inline col-3 col-md-1">
                                {{ object.address|default:''|upper }}
                            </div>



        <div class="d-none d-md-inline col-md-2">
          {% get_team_link object text='profil' checks=False %}
          {% observed_link user object otype='team'%}
    
        </div>
    </div>
  </div>
  <div class="card-footer row no-gutters   d-md-none">
  
       
            <div class="col-3 col-md-1">
                {{ object.stats|default:'0-0-0'|upper }}
            </div>

            <div class="col-3 col-md-1">
                {{ object.stats.avg|default:'0 śr'|upper }}
            </div>
    <span class="float-right"></span>
  </div>
</div>
{% endfor %}


