{% load i18n %}
{% load static %}
{% load thumbnail %}



{% for object in objects %}
<div class="card item-card" style="">
  <div class="card-header d-md-none">
    <span>{{ object.name|upper }}
    <span class="float-right"> <a href="#" class="">Observe</a> </span>
  </div>
  <div class="d-md-none">
    <img class="avatar rounded-circle img-responsive" title="profile picture"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_small' %}">
  </div>
  <div class="card-body table-item"> 
  <div class="row no-gutters ">
        <div class="d-none d-md-inline col-md-1">
            <img class="avatar rounded-circle img-responsive" title="profile picture"  src="{% thumbnail object.picture|default:'default_profile.png' 'tables_avatar_show_small' %}">
        </div>

        <div class="d-none d-md-inline col-md-1">
           {{ object.name|upper}}
        </div>
        
        <div class="col-3 col-md">
            {{ object.league|default:'-'|upper  }}
        </div >

        <div class="col-3 col-md-1"> 
            {{ object.team|default:'-'|upper  }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.profile.voivodeship|default:'-'|upper|truncatechars:10 }}
        </div>

        <div class="col-3 col-md-1 stats">  
            <span class="main-color">{{ object.profile.playermetrics.season_summary.team_goals|default:'0' }}</span> gole
        </div>

        <div class="col-3 col-md-1 stats"> 
            <span class="main-color stats">{{ object.profile.playermetrics.season_summary.first_squad_games_played|default:'0' }}</span>  w pierwszym składzie 
        </div>

        <div class="col-3 col-md-1 stats">
            <span class="main-color">{{ object.profile.playermetrics.season_summary.games_played|default:'0' }}</span>  mecze     
        </div>

        <div class="col-3 col-md-1 stats">
            <span class="main-color">{{ object.profile.playermetrics.season_summary.minutes_played |default:'0' }}</span>  minuty
        </div>

        <div class="d-none d-md-inline col-md-1">
              <span class="float-right"> <a href="{{ object.get_permalink }}"><i class="btn-pm btn-pm-sm icofont-user"></i></a></span>
        </div>
    </div>
  </div>
  <div class="card-footer  d-md-none">
    <span class="float-right"> <a href="{{ object.get_permalink }}"><i class="btn-pm btn-pm-sm icofont-user"></i> zobacz profil</a></span>
  </div>
</div>
{% endfor %}


