{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}


{% for object in objects %}
<div class="card item-card" style="">
  <div class="card-header d-md-none">
    <span>{{ object.name|upper }}
    <span class="float-right"> {% observed_link user object otype='team'%}</span>
  </div>
  <div class="d-md-none">
    <img class="avatar rounded img-responsive" src="{% thumbnail object.picture|default:'default_team.png' 'tables_avatar_show_small' %}">
  </div>
  <div class="card-body table-item"> 
  <div class="row no-gutters">
        <div class="d-none d-md-inline col-md-1">
            <img class="avatar rounded img-responsive" src="{% thumbnail object.picture|default:'default_team.png' 'tables_avatar_show_medium' %}">
        </div>

        <div class="d-none d-md-inline col-md-1">
           {{ object.name|upper}}
        </div>
        
        <div class="col-3 col-md">
            {{ object.league|default:'-'|upper  }}
        </div >
        {% comment %} <div class="col-3 col-md-1"> 
            {{ object.voivodeship|default:'-'|upper  }}
        </div> {% endcomment %}
        <div class="col-3 col-md-1"> 
            {{ object.voivodeship|default:'-'|upper|truncatechars:10 }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.group|default:'-'|upper|truncatechars:10 }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.manager|default:'-'|upper }}
        </div>
        
        <div class="col-3 col-md-1">
             {{ object.address|default:'-'|upper }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.address|default:'0-0-0'|upper }}
        </div>

        <div class="col-3 col-md-1">
             {{ object.address|default:'0śr'|upper }}
        </div>

        <div class="d-none d-md-inline col-md-2">
          {% get_team_link object text='profil' %}
          {% observed_link user object otype='team'%}
    
        </div>
    </div>
  </div>
  <div class="card-footer  d-md-none">
    <span class="float-right">
    {% get_team_link object text='' %}
    </span>
  </div>
</div>
{% endfor %}


