{% with size=size %}
    {% if user.is_club or user.is_coach %}
    {% comment %} <div class="filter pr-2"> 
        {% include 'marketplace/filters/filter_my.html' with size=size %}
    </div> {% endcomment %}
    {% endif %}

    <div class="filter pr-2">
        {% include 'marketplace/filters/filter_voivodeship.html' with size=size options=filters.voivodeship %}
    </div>
    <div class="filter pr-2">
        {% include 'marketplace/filters/filter_leagues.html' with size=size options=filters.league %}
    </div>

{% endwith %}