{% load playmaker %}
{% load thumbnail %}
{% load i18n %}

<!--PIŁKARZ KLUBU-->
{% if object|classname == "PlayerForClubAnnouncement" %}
{% include 'marketplace/announcement_player_for_club.html' with object=object %}

<!--KLUB PIŁKARZA-->
{% elif object|classname == "ClubForPlayerAnnouncement" %}

{% include 'marketplace/announcement_club_for_player.html' with object=object %}

<!--KLUB TRENERA-->
{% elif object|classname == "ClubForCoachAnnouncement" %}
{% include 'marketplace/announcement_club_for_coach.html' with object=object %}

<!--TRENER KLUBU-->
{% elif object|classname == "CoachForClubAnnouncement" %}
{% include 'marketplace/announcement_coach_for_club.html' with object=object %}
{% endif %}