{% load playmaker %}
{% load thumbnail %}
{% load i18n %}

<!--PIŁKARZ KLUBU-->
{% if object.creator.declared_role == "P" %}
{% include 'marketplace/announcement_player_for_club.html' with object=object %}

<!--KLUB PIŁKARZA-->
{% elif object.creator.declared_role == "C" %}
{% include 'marketplace/announcement_club_for_player.html' with object=object %}

<!--KLUB TRENERA-->
<!--{% elif object.creator.declared_role == "C" %}-->
<!--{% include 'marketplace/announcement_club_for_coach.html' with object=object %}-->

<!--TRENER KLUBU-->
{% elif object.creator.declared_role == "T" %}
{% include 'marketplace/announcement_coach_for_club.html' with object=object %}
{% endif %}