{% load playmaker %}
{% load thumbnail %}
{% load i18n %}

<div class="card announcement-card m-1 serv-section-2">
<!--    <div class="serv-section-2-icon"> <img class="avatar rounded img-responsive"  src="{% thumbnail object.club.picture|default:'default_club.png' 'club_small' %}">-->
<!--    </div>-->
        <div class="serv-section-desc">
            <h4>
<!--                <a  href="{{ object.club.get_permalink }}">{{ object.club.name }}</a>-->
                <a  href="{{ object.club.get_permalink }}">Klub szuka trenera! temp</a>
                <span class="badge badge-primary" style="float: right">Klub szuka trenera</span>
            </h4>
            <h5>{{ object.voivodeship.name|lower }} </h5>
<!--            <h5>{{ object.league.name|title }}, {{ object.voivodeship.name|lower }} </h5> -->
    </div>
        <div class="section-heading-line-left"></div>
    <div class="card-body row no-gutters">
        <div class="col-12 card-text text-muted"> 
            <small class="row no-gutters">
                <div class="col-6 col-md-3 text-center">
                    <h4 class="ann-icon icofont-match-review"></h4>
                    {% for position in  object.positions.all %} 
                        {{ position }}<br>
                    {% endfor %}
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h4 class="icofont-ui-calendar"></h4>
                    {{ object.year_from }} - {{ object.year_to }}
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h4 class="icofont-users-alt-5"></h4>
                    {{ object.gender }}, {{ object.seniority }}
                </div>

                <div class="col-6 col-md-3 text-center">
                    <h4 class="icofont-map-pins"></h4> 
                    {{ object.address }}
                </div>
                <div class="card-text col-md-12">
                    <small> {{ object.body }} </small>
                </div>
            </small>
        </div>
    </div>

    <div class="card-footer row no-gutters">
        <div class="card-text text-center d-inline-flex justify-content-center align-content-center flex-wrap">
            {% if object.www %}
            <div>
                <small class="text-muted"><a href="{{ object.www }}">{% trans 'Link do ogłoszenia / strony www klubu' %}</a> </small>
            </div>
            {% endif %}

            <div class="card-text">
                <i class="icofont-list"></i>
                <small class="text-muted"> {{ object.subscribers.count }} odpowiedzi </small>
            </div>
            
            <div class="card-text">
                <i class="icofont-wall-clock"></i>
                <small class="text-muted"> {{ object.created_at|days_since }}</small>
            </div>
            
            <div class="card-text pull-right">
            
                {% if user.is_player %} 
                    {% announcement_response object %}
                {% elif user.is_club or user.is_coach %}
                    {% announcement_edit object %}
                {% endif %} 
            </div>
        </div>
    </div>
</div>