{% load playmaker %}
{% load thumbnail %}
{% load i18n %}

{% with player=object.creator %}
<div class="card announcement-card m-1 serv-section-2">
    <div class="serv-section-desc">
            <h4>
                <a href="/users/{{ player.profile.slug }}">{{ player.first_name }} {{ player.last_name }} {% if player.profile.birth_date.year %}({% trans 'r.' %} {{ player.profile.birth_date.year|default:'' }}){% endif %} </a>
                <span class="badge badge-dark" style="float: right">Piłkarz szuka klubu</span>
            </h4>
    </div>
        <div class="section-heading-line-left"></div>
    <div class="card-body row no-gutters">
        <div class="row centered-div">
            <div class="card-text">
            <img class="flag pl-3" src="{{ player.profile.country.flag }}" alt="flag">
            </div>

            <div class="card-text">
                <small class="text-muted"> {{ player.profile.playermetrics.season_summary.games_played|default:'0' }} mecze </small>
            </div>

            <div class="card-text">
                <small class="text-muted"> {{ player.profile.playermetrics.season_summary.minutes_played |default:'0' }} minuty </small>
            </div>

            <div class="card-text">
                <small class="text-muted"> {{ player.profile.playermetrics.season_summary.team_goals|default:'0' }} bramki </small>
            </div>
        </div>
        <div class="col-12 card-text text-muted">
            <small class="row no-gutters">
                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.position }}</h5>
                    Pozycja
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.league.display_league_top_parent|default:'-' }}</h5>
                    Aktualny poziom
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h5> {{ object.target_league }} </h5>
                    Cel poszukiwań
                </div>

                <div class="col-6 col-md-3 text-center">
                    {% if not player.profile.voivodeship and not player.profile.address %}
                    <h5>-</h5>
                    {% else %}
                    <h5> {{ object.voivodeship }},
                        {{ object.address }} +{{ object.practice_distance }}km </h5>
                    {% endif %}
                    Region
                </div>
                <div class="card-text col-md-12">
                    <small> {{ object.body }} </small>
                </div>
            </small>
        </div>
    </div>

    <div class="card-footer no-gutters">
        <div class="row card-text text-center centered-div">
            <div class="card-text">
                <i class="icofont-list"></i>
                <small class="text-muted"> {{ object.subscribers.count }} odpowiedzi </small>
            </div>
            <div class="card-text">
             <i class="icofont-wall-clock"></i>
            <small class="text-muted"> {{ object.expire|days_until }}</small>
            </div>
        </div>
        <div class="row card-text text-center centered-div">
            <div class="card-text pull-right">
                {% if user.is_coach or user.is_club %}
                    {% announcement_response object %}
                {% elif user.is_player %}
                    {% announcement_edit object %}
                {% endif %}
            </div>

            <div>
              <button type="button" class="btn-request" onclick="window.location.href='/users/{{ player.profile.slug }}';">Zobacz profil</button>
            </div>

        </div>

    </div>
</div>
{% endwith %}