{% load playmaker %}
{% load thumbnail %}
{% load i18n %}

<div class="card announcement-card m-1 serv-section-2">
<!--    <div class="serv-section-2-icon"> <img class="avatar rounded img-responsive"  src="{% thumbnail object.club.picture|default:'default_club.png' 'club_small' %}">-->
<!--    </div>-->
        <div class="serv-section-desc">
            <h4>
<!--                <a  href="{{ object.club.get_permalink }}">{{ object.club.name }}</a>-->
                <a href="{{ object.club.get_permalink }}">{{ object.club.name }}</a>
                <span class="badge badge-primary" style="float: right">Klub szuka trenera</span>
            </h4>
            <h5>{{ object.voivodeship.name|lower }} </h5>
<!--            <h5>{{ object.league.name|title }}, {{ object.voivodeship.name|lower }} </h5> -->
    </div>
        <div class="section-heading-line-left"></div>
    <div class="card-body row no-gutters">
        <div class="col-12 card-text text-muted"> 
            <small class="row no-gutters">
                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.lic_type }}</h5>
                    Licencja
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.league }}</h5>
                    Aktualny poziom
                </div>
                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.gender }}, {{ object.seniority }}</h5>
                    Rozgrywki
                </div>

                <div class="col-6 col-md-3 text-center">
                    <h5>{{ object.voivodeship }}</h5>
                    Województwo
                </div>
                <div class="card-text col-md-12">
                    <small> {{ object.body }} </small>
                </div>
            </small>
        </div>
    </div>

    <div class="card-footer no-gutters">
        <div class="row card-text text-center centered-div">
            {% if object.www %}
            <div>
                <small class="text-muted"><a href="{{ object.www }}">{% trans 'Link do ogłoszenia / strony www klubu' %}</a> </small>
            </div>
            {% endif %}

            <div class="card-text">
                <i class="icofont-list"></i>
                <small class="text-muted"> {{ object.subscribers.count }} odpowiedzi </small>
            </div>
            
            <div class="card-text">
                <i class="icofont-wall-clock"></i>
                <small class="text-muted"> {{ object.expire|days_until }}</small>
            </div>
        </div>
        <div class="row card-text text-center centered-div">
            <div class="card-text pull-right">
                {% if user.is_coach %}
                    {% announcement_response object %}
                {% elif user.is_club %}
                    {% announcement_edit object %}
                {% endif %}
            </div>

            <div>
              <button type="button" class="btn-request" onclick="window.location.href='/users/{{ object.club.get_permalink }}';">Zobacz profil</button>
            </div>

        </div>
    </div>
</div>
