{% extends 'platform/base.html' %}
{% load static %}
{% load playmaker %}
{% load marketplace %}


{% block title %}{{ block.super }} {{ page_title }} {% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'assets/css/filters.css' %}" rel="stylesheet">
{% endblock %}

{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title %}
    {{ block.super }}
{% endblock %}

{% block content %}
<style>
#marketplace{ 
    background-color:#F8F8F8;
    padding: .2rem 0 110px 0;
}
#marketplace .announcement-card {
    /*border-left: 5px solid #e03a3c;*/
    padding: .7rem;
}

#marketplace .announcement-card .card-body {
    padding: .6rem 0rem;
}

#marketplace .announcement-card .sub-title {
    font-size: .5rem;
}

#marketplace .announcement-card .card-footer {
    background: #fff;
    border-top:1px dashed #ccc;
 } 

@media all and (max-width: 768px) {
    #marketplace .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    } 
    #marketplace .announcement-card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    #marketplace .announcement-card .card-body {
        padding: .65rem .55rem;
    } 
}

.mt-60{
    margin-top:60px;
}

.section-block-grey {
    padding: 90px 0px 90px 0px;
    background-color: #f9f9f9;
}

.serv-section-2 {
    position: relative;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
}

<!--.serv-section-2:before {-->
<!--    position: absolute;-->
<!--    top: 0;-->
<!--    right: 0px;-->
<!--    z-index: 0;-->
<!--    content: " ";-->
<!--    width: 100px;-->
<!--    height: 100px;-->
<!--    background: #f5f5f5;-->
<!--    border-bottom-left-radius: 136px;-->
<!--    transition: all 0.4s ease-in-out;-->
<!--    -webkit-transition: all 0.4s ease-in-out;-->
<!--}-->

<!--@media all and (max-width: 768px) {-->
<!--    .serv-section-2:before {-->
<!--         display: none;-->
<!--    }-->

<!--}-->
.serv-section-2-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon i {
    color: #5f27cd;
    font-size: 48px;
    line-height: 65px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.serv-section-2 h5 {
    color: #333;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #e76668;
    border-radius: 25%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.serv-section-2 p {
    margin-top: 25px;
    padding-right: 50px;
}

<!--.serv-section-2:hover .serv-section-2-icon i {-->
<!--    color: #fff;-->
<!--}-->

<!--.serv-section-2:hover:before {-->
<!--    background: #e76668;-->
<!--}-->

.centered-div {
    flex: display;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.btn-club-for-player {
    background-color: #28a745 !important;
    color: #fff !important;
    border-color: transparent;
}

.btn-coach-for-club {
    background-color: #17a2b8 !important;
    color: #fff !important;
    border-color: transparent;
}

.btn-club-for-coach {
    background-color: #007bff !important;
    color: #fff !important;
    border-color: transparent;
}

.btn-player-for-club {
    background-color: #343a40 !important;
    color: #fff !important;
    border-color: transparent;
}

.grey-dashed-line-divider {
    border: none;
    border-top: 1px dashed #ccc;
    {#color: #fff;#}
    {#background-color: #fff;#}
    height: 1px;
    width: 50%;
}

.score-box {
    width: 27px;
    height: 25px;
    background: rgba(224, 58, 60, 0.16);
    border-radius: 4px;
    float: left;
    margin: 0 8px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-pointer {
    font-size: 14px;
    font-weight: 600;
    color: #E03A3C;

}

</style>

<section id="marketplace" class="marketplace">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex">
                <div class="d-none d-md-inline">
                    {% add_announcement %}
                </div>
                <div class="d-none d-md-inline">
                    {% my_annoucement %}
                </div>
            </div>
        </div>
        <div class="row d-none d-md-flex">
            <div>
                <button type="button" class="btn-request" onclick="window.location.href='{% url 'marketplace:announcements' %}';">Wszystkie ogłoszenia</button>
            </div>
            <div>
                <button type="button" class="btn-request btn-club-for-player" onclick="window.location.href='{% url 'marketplace:club_for_player_announcements' %}';"><b>Klub szuka zawodnika</b></button>
            </div>
            <div>
                <button type="button" class="btn-request btn-coach-for-club" onclick="window.location.href='{% url 'marketplace:coach_for_club_announcements' %}';"><b>Trener szuka klubu</b></button>
            </div>
            <div>
                <button type="button" class="btn-request btn-club-for-coach" onclick="window.location.href='{% url 'marketplace:club_for_coach_announcements' %}';"><b>Klub szuka trenera</b></button>
            </div>
            <div>
                <button type="button" class="btn-request btn-player-for-club" onclick="window.location.href='{% url 'marketplace:player_for_club_announcements' %}';"><b>Piłkarz szuka klubu</b></button>
            </div>

        </div>
        <div class="row">
            <div class="d-flex">
                {% include 'marketplace/filters.html' %}
            </div>
            <div class="col-md-12">
                <small>{% include 'marketplace/_plandescription.html' %}</small>
            </div>
        </div>
        <div class="row p-1">
            {% for object in page_obj %}
                <div class="col-md-4">
                {% include 'marketplace/announcement.html' with object=object %}
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    {% include 'marketplace/_empty_data.html' %}
                </div>
            {% endfor %}
        {% include 'profiles/modals/_register_modal.html' %}
        </div>
        {% include 'platform/partials/_pagination.html' with object_type='ogłoszeń' %}
    </div>
</section>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script src="{% static 'assets/js/filters.js' %}"></script>

{% include 'marketplace/filters_modal.html' %}


<script>
$('#approveAnnouncementModal').on('show.bs.modal', function (event) {
    var id = $(event.relatedTarget).data('ann');
    var announcement_type = $(event.relatedTarget).data('ann-type');
    $(this).find('#ann-numner').val(id);
    $(this).find('#ann-type').val(announcement_type);
});
$('#addAnnouncementModal').on('show.bs.modal', function (event) {
    var id = $(event.relatedTarget).data('ann');
    var announcement_type = $(event.relatedTarget).data('ann-type');
    var action_name = $(event.relatedTarget).data('ann-action-name');
    $(this).find('#add-ann-number').val(id);
    $(this).find('#add-ann-type').val(announcement_type);
    $(this).find('#add-ann-action-name').val(action_name);
});
</script>
{% endblock %}