{% extends 'platform/base.html' %}


{% block title %}{{ block.super }} {{ page_title }} {% endblock %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}


{% block content %}

<section id="marketplace" class="marketplace"> 
<div class="container">

       {% include 'marketplace/add.html' %} {% include 'marketplace/filters.html' %}
        <div class="row p-1">
            {% for object in page_obj %}
                {% include 'marketplace/announcement.html' with object=object %}
            {% endfor %}
        </div>
 </div>
</section>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script>
            $('#approveAnnouncementModal').on('show.bs.modal', function (event) {
        var id = $(event.relatedTarget).data('ann');
        $(this).find('#ann-numner').val(id);
        $(this).find(".ann-number").text(id);
        });
    </script>
{% endblock %}