<div class="modal fade" id="noPmScore" tabindex="-1" role="dialog" aria-labelledby="noPmScoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div style="padding: .5rem;">
              <p>
                Pracujemy nad poszukiwaniami statystyk o piłkarzu.
                Jeśli chcesz nam w tym pomóc przyspieszyć ten proces to zgłoś się do nas na biuro@playmaker.pro
              </p>
              <button type="button" class="close-modal float-right" data-dismiss="modal" aria-label="Close">Zamknij</button>
          </div>

      </div>
    </div>
  </div>
</div>

<style>
    .close-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 32px;
    gap: 10px;
    border: 1px solid #454A52;
    border-radius: 24px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark__color);
    letter-spacing: 0.2px;
    opacity: 1;
    background: white;
}
</style>