{% extends "mailing/mails/email_base.html" %}

{% block content %}
    <h1 style="font-size: 24px; color: #222; margin-bottom: 20px;">
        Witaj, gratulujemy!
    </h1>

    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
        Twoje zapytanie o kontakt zostało zaakceptowane przez {{related_role_biernik}}!
    </p>
    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
        Odwiedź swój profil na PlayMaker.pro lub kliknij w poniższy link żeby zobaczyć dane kontaktowe:
    </p>
    <p>
        <a href="https://playmaker.pro/kontakty"
        style="display: inline-block; padding: 12px 24px; background-color: #ED1C24; color: #ffffff; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 16px;">
        Kontakty
        </a>
        <p style="font-size: 14px; color: #777; line-height: 1.4; margin-top: 30px;">
        Jeżeli po kliknięciu link się nie otworzy, skopiuj go, wklej w pole adresu przeglądarki i przejdź do wskazanej strony:
        </p>
        <p>
            <a href="https://playmaker.pro/kontakty" style="font-size:13">https://playmaker.pro/kontakty</a>
        </p>
    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 40px;">
        Pozdrawiamy,<br>
        Zespół PlayMaker.pro
    </p>
{% endblock %}