{% if editable %}
    {% url 'profiles:my_games' as games_url %}
    {% url 'profiles:my_fantasy' as fantasy_url %}
    {% url 'profiles:my_carrier' as carrier_url %}
    {% url 'profiles:my_videos' as videos_url %}
{% else %}
    {% url 'profiles:player_games'  slug=show_user.profile.slug as games_url %}
    {% url 'profiles:player_fantasy' slug=show_user.profile.slug as fantasy_url %}
    {% url 'profiles:player_carrier' slug=show_user.profile.slug as carrier_url %}
    {% url 'profiles:player_videos' slug=show_user.profile.slug as videos_url %}
{% endif %}

{% url 'profiles:show' slug=show_user.profile.slug as profile_url %}

<ul id="profile-nav" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link pm-nav {% if request.get_full_path == profile_url %}pm-nav-active{% endif %}" href="{{ profile_url }}">Profil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pm-nav {% if request.get_full_path == carrier_url %}pm-nav-active{% endif %}" href="{{ carrier_url }}">Kariera</a>  
  </li>
  <li class="nav-item">
       <a class="nav-link pm-nav {% if request.get_full_path == games_url %}pm-nav-active{% endif %}" href="{{ games_url }}">Mecze</a>
 </li>

{% if show_user.is_player %}
      {% if is_scrapper_enabled %}
          <li class="nav-item">
            <a class="nav-link pm-nav {% if request.get_full_path == fantasy_url %}pm-nav-active{% endif %}" href="{{ fantasy_url }}">Fantasy</a>
          </li>
      {% endif %}
  {% if show_user.profile.has_videos or editable %}
    <li class="nav-item">
      <a class="nav-link pm-nav {% if request.get_full_path == videos_url %}pm-nav-active{% endif %}" href="{{ videos_url }}">Video</a>
    </li>
  {% endif %}
{% endif %}
</ul>
