{% load i18n %}
{% comment %} 
    DEBUG:<br>
    {% for data in objects %}
    {{data}}<br>
    {% endfor %} {% endcomment %}

  <table class="table">
    {% if caption %}
    <caption><a href="{% url 'profiles:carrier_games' %}" >{% trans 'Zobacz więcej' %}</a></caption>
    {% endif %}
    <thead>
        <tr>
            <!-- sm --> <th scope="col" class="d-md-none">{% trans 'Sezon' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Sezon' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Klub' %}</th>
            <th scope="col" class="d-md-none">{% trans 'Mecze' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Rozegrane mecze' %}</th>  
            <th scope="col" class="d-md-none">{% trans 'Śr. ilość pkt.' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Średnia ilość pkt.' %}</th>
            <th scope="col" class="d-md-none">{% trans 'W / R / P ' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Wygrane' %}</th>    
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Remisy' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Przegrane' %}</th>
        </tr>
    </thead>
    <tbody>
    
    {% for season in objects %}
        <tr style="font-size:0.9em;">
           <!-- sm --> 
           <td class="d-md-none">
                <strong>{{ season.name }}</strong> <br>
                <small class="text-muted">
                    {{ season.team|upper  }} <br>
                </small>
            </td>
            <td class="d-none d-md-table-cell">{{ season.name }}</td>
            <td class="d-none d-md-table-cell">{{ season.team|upper }}</td>
            <td class="">{{ season.games_played }}</td>
            <td class="">{{ season.avg_points }}</td>

            <td class="d-md-none">{{ season.wons }} / {{ season.draws }} / {{ season.loses }}</td>
            <td class="d-none d-md-table-cell">{{ season.wons }}</td>
            <td class="d-none d-md-table-cell">{{ season.draws }}</td>
            <td class="d-none d-md-table-cell">{{ season.loses }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
