{% load i18n %}

  <table class="table w-auto m-auto">

    <thead>
        <tr>

            <th scope="col" class="">{% trans 'Od' %}</th>
            <th scope="col" class="">{% trans 'Do' %}</th>
            <th scope="col" class="">{% trans 'Status' %}</th>
            <th scope="col" class="">{% trans 'Data utworzenia' %}</th>
            <th scope="col" class="">{% trans 'Typ' %}</th></i></th>
            <th scope="col" class=""></th>
        </tr>
    </thead>
    <tbody>
    
    {% for request in requests %}
        <tr style="font-size:0.9em;">
            <td>{{ request.sender }}</td>
            <td>{{ request.recipient }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.created_at }}</td>
            <td>prośba o testy</td>
            <td><i class="icofont-close-squared-alt"></i></td>
        </tr>
        {% empty %}
           {{ on_empty }}
        {% endfor %} 

    </tbody>
</table>
