    
{% load i18n %}

<div class="pagination">

    <span class="step-links text-center float-left">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans 'pierwsza' %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'poprzednia' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Strona' %} {{ page_obj.number }} {% trans 'z' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn-pm btn-pm-sm" href="?page={{ page_obj.next_page_number }}">{% trans 'następna' %}</a>
            <a class="btn-pm btn-pm-sm" href="?page={{ page_obj.paginator.num_pages }}">{% trans 'ostatnia' %} &raquo;</a>
        {% endif %}
    </span>
    <br>

    <span class="">     
        <span class="main-color"> {{ page_obj.elements }}</span> /  <span class="main-color">{{ page_obj.paginator.count }} </span>wszystkich wpisów
    </span>

</div>