{% extends 'platform/base.html' %}

{% load i18n %}

{% comment %} 
{% block content_header %}

    {% if type == 'P' %}
        {% url 'tables:players' as url %}
    {% elif type == 'T' %}
        {% url 'tables:coaches' as url %}
    {% elif type == 'C' %}
       {% url 'tables:teams' as url %}
    {% endif %}
    
    {% if type == 'P' %}
        {% include 'partials/breadcrumbs.html' with breadcrumb_url=url breadcrumb_name='Baza piłkarzy'%}
    {% elif type == 'T' %}
        {% include 'partials/breadcrumbs.html' with breadcrumb_url=url breadcrumb_name='Baza trenerów'%}
    {% elif type == 'C' %}
        {% include 'partials/breadcrumbs.html' with breadcrumb_url=url breadcrumb_name='Baza klubów'%}
    {% endif %}
{% endblock %} {% endcomment %}



{% block header %}
    {% if type == 'P' %}
        {% with menus_heading_title='Baza piłkarzy' %}
            {{ block.super }}
        {% endwith %}
        
    {% elif type == 'T' %}
         {% with menus_heading_title='Baza Trenerów' %}
            {{ block.super }}
        {% endwith %}
    {% elif type == 'C' %}
         {% with menus_heading_title='Baza Drużyn' %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}



{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}   
{% endblock %}

{% block content %}


{% if type == 'P' %}
    {% include 'soccerbase/tables/filters_desktop_players.html' %}
{% elif type == 'T' %}
    {% include 'soccerbase/tables/filters_desktop_coaches.html' %}
{% elif type == 'C' %}
    {% include 'soccerbase/tables/filters_desktop_teams.html' %}
{% endif %}


<section id="tables" class="tables" style="padding-top:0px"> 
    <div class="container-fluid">
    {% csrf_token %}
        {% if page_obj.paginator.count == 0 %}
            {% include 'platform/partials/_empty.html' %}
        {% else %}
        {% if type == 'P' %}
            {% include 'soccerbase/tables/table_players_card.html' with objects=page_obj %}
            {% include 'platform/partials/_pagination.html' with object_type='piłkarzy' %}
        {% elif type == 'T' %}
            {% include 'soccerbase/tables/table_coaches_card.html' with objects=page_obj %}
            {% include 'platform/partials/_pagination.html' with object_type='trenerów' %}
        {% elif type == 'C' %}
            {% include 'soccerbase/tables/table_teams_card.html' with objects=page_obj %}
            {% include 'platform/partials/_pagination.html' with object_type='klubów' %}
        {% endif %}
        <span></span>   
        
        {% endif %}
    </div>

</section>

 

{% endblock content %}



{% block extra_js %}
    {{ block.super }}

    {% if type == 'P' %}
        {% include 'soccerbase/tables/filters_modal_players.html' %}
    {% elif type == 'T' %}
        {% include 'soccerbase/tables/filters_modal_coaches.html' %}
    {% elif type == 'C' %}
        {% include 'soccerbase/tables/filters_modal_teams.html' %}
    {% endif %}

<script>


$("#filter-button").click(function(){
    $("input").each(function(){
        if($(this).val() == '') {
            console.log('asdasdas');
            $(this).remove();
        }
    });
    $("#filter-button").submit();
});


$("#filter-button-mobile").click(function(){
    $("input").each(function(){
        if($(this).val() == '') {
            console.log('asdasdas');
            $(this).remove();
        }
    });
    $("#filter-button-mobile").submit();
});

$(document).ready(function($){
  
	$("filter-form").submit(function() {
		$(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
		return true; // ensure form still submits
	});
	
	// Un-disable form fields when page loads, in case they click back after submission
	$( "filter-form" ).find( ":input" ).prop( "disabled", false );
	
    
    $("filter-form-mobile").submit(function() {
		$(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
		return true; // ensure form still submits
	});
	
	// Un-disable form fields when page loads, in case they click back after submission
	$( "filter-form-mobile" ).find( ":input" ).prop( "disabled", false );
	
});


function checkWindowSize() {  

    if ( $(window).width() > 786 ) {  
        console.log('low low')
        $('#table-filters').addClass('sticky-top'); 
        $('#table-filters').removeClass('fixed-bottom');   
    }  
    else {  
        $('#table-filters').addClass('fixed-bottom'); 
        $('#table-filters').removeClass('sticky-top');    
        
    }  

}  

$(document).ready(function() {

    // Executes when the HTML document is loaded and the DOM is ready
    checkWindowSize();
});


$(window).resize(checkWindowSize);  

{% comment %} $("#emailme").mouseover(function(){
    $(this).animate({
        paddingTop: "15px"
    }, 100);
}).mouseout(function(){
    $(this).animate({
        paddingTop: "10px"
    }, 100);
}); {% endcomment %}
{% comment %} $(document).ready(function () {
    $(".table-item").hover(function () {
        $(this).css("background", "#e2e8f0");
    },
        function () {
            $(this).css("background", "#fff");
        });
}); {% endcomment %}
{% comment %} $( ".table-item" ).hover(function() {

  $( this ).fadeOut( 100 );
  $( this ).fadeIn( 500 );
}); {% endcomment %}

{% comment %} $(".table-item").mouseover(function(){
    $(this).animate({
        paddingTop: "35px"
    }, 100);
}); {% endcomment %}
</script>
{% endblock %}