    {% if editable %}
        
        {% url 'profiles:my_games' as games_url %}
        {% url 'profiles:my_fantasy' as fantasy_url %}
        {% url 'profiles:my_carrier' as carrier_url %}
    {% else %}
        {% url 'profiles:player_games'  slug=show_user.profile.slug as games_url %}
        {% url 'profiles:player_fantasy' slug=show_user.profile.slug as fantasy_url %}
        {% url 'profiles:player_carrier' slug=show_user.profile.slug as carrier_url %}
    {% endif %}
    {% url 'profiles:show' slug=show_user.profile.slug as profile_url %}
    
    <a class="pm-nav {% if request.get_full_path == profile_url %}pm-nav-active{% endif %} m-2" href="{{ profile_url }}">Profil</a>
    <a class="pm-nav {% if request.get_full_path == carrier_url %}pm-nav-active{% endif %} m-2" href="{{ carrier_url }}">Kariera</a>
    <a class="pm-nav {% if request.get_full_path == fantasy_url %}pm-nav-active{% endif %} m-2" href="{{ fantasy_url }}">Fantasy</a>
    <a class="pm-nav {% if request.get_full_path == games_url %}pm-nav-active{% endif %} m-2" href="{{ games_url }}">Mecze</a>