{% load i18n %}


{% if editable %}
<h4 class="small font-weight-bold">
        {% if show_user.is_verified %} 
        <i class="text-success icofont-verification-check"></i> {% trans 'zweryfikowany' %}
        {% elif show_user.is_waiting_for_verification %}
            <i class="text-warning icofont-ui-clock"></i> {% trans 'oczekuje na weryfikacje' %}
        {% else %} 
            <i class="text-danger icofont-adjust"></i> {% trans 'brakuje danych do weryfikacji konta' %}
        {% endif %} 
    
    <span class="float-right">{{user.profile.percentage_completion}}%</span>
</h4>

<div class="progress mb-4">
<div class="progress-bar bg-success " role="progressbar" style="width: {{user.profile.percentage_completion}}%" 
    aria-valuenow="{{user.profile.percentage_completion}}" 
    aria-valuemin="0" 
    aria-valuemax="100"></div>
<div class="progress-bar progress-bar-striped bg-danger progress-verification" role="progressbar" style="width: {{user.profile.percentage_left_verified}}%" 
    aria-valuenow="{{user.profile.percentage_left_verified}}" 
    aria-valuemin="0" 
    aria-valuemax="100"></div>
</div>

{% endif %}