<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Poziom rozgrywkowy:</strong></span> {{ show_user.profile.league_raw }}
</li>
{% if show_user.group %}
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Grupa:</strong></span> {{ show_user.profile.group }}
</li>
{% endif %}
{% if show_user.voivodeship_raw %}
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Wojewódzctwo:</strong></span> {{ show_user.profile.voivodeship_raw }}
</li>
{% endif %}
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Wzrost/Waga:</strong></span> {{ show_user.profile.height }}cm / {{ show_user.profile.weight }}kg
</li>
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Status transferowy:</strong></span> {{ show_user.profile.transfer_status }}
</li>
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Karta:</strong></span> {{ show_user.profile.card}}
</li>
<li class="list-group-item text-left border-0">
<span class="pull-left text-muted"><strong>Piłkarski cel:</strong></span> {{ show_user.profile.soccer_goal}}
</li>