{% load i18n %}
{% load static %}

{% if user.is_authenticated %}
    <li class="drop-down"><a href="">Bazy</a>
        <ul>
            <li><a href="{% url 'soccerbase:players' %}">Piłkarzy</a></li>
            <li><a href="{% url 'soccerbase:coaches' %}">Trenerów</a></li>
            <li><a href="{% url 'soccerbase:teams' %}">Klubów</a></li>
        </ul>
    </li>

    {% if user.is_player %}
        <li><a href="{% url 'profiles:show_self'%}">{% trans 'Profil' %}</a></li>
        <li><a href="{% url 'profiles:my_carrier'%}">{% trans 'Kariera' %}</a></li>
        <li><a href="{% url 'profiles:my_fantasy'%}">{% trans 'Fantasy' %}</a></li>
        <li><a href="{% url 'profiles:my_games'%}">{% trans 'Mecze' %}</a></li>
    
    {% elif user.is_coach %}
        <li><a href="{% url 'profiles:show_self'%}">{% trans 'Twój zespół' %}</a></li>
        <li><a href="{% url 'profiles:my_carrier'%}">{% trans 'Club' %}</a></li>
    {% else %}

    {% endif %}
{% endif %}
