{% load static %}
{% load wagtailcore_tags static %}
{% load wagtailimages_tags %}

{# Page mixin #}

<article class="entry">
    <div class="entry-img">
      {% image blog.header_image original class="img-fluid"  %}
    </div>

    <h2 class="entry-title">
      <a href="{% pageurl blog %}">{{ blog.title }}</a>
    </h2>

    <div class="entry-meta">
      <ul>

        {% if blog.date %}
        <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{{ blog.author.profile.get_permalink }}">{{ blog.author.get_full_name }}</a></li>
        <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="{{ blog.date|date:'F jS, Y' }}">{{ blog.date|date:"F jS, Y" }}</time></li>
        {% endif %}

        {% if blog.categories.all %}
              
                {% for cat in blog.categories.all %}
                    <a style="color:#fff;font-size:.9rem;margin-right:2px;padding:4px;" class="badge badge-danger"  href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %} 
        {% endif %}

      </ul>
    </div>

    <div class="entry-content">
        
      <p>
        
        {% if include_context == "index_page" %}
            {{ blog.body|richtext|truncatewords_html:70 }} 
        {% else %}
            {{ blog.body|richtext }}
        {% endif %}
      </p>
      <div class="read-more mb-3">
        <a class="btn btn-danger" href="{% pageurl blog %}">Czytaj więcej &raquo;</a>
      </div>
    </div>

  </article><!-- End blog entry -->


<div class="meta">

    <div class="tags-and-comments">


        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'blog/blog_post_comments_xtd_link.html' with blog=blog %}
        {% elif False %}
            <a href="{% pageurl blog %}#disqus_thread">No Comments</a>
        {% endif %}
        </div>
    </div>
</div>
