{% extends "blog/base.html" %}
{% load wagtailcore_tags static %}
{% load i18n %}

{% block content %} 
                    {% for rl in self.related_links.all %}
                    <p>{{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a></p>
                {% endfor %}

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 mb-3">
            <h3 class="sidebar-title">Kategorie</h3>
              <div class="sidebar-item categories">
       
                 {% for cat in  all_categories %}
                  <a style="font-size:.9rem;margin-right:2px;padding:4px;" class="badge badge-danger" href="/blog/?category={{ cat.slug }}">{{ cat.name }} <span hidden>(25)</span></a>
                {% endfor %}
          
              </div>
          </div>
          <div class="col-lg-12 entries">

          {% block posts %}
                <ul class="list-unstyled the-loop">
                {% for blog in blogs %}
                
                    <li class="blog-post-item{% if forloop.first and not category and not tag %} first-reset{% endif %}">
                        {% include 'blog/blog_post.html' with include_context="index_page" %}
                    </li>
                    {% if forloop.counter == 3 %}
                      {% include 'blog/teaser_banner.html' %}
                    {% endif %}
                    
                {% empty %}
                  <h2>{% trans 'Obecnie nie ma żadnych wpisów.' %}</h2>
                {% endfor %}
                </ul>
     

           {% endblock %}

            <div class="blog-pagination">
              <ul class="justify-content-center">

                {% if blogs.has_previous %}  
                  <li class="previous"><a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="icofont-rounded-left"></i></a></li>
                  <li class="previous"><a href="?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">1</a></li>
               
                {% else %}
                  <li class="disabled"><i class="icofont-rounded-left"></i></li>
                {% endif %}

                
                <li class="active"><a href=""?page={{ blogs.number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"">{{ blogs.number }}</a></li>

                {% if blogs.has_next %}
                  <li class="last"><a href="?page={{ blogs.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ blogs.paginator.num_pages }}</i></a></li>
                  <li class="next"><a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="icofont-rounded-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icofont-rounded-right"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div><!-- End blog entries list -->



          <div hidden class="col-lg-4">

            <div class="sidebar">

              <h3 hidden class="sidebar-title">Search</h3>
              <div  hidden class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Kategorie</h3>
              <div class="sidebar-item categories">
                <ul>
                 {% for cat in  all_categories %}
                  <li><a href="/blog/?category={{ cat.slug }}">{{ cat.name }} <span hidden>(25)</span></a></li>
                {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->
{% endblock %}







