{% extends "mailing/mails/email_base.html" %}

{% block content %}
    <h1 style="font-size: 28px; color: #222; margin-bottom: 20px;">
        Gratulacje!
    </h1>

    <p style="font-size: 16px; color: #555; line-height: 1.6;">
        Za skuteczne polecenie piętnastu nowych użytkowników otrzymujesz od nas wyjątkową nagrodę:
    </p>

    <ul style="list-style-position: inside; padding: 0; margin: 20px auto; text-align: center; font-size: 14px; font-weight: bold; color: #555; line-height: 1.6; max-width: 600px;">
        <li>6 miesięcy darmowego konta Premium na PlayMaker.pro</li>
    </ul>

    <p style="font-size: 16px; color: #555; line-height: 1.6;">
        Wkrótce otrzymasz dostęp do konta Premium.
    </p>


    <p style="font-size: 16px; color: #555; line-height: 1.6;">
        Dziękujemy za aktywne budowanie społeczności PlayMaker.pro!
    </p>
    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 40px;">
    Pozdrawiamy,<br>
    Zespół PlayMaker.pro
    </p>
{% endblock %}