{% extends "email_base.html" %}

{% block content %}
<h1 style="font-size: 28px; color: #222; margin-bottom: 20px;">
    Gratulacje!
</h1>

<p style="font-size: 16px; color: #555; line-height: 1.6;">
    Za skuteczne polecenie trzech nowych użytkowników otrzymujesz od nas wyjątkowe nagrody:
</p>

<ul
    style="list-style-position: inside; padding: 0; margin: 20px auto; text-align: center; font-size: 14px; font-weight: bold; color: #555; line-height: 1.6; max-width: 600px;">
    <li>14 dni darmowego konta Premium na PlayMaker.pro</li>
    <li>Specjalny trening wideo na YouTube poprawiający eksplozywność, wyskok i zwrotność dla piłkarzy</li>
</ul>

<p style="font-size: 16px; color: #555; line-height: 1.6;">
    Wkrótce otrzymasz dostęp do konta Premium, a poniżej znajdziesz link do treningu:
</p>

<p>
    <a href="https://www.youtube.com/watch?v=hZJ0Z1oCUuM"
        style="display: inline-block; padding: 12px 24px; background-color: #ED1C24; color: #ffffff; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 16px;">
        Odbierz nagrodę
    </a>
</p>


<p style="font-size: 16px; color: #555; line-height: 1.6;">
    Dziękujemy za aktywne budowanie społeczności PlayMaker.pro!
</p>
<p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 40px;">
    Pozdrawiamy,<br>
    Zespół PlayMaker.pro
</p>
{% endblock %}