{% extends "email_base.html" %}

{% block content %}
<p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
  Cześć {{user.first_name}}!
</p>

<p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
  Bez klubu, wideo czy weryfikacji inni mogą Cię pominąć. Dokończ swój profil i wyjdź na boisko.
</p>

<p>
  <a href="https://www.playmaker.pro/dolacz"
    style="display: inline-block; padding: 15px 30px; background-color: #ED1C24; color: #ffffff; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 18px;">
    Uzupełnij profil
  </a>
</p>

<p style="font-size: 14px; color: #777; line-height: 1.4; margin-top: 30px;">
  Jeżeli po kliknięciu link się nie otworzy, skopiuj go, wklej w pole adresu przeglądarki i przejdź do wskazanej
  strony:
</p>
<p>
  <a href="https://www.playmaker.pro/dolacz" style="font-size:13px">https://www.playmaker.pro/dolacz</a>
</p>

<p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 40px;">
  Widzimy się na boisku!<br>
  Zespół PlayMaker.pro
</p>
{% endblock %}
