
{% extends 'base.html' %}


{% block content %}
    <!-- ======= Tabs Section 2 ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">
        
        <div class="section-title">
          <h1><span style="color:grey"></span> </span></h1> <h2>Cele projektu PlayMaker.Pro</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <h3></h3>
            <p class="font-italic">
          
            </p>
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Platforma piłkarsko-społecznościowa <p>Miejsce w sieci zrzeszające społeczność piłkarską ma na celu rozwój regionalnych lig. Kluby, trenerzy oraz piłkarze mogą wzajemnie się wyszukiwać za pomocą prostego filtrowania. Moduły obserwacji oraz wysyłania zaproszeń na testy pomagają w nawiązywaniu kontaktów i przeprowadzaniu transferów za pomocą kilku kliknięć.</p>
              </li>
              
              <li>
                <i class="ri-check-double-line"></i>Wsparcie transferowe<p>MPlayMaker pomaga w znajdowaniu klubu dostosowanego do potrzeb i umiejętności piłkarzy, a także ułatwia pracę prezesom oraz trenerom wyszukując piłkarzy na zlecenie w bazie oraz poza nią. PlayMaker wykorzystując zaawansowane oprogramowanie jest w stanie dotrzeć do 90% piłkarzy w Polsce. </p>
              </li>
              <li>
                <i class="ri-check-double-line"></i>Monitoring utalentowanych piłkarzy<p>bserwujemy niższe ligi oraz rozwijamy nowoczesne technologie monitoringu, by mieć pod lupą wszystkich utalentowanych piłkarzy. Naszym równorzędnym celem jest odwrócenie proporcji w ilości przepłacanych zagranicznych piłkarzy do obiecujących Polaków na poziomie profesjonalnym. </p>
              </li>
              <li><i class="ri-check-double-line"></i>Nie masz jeszcze konta? <a class="btn-owl" href="{% url 'account_signup'%}">Dołącz za darmo</a></li>
            </ul>
            <p>
              
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
           
            <iframe height="480" width="500" src="https://www.youtube.com/embed/-uzTdKJEBIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section><!-- End Tabs Section 2 -->


{% endblock %}