
<!-- tags -->
{% if robots %} <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"> {% endif %}
{% if description %} <meta name="description" content="{{ description }}"> {% endif %}
{% if tags %}<meta name="keywords" content="{{ tags }}"> {% endif %}

{% if fbapp %}<meta property="fb:app_id" content="{{ fbapp }}">{% endif %}
<meta property="og:locale" content="{{ oglocale|default:'pl_PL' }}">
<meta property="og:type" content="{{ ogtype|default:'website' }}">
{% if ogtitle %}<meta property="og:title" content="{{ ogtitle }}">{% endif %}
{% if ogdescription %}<meta property="og:description" content="{{ ogdescription }}">{% endif %}
{% if ogurl %}<meta property="og:url" content="{{ ogurl }}">{% endif %}
{% if ogsite_name %}<meta property="og:site_name" content="{{ ogsite_name }}">{% endif %}
<!-- end of tags --> 