{% load i18n %}

{% with text=_('zobacz więcej') button_url=button_url %}
    {% if modals.verification.load %}
            <a href="#" alt="see-more" class="btn-pm btn-pm-sm" data-toggle="modal" data-target="#{{ modals.verification.name }}">
                <i class="icofont-{{ icon }}"></i> {{ text }}
            </a>
    {% elif modals.need_verification.load %}
        <a href="#" alt="see-more" class="btn-pm btn-pm-sm" data-toggle="modal" data-target="#{{ modals.need_verification.name }}">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>
    {% else %}
        <a href="{{ button_url }}" alt="see-more" class="btn-pm btn-pm-sm">
            <i class="icofont-{{ icon }}"></i> {{ text }}
        </a>

    {% endif %}

{% endwith %}
