

{% if not off %}

  {% with button_attrs=button_attrs button_class=button_class button_text=button_text button_icon=button_icon button_script=button_script button_id=button_id button_text_prefix=button_text_prefix button_text_suffix=button_text_suffix  %}

    {% if modals.register.load %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.register.name }}"
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>

    {% elif modals.need_role.load %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.need_role.name }}"
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>

    {% elif modals.verification.load %}    
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.verification.name }}" 
        >{{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}</button>

    {% elif modals.need_verification.load %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.need_verification.name}}" 
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>

    {% else %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} " 
        
            {% if button_action.onclick %}
            onclick="{{ button_action.name }}(event, '{{ button_action.param }}')"
            
            {% elif button_action.modal %}
            data-toggle="modal" 
            data-target="#{{ button_action.name }}"
            {% else %}
                {% comment %} {%  %}  {% endcomment %}
            {% endif %}
        >   
            
            {% if button_icon %}
                <i class="icofont-{{ button_icon }}"></i>
            {% endif %}
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
            
        </button>
        
    {% endif %}

  {% endwith %}
{% endif %}