{% if not off %}

  {% with multiple_options=multiple_options button_attrs=button_attrs button_class=button_class button_text=button_text button_icon=button_icon button_script=button_script button_id=button_id button_text_prefix=button_text_prefix button_text_suffix=button_text_suffix  %}
    {% if multiple_options %}
            <div class="dropdown">
                <button class="btn-request dropdown-toggle" type="button" id="addAnnoucementButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont-plus"></i> Dodaj ogłoszenie</button>
                <div class="dropdown-menu" aria-labelledby="addAnnoucementButton">
                    {% for option in options %}
                        <a class="dropdown-item"
                           href="{% if modals.no_club.load %}#noClubModal{% else %}#addAnnouncementModal"
                           onclick="get_add_announcement_form(event, '', '', '{{ option.flag }}')"{% endif %}
                           ZZdata-toggle="modal"
                           data-target="{% if modals.no_club.load %}#noClubModal{% else %}#addAnnouncementModal{% endif %}"
                           data-ann-action-name="{{ option.flag }}">{{ option.friendly_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

    {% elif modals.register.load %}
        <button
            {{ button_attrs }}
            {% if button_id %} id="{{ button_id }}" {% endif %}
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}"
            data-toggle="modal"
            data-target="#{{ modals.register.name }}"
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>



    {% elif modals.need_role.load %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.need_role.name }}"
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>

    {% elif modals.verification.load %}    
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.verification.name }}" 
        >{{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}</button>

    {% elif modals.need_verification.load %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} {% if button_icon %} icofont-{{ button_icon }} {% endif %}" 
            data-toggle="modal" 
            data-target="#{{ modals.need_verification.name}}" 
        >
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
        </button>

    {% else %}
        <button 
            {{ button_attrs }} 
            {% if button_id %} id="{{ button_id }}" {% endif %}  
            class="{{ button_class }} {% if active_class %}{{ active_class }}{% endif %} " 

            {% if button_actions.onclick %}
                {% if button_actions.onclick.function %}
                    onclick="{{ button_actions.onclick.function }}"
                {% else %}
                    onclick="{{ button_actions.onclick.name }}(event, '{{ button_actions.onclick.param }}' {% if button_actions.onclick.param2 %}, '{{ button_actions.onclick.param2 }}' {% endif %})"
                {% endif %}
            {% endif %}

            {% if button_action.onclick %}
            onclick="{{ button_action.name }}(event, '{{ button_action.param }}' {% if button_action.param2 %}, '{{ button_action.param2 }}' {% endif %})"
            
            {% elif button_action.modal %}
            data-toggle="modal" 
            data-target="#{{ button_action.name }}"
            {% else %}
                {% comment %} {%  %}  {% endcomment %}
            {% endif %}
        >   
            
            {% if button_icon %}
                <i class="icofont-{{ button_icon }}"></i>
            {% endif %}
            {{ button_text_prefix }} {{ button_text }} {{ button_text_suffix}}
            
        </button>
        
    {% endif %}

  {% endwith %}
{% endif %}