{% extends "mailing/mails/email_base.html" %}

{% block content %}
    <h1 style="font-size: 28px; color: #222; margin-bottom: 20px;">
        Witaj!
    </h1>

    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
        Otrzymujesz tę wiadomość, ponieważ Ty lub ktoś inny zażądał zresetowania hasła do Twojego konta.
    </p>
    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 20px;">
        Niniejszą wiadomość możesz spokojnie zignorować, jeżeli nie #żądałeś|żądałaś# zresetowania hasła.
    </p>

    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 30px;">
        Jeśli chcesz zmienić hasło, kliknij w poniższy link:
    </p>

    <p>
    <a href="#url#"
       style="display: inline-block; padding: 12px 24px; background-color: #ED1C24; color: #ffffff; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 16px;">
        Resetuj hasło
    </a>
    </p>

    <p style="font-size: 14px; color: #777; line-height: 1.4; margin-top: 30px;">
        Jeżeli po kliknięciu link się nie otworzy, skopiuj go, wklej w pole adresu przeglądarki i przejdź do wskazanej strony. Link będzie aktywny przez 3 dni.
    </p>

    <p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 40px;">
        Pozdrawiamy,<br>
        Zespół PlayMaker.pro
    </p>
{% endblock %}