                  
                  
                  
{% with template=template object=object %}                
    {% for editor in object.editors.all %}
        {% if editor.is_club %}
            {% include template with key=editor.profile.get_club_role_display  value=editor.get_full_name  link=editor.profile.get_permalink  %}
        {% else %}
            {% include template with key=editor.get_declared_role_display  value=editor.get_full_name       link=editor.profile.get_permalink   %}
        {% endif %}
    {% endfor %}
{% endwith %}