{% extends 'clubs/base.html' %}
{% load i18n %}


{% block content_header %}
    {{ block.super }}
    {% include '_page_heading_with_picture.html' with image=club.picture %}
{% endblock content_header %}



{% block content %}
<section id="clubs" class="club">
    <div class="container">
        <div class="row">
            <div class="col ml-2">
                <h1 class="float-left"> {{ club.name|upper }}  </h1>
            </div>
            <small> 
                {% if editable %}
                    {% include 'clubs/buttons/edit.html' %}
                {% endif %}
            </small>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {% include 'clubs/clubs/card.html' with object=club %}  
            </div>
            <div class="col-sm-6">
                {% include 'clubs/clubs/managers.html' with object=club %}  
            </div>
                {% for team in teams %}
                    {% if forloop.first %}
                    <div class="col-sm-12 ml-2">
                        <h3>{% trans 'Drużyny' %}</h3>
                    </div>                       
                    {% endif %}
                    <div class="col-md-4">
                        {% include 'clubs/teams/card.html' with object=team  see_team=True picture_size=True %}        
                    </div>
                {% empty %}
                <div class="col-md-12">
                    <h2> {% trans 'Club nie ma przypietych zespolow.' %}</h2>
                </div>
                {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}


