{% extends 'clubs/base.html' %}



{% block content %}
<section>
    <div class="container">
        <h1> {{ team.name }} </h2>
            {% if editable %}
                {% url 'clubs:edit_team' slug=team.slug as button_url%}
                {% include 'clubs/buttons/edit.html' with button_url=button_url %}
            {% endif %}
            
        {% include 'clubs/teams/card.html' with team=team %}
        Klub:
        <a href="{{ team.club.get_permalink }}"> {{ team.club.name }} </a>
    </div>
</section>
{% endblock content %}