{% extends 'clubs/base.html' %}
{% load i18n %}


{% block content_header %}
    {{ block.super }}
    {% include '_page_heading_with_picture.html' with image=club.picture %}
{% endblock content_header %}


{% block content %}
    <section id="clubs" class="club">
        <div class="container">
            <div class="row">
                <div class="col ml-2">
                    <h1 class="float-left"> {{ club.name|upper }}  </h1>
                </div>
                <small>
                    {% if editable %}
                        {% include 'clubs/buttons/edit.html' %}
                    {% endif %}
                </small>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {% include 'clubs/clubs/card.html' with object=club %}
                </div>
                <div class="col-sm-6">
                    {% include 'clubs/clubs/managers.html' with object=club %}
                </div>
                <div class="horizontal-pipe-red"></div>
                <div class="col-sm-12 ml-2 mt-2">
                    <div class="col-sm-12 col">
                        <h3 class="float-left">{% trans 'Drużyny sezonu ' %}{{ seasons.selected }}</h3>
                    </div>
                    <div class="col-sm-12 col">
                        <form method="post" class="float-right mr-3">
                            {% csrf_token %}
                           <button
                                   type="submit"
                                   class="btn btn-danger"
                                   name="change-season"
                                   value="{{ seasons.previous }}"
                                   {% if not seasons.previous %}disabled{% endif %}><strong><</strong></button>
                                <span class="mx-2 font-weight-bold">{{ seasons.selected }}</span>
                           <button
                                   type="submit"
                                   class="btn btn-danger"
                                   name="change-season"
                                   value="{{ seasons.next }}"
                                   {% if not seasons.next %}disabled{% endif %}><strong>></strong></button>
                        </form>
                    </div>
                </div>
                    {% for team in teams %}
                        <div class="col-md-4">
                            {% include 'clubs/teams/card.html' with object=team see_team=True picture_size=True %}
                        </div>
                    {% empty %}
                    <div class="col-md-12">
                        {% include 'platform/partials/_empty.html' %}
                        <div class="text-center"><h4>{% trans 'Brak drużyn przypisanych na sezon ' %}{{ seasons.selected }}</h4></div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}


