{% load playmaker %}
{% load plays %}

<style>
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2b2b2b;
  overflow-x: hidden; /* Disable horizontal scroll */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links 
.sidenav a {
  padding: 8px 8px 5px 5px;
  text-decoration: none;

  color: #818181;
  display: block;
  transition: 0.3s;
}
*/
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  font-size: 26px;
  margin-left: 240px;
}


/* #main {
  transition: margin-left .5s;
  padding: 20px;
}
*/ 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /*.sidenav a {font-size: 18px;} */
}
</style>

<div id="mySidenav" class="sidenav d-flex flex-column"><br><Br>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="icofont-close-circled main-color"></i></a>
    <span>
      {% with parent_accordion="accordion1" level=0 %}
         {% include "plays/partials/tree/leagues.html" with level=level parent_accordion=parent_accordion %}
      {% endwith %}
  </span>
</div>
<div>
<button class="btn btn-pm" onclick="openNav()"><i class="icofont-arrow-left"></i>rozgrywki</button>

{% include 'plays/filters/season.html' %}
{% include 'plays/filters/leagues.html' %}


</div>
  
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "280px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>