{% load playmaker %}
<style>
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2b2b2b;
  overflow-x: hidden; /* Disable horizontal scroll */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 5px 5px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  font-size: 26px;
  margin-left: 240px;
}


/* #main {
  transition: margin-left .5s;
  padding: 20px;
}
*/ 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /*.sidenav a {font-size: 18px;} */
}
</style>

<div id="mySidenav" class="sidenav d-flex flex-column"><br><Br>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="icofont-close-circled main-color"></i></a>
    <span>
    <div id="accordion1">
        {% for league in league_filters %}
            {% if not league.isparent and not league.childs.all %}
                <div class="plays-link {% if current_league_id == league.id %} link-active {% endif %}"><a href="{% url 'plays:summary' slug=league.slug  %}?season={{ current_season }}"><i class="icofont-arrow-right"></i>{{ league.name }} </a></div>
            {% else %}

            <div class="" id="heading{{ league.id }}" style="cursor: pointer;">
                <span style="color: #fff;" class="" data-toggle="collapse" data-target="#collapse{{league.id}}" aria-expanded="true" aria-controls="collapse{{league.id}}">
                    <i class="icofont-arrow-down"></i>{{ league.name }}
                </span>
            </div>
            <div id="collapse{{ league.id }}" class="collapse" aria-labelledby="heading{{league.id}}" data-parent="#accordion1">
                {% for child in league.childs.all %}
                    {% if child|has_season_data:current_season %}
                        <div class="plays-sub-link {% if current_league_id == child.id %} link-active {% endif %}" ><a href="{% url 'plays:summary' slug=child.slug  %}?season={{ current_season }}">{{ child.name }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    </span>
</div>

<div>
<!-- Use any element to open the sidenav -->
<button class="btn btn-pm" onclick="openNav()"><i class="icofont-arrow-left"></i>rozgrywki</button>

{% include 'plays/filters/season.html' %}
{% include 'plays/filters/leagues.html' %}


</div>
  
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "280px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>