{% load playmaker %}



<table class="table d-md-none" style="border:1px;">
  <tbody>
  {% for name, data in games.items %}
    <tr style="font-size:0.9em;"><td>{{ name }}</td></tr>
        {% for game in data %}
        <tr style="font-size:0.7em;">
            <td><small>{{ game.date }}</small></td>

            <td class="text-left">
            {% include "plays/partials/game_with_pic.html" with name=game.host url=game.host_url pic=game.host_pic %}
                {% if game.score %}
                    <a href="#showGameModal"
                        data-toggle="modal"
                        data-target="#showGameModal" data-game-json='{{game|jsonify}}'>{{ game.score }}</a>
                {% elif game.scoer == "None - None" %}
                    - 
                {% else %}
                    - 
                {% endif %}
              {% include "plays/partials/game_with_pic.html" with name=game.guest url=game.guest_url pic=game.guest_pic %}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>


<table class="table d-none d-md-table-cell" style="border:1px;">
  <tbody>
  {% for name, data in games.items %}
    <tr style="font-size:0.9em;"><td>{{ name }}</td></tr>
        {% for game in data %}
        <tr style="font-size:0.9em;">
            <td class="d-none d-md-table-cell">{{ game.date }}</td>

            <td class="d-none d-md-table-cell">
            {% include "plays/partials/game_with_pic.html" with name=game.host url=game.host_url pic=game.host_pic %}
            </td>
            
            <td class="text-center">

        {% if game.score %}
            <a href="#showGameModal"
                data-toggle="modal"
                data-target="#showGameModal" data-game-json='{{game|jsonify}}'>{{ game.score }}</a>
        {% elif game.scoer == "None - None" %}
            - 
        {% else %}
             - 
        {% endif %}
           </td>
            
            </td>
            <td class="d-none d-md-table-cell">
             {% include "plays/partials/game_with_pic.html" with name=game.guest url=game.guest_url pic=game.guest_pic %}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>