{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load playmaker %}


{% with template='platform/tables/two_table.html'  object=object %}
<div class="card m-2">
    <div class="card-body">
      <div hidden class="card-title text-center">
        <img title="" class="avatar" src="{% thumbnail object.picture|default:'default_club.png' 'profile_avatar_show' %}">
      </div>
      <h6 class="card-subtitle mb-2 text-muted"></h6>  
  
      <div class="card-text">
        {% include template with key=_('Nazwa')                                            value=object.display_club %}
        {% include template with key=_('Wojewodztwo')                                      value=object.display_voivodeship      %}
        <h5>Osoby w klubie</h5>
        {% include template with key=_('Zarządzający klubem na playmaker.pro')             value=object.display_manager|default:'brak przypisanej osoby'  link=object.manager.profile.get_permalink   %}
        {% include 'clubs/_partials/editors.html' with template=template object=object %}

        {% request_link user object %}
        {% get_club_edit_link object %}

      </div>
  </div>
</div>
{% endwith %}