    
{% load i18n %}
{% load playmaker %}

{% with request.GET.urlencode|get_urls_with_no_page as get_params %}
<div id="pagination" class="pagination d-block mt-2">
    <span class="float-center">
        <span class="step-links text-center">

            {% if page_obj.has_previous %}
                <span class="p-1">
                {% with "?page=1"|addstr:"&"|addstr:get_params as button_url %}
                    {% include 'platform/buttons/action_button.html' with button_text=_('pierwsza') checks=True button_url=button_url %}
                {% endwith %}
                
                </span>
                <span class="p-1">
                
                {% with "?page="|addstr:page_obj.previous_page_number|addstr:"&"|addstr:get_params as button_url %}
                    {% include 'platform/buttons/action_button.html' with button_text=_('poprzednia') button_url=button_url checks=True button_prefix='&laquo;'%}
                {% endwith %}
                </span>
            {% endif %}

            <span class="current">
                {% trans 'Strona' %} {{ page_obj.number }} {% trans 'z' %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
               <span class="p-1">
                {% with "?page="|addstr:page_obj.next_page_number|addstr:"&"|addstr:get_params as button_url %}
                   
                    {% include 'platform/buttons/action_button.html' with button_text=_('następna') button_url=button_url checks=True %}
                {% endwith %}
                </span>
                <span class="p-1">
                {% with "?page="|addstr:page_obj.paginator.num_pages|addstr:"&"|addstr:get_params as button_url %}
                    {% include 'platform/buttons/action_button.html' with button_text=_('ostatnia') button_url=button_url checks=True button_suffix='&raquo;'%}
                {% endwith %}
                </span>
            {% endif %}
        </span>
    </span>


    <div class="float-right">  
 
            <span class="main-color "> {{ page_obj.elements }}</span> /  <span class="main-color">{{ page_obj.paginator.count }} </span>wszystkich {{ object_type|default:'wpisów' }}

    </div>

</div>
<div class="content_detail__pagination cdp" actpage="1">

    {% if page_obj.paginator.has_previous %}
        <a class="cdp_i page-link toogle-view" href="">prev</a>
    {% endif %}

    {% if 1 not in custom_range %}

        <a href="{% url 'marketplace:announcements' %}?page=1" class="cdp_i page-item {% if page == page_obj.number %}active btn-red {% endif %} toogle-view">1
        </a>
        <a class="cdp_i toogle-view">..</a>

    {% endif %}

    {% for page in custom_range %}
        <a href="{% url 'marketplace:announcements' %}?page={{ page }}" class="cdp_i page-item toogle-view {% if page == page_obj.number %}active{% endif %}">{{page}}
        </a>

    {% endfor %}

    {% if page_obj.number not in page_num_range or last_page not in page_num_range%}
        <a class="cdp_i toogle-view">..</a>
            <a class="cdp_i toogle-view"
               href="{% url 'marketplace:announcements' %}?page={{ last_page }}">{{last_page}}
        </a>
    {% endif %}


    {% if page_obj.paginator.has_next %}

        <a href="{% url 'marketplace:announcements' %}?page={{ page_obj.next_page_number }}" class="cdp_i page-link toogle-view">next</a>

    {% endif %}

</div>

{% endwith %}