{% with size=size %}
    <div>club for player</div>
    <div class="filter pr-2">
        {% include 'marketplace/filters/filter_voivodeship.html' with size=size options=filters.voivodeship %}
    </div>
    <div class="filter pr-2">
        {% include 'marketplace/filters/filter_leagues.html' with size=size options=filters.league %}
    </div>
    {% if view_type == "player_for_club" %}
     <div class="filter pr-2">
        {% include 'marketplace/filters/filter_leagues.html' with size=size options=filters.league %}
         GUWNO
    </div>
    {% endif %}

{% endwith %}