{% load i18n %}
{% load thumbnail %}

<table class="table" style="border:1px;">
  <thead>
    <tr><th scope="col" class="{% if not objects.players %} d-none {% endif %}">{% trans 'Zawodnicy' %}</th></tr>
  </thead>
  <tbody>
    {% for obj in objects.players %}
        <tr style="font-size:0.9em;">
            <td class="">
            
            {% include "plays/partials/row_user.html" with data=obj %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>



  <table class="table" style="border:1px;">


      <thead>
        <tr>
            <th scope="col" class="{% if not objects.coaches %} d-none {% endif %}">{% trans 'Trenerzy' %}</th>

        </tr>
    </thead>
    <tbody>

    {% for obj in objects.coaches %}
        <tr style="font-size:0.9em;"><td class="d-none d-md-table-cell">{% include "plays/partials/row_user.html" with data=obj %}</td></tr>
    {% endfor %}
    </tbody>
</table>