{% load i18n %}
{% load thumbnail %}

<table class="table plays-table d-md-none" style="font-size:0.9em;">
      <thead>
        <tr><td></td></tr>

        <tr>
            <th scope="col" class="d-table-cell">{% trans 'Klub' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'M' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'W' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'R' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'P' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'BR' %}</th>
            <th scope="col" class="d-table-cell">{% trans 'PKT' %}</th>
            <th scope="col">FORMA</th>
        </tr>
    </thead>
    <tbody>

    {% for obj in objects %}
    <tr >
        <td class="d-table-cell pull-left">
            <span class="table-position"> {{ obj.position }}. </span>
            {{ obj.date }}
            <img width="20" class=" avatar rounded img-responsive" title="profile picture" src="{{ obj.pic }}">
            {% if obj.team_url %}
                <a href="obj.team_url"> {{ obj.team }} </a>
            {% else %}{{ obj.team }} {% endif %}
        </td>
        <td class="d-table-cell tb-digit">{{ obj.games }}</td>
        <td class="d-table-cell tb-digit">{{ obj.wins }}</td>
        <td class="d-table-cell tb-digit">{{ obj.draws }}</td>
        <td class="d-table-cell tb-digit">{{ obj.losts }}</td>
        <td class="d-table-cell tb-digit">{{ obj.goals }}</td>
        <td class="d-table-cell tb-digit">{{ obj.points }}</td>
        <td class="d-table-cell">
             {% for t in obj.trend %}
                <span class="trend-item match-result-tag p-1 text-white rounded bg-{% if t == 'W' %}success{% elif t == 'P' %}danger{% else %}secondary{% endif %}">{{ t }}</span>
            {% endfor %}
        </td>
        </tr>

    {% endfor %}
    </tbody>
</table>


<table class="table d-none d-md-table-cell plays-table" style="font-size:0.9em;">
      <thead>
        <tr>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'Klub' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'M' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'W' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'R' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'P' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'BR' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'PKT' %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans 'FORMA' %}</th>
        </tr>
    </thead>
    <tbody>

    {% for obj in objects %}
        <tr>
            <td class="d-none d-md-table-cell pull-left">
                <span class="table-position"> {{ obj.position }}. </span>
                {{ obj.date }}
                <img width="20" class=" avatar rounded img-responsive" title="profile picture" src="{{ obj.pic }}">
                {% if obj.team_url %}
                    <a href="obj.team_url"> {{ obj.team }} </a>
                {% else %}{{ obj.team }} {% endif %}
            </td>
         <td class="tb-digit">{{ obj.games }}</td>
         <td class="tb-digit">{{ obj.wins }}</td>
         <td class="tb-digit">{{ obj.draws }}</td>
         <td class="tb-digit">{{ obj.losts }}</td>
         <td class="tb-digit">{{ obj.goals }}</td>
         <td class="tb-digit">{{ obj.points }}</td>
            <td class="d-none d-md-table-cell">
             {% for t in obj.trend %}
                <span class="trend-item match-result-tag p-1 text-white rounded bg-{% if t == 'W' %}success{% elif t == 'P' %}danger{% else %}secondary{% endif %}">{{ t }}</span>
            {% endfor %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
