{% extends 'platform/base.html' %}
{% load i18n %}
{% load static %}
{% load playmaker %}
{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'assets/css/profiles.css' %}" rel="stylesheet">
    <style>
.pys-tbl {
    table-layout: fixed;
    width: 850px;
}
.pys-tbl-pm {
    border:1px;
}

@media all and (max-width: 768px) {
    .pys-tbl  {
        table-layout: auto;  
    }
}


.table td, .table th {
    padding: 0.3rem;
}

td.tb-digit  {
    padding-top: 0.5rem;
}

.tb-subtitle {
    padding-top:19px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom: 3px solid #e03a3c;

}
.tb-subtitle td { 
    padding-top:15px;
    padding-bottom:0px;
    margin-bottom:5px;
    pointer-events: none;
}

.tb-subtitle .text {
    background: #e03a3c;
    color: #fff;
    padding: 4px 4px 0px 4px;
    margin-bottom:5px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.tb-title {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f2f2f2;
}

.trend-item {
    margin-right:2px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
}

@media all and (max-width: 768px) {
    .trend-item  {
        margin-right:1px;
        min-width: 12px;
        //font-size: .rem;
        padding: .1rem!important;
       
    }
}

.table-position {
    margin-right:4px;
    min-width: 20px;
    display: inline-block;
}

@media all and (max-width: 768px) {
    .table-position {
        margin-right:1px;
        min-width: 12px;       
    }
}


.plays-table {
    border: 1px;
}

table tr {
  border-bottom: 1px solid #dee2e6;
  border-top: 0px solid #dee2e6;
}

.table td { 
border-top: 0px solid #dee2e6;

}

#plays {

    line-height: .9;
}
.plays-link {
    //font-size:.8rem;
    border-radius: .25rem;
    color: #fff;
}
.plays-link a {
    color: #fff;
}
.link-active a {
    color: #e03a3c;
}
.link-active { 
    background-color:#6c757d;
}

.plays-sub-link {
    //font-size:.8rem;
    margin-left:15px;
}
.side-filter { 
    width:200px!important;
    padding-bottom:5px;
}

@media all and (max-width: 768px) {
    .side-filter   {
        width:130px!important;
        padding-bottom:0px;
        padding-left:4px;
       
    }
}
span.text {
    font-size:.8rem;
}
.form-control {
    font-size:.8rem;
}
.no-results{    font-size:.8rem;}
.filter-option-inner-inner{
    line-height: 1rem!important;
    font-size:.8rem;
}
#leagues-side-bar {
    background-color:#2b2b2b;
    padding: 1px 1px;
}

    </style>
{% endblock extra_css%}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}   
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-12 d-md-none">
    {% include "plays/partials/sidemenu_burger.html" with leagues_data=leagues %}
  </div>

  <section id="leagues-side-bar" class="col-2 d-none d-md-flex">
    <div class="container" data-aos="fade-up">
        {% include 'plays/filters/season.html' %}
        {% include 'plays/filters/leagues.html' %}

    <div id="accordion">
        {% for league in league_filters %}
            {% if not league.isparent and not league.childs.all %}
                <div class="plays-link {% if current_league_id == league.id %} link-active {% endif %}"><a href="{% url 'plays:summary' slug=league.slug  %}?season={{ current_season }}"><i class="icofont-arrow-right"></i>{{ league.name }} </a></div>
            {% else %}

            <div class="" id="heading{{ league.id }}" style="cursor: pointer;">
                <span style="color: #fff;" class="" data-toggle="collapse" data-target="#collapse{{league.id}}" aria-expanded="true" aria-controls="collapse{{league.id}}">
                    <i class="icofont-arrow-down"></i>{{ league.name }}
                </span>
            </div>
            <div id="collapse{{ league.id }}" class="collapse" aria-labelledby="heading{{league.id}}" data-parent="#accordion">
                {% for child in league.childs.all %}
                    {% if child|has_season_data:current_season %}
                        <div class="plays-sub-link {% if current_league_id == child.id %} link-active {% endif %}" ><a href="{% url 'plays:summary' slug=child.slug  %}?season={{ current_season }}">{{ child.name }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    </div>
    </section>

<section id="plays" class="plays col-md-10" style="padding:0px 0px;">
{% include 'plays/header_black.html' %}
  <div class="container" data-aos="fade-up" style="margin-left:5px;">
    <div class="row">
        {% comment %} {% if page_obj.paginator.count == 0 %} {% endcomment %}
        {% if objects|length == 0 %}
            <div class="col-md-12 text-center">
                {% include 'profiles/partials/_empty_data.html' with empty_text="Brak danych" %}
            </div>

        {% else %}
            
            {% if tab == 'table' %}
                <div class="col col-md-7">
                    {% include 'plays/_tab_table.html' with objects=objects %}
                </div>
            {% elif tab == 'matches' %}
                <div class="col-md-10">
                    {% include 'plays/_tab_games.html' with objects=objects %}
                </div>
            {% elif tab == 'scores' %}
                <div class="col-md-10">
                    {% include 'plays/_tab_games.html' with objects=objects %}
                </div>
            {% elif tab == 'playmaker' %}
                <div class="col-md-9">
                    {% include 'plays/_tab_playmaker.html' with objects=objects %}
                </div>

            {% else %}
                <div class="col-md-10">
                    {% include 'plays/_tab_summary.html' with objects=objects %}
                </div>
            {% endif %}
              
            {% comment %} <div class='col-md-9'>
                {% include 'platform/partials/_pagination.html' %}
            </div>        {% endcomment %}
        {% endif %}
    </div>
</div>
</section>
</div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
{% include "plays/modals/modal_show_game.html" %}
<script>
    $('.searchleagues').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        if(typeof this.value !== "undefined"){
            window.location.href = this.value;
            console.log('yeess2');
        };
    });

    $("select").on("changed.bs.select", 
        function(e, clickedIndex, newValue, oldValue) {
        console.log(this.value, clickedIndex, newValue, oldValue)
    });
//$(document).ready(function() {
    $(".searchseason").on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

        if(typeof this.value !== "undefined"){
            var search_params = new URLSearchParams(window.location.search);
            search_params.set('season', this.value);
            // console.log('yeess', this.value, search_params.toString());
            window.location.search = search_params.toString();
        }
       
        
    });
//});

$('#showGameModal').on('show.bs.modal', function (event) {
    var data = $(event.relatedTarget).data('game-json');

    //$(this).find('#md-gm-title').text(data.host + ' - ' + data.guest);
    $(this).find('#md-gm-score').text(data.score);
    $(this).find('#md-gm-sub').text(data.date);
    $(this).find('#md-gm-host').text(data.host);
    $(this).find('#md-gm-host').attr("href", data.host_url)
    $(this).find('#md-gm-guest').text(data.guest);
    $(this).find('#md-gm-guest').attr("href", data.guest_url)
});
</script>
{% endblock %}