{% load static %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title|default:"PlayMaker.pro" }}{% endif %}
    {% endblock %}
    
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
  {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {# Global stylesheets #}
  <!-- Favicons -->
  <link href="{% static 'assets/img/playmaker_logo_dark.svg' %}" rel="icon">
  <link href="{% static 'assets/img/playmaker_logo_dark.svg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Asap&family=Roboto&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/loading.css' %}" rel="stylesheet">
  {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
  {% endblock extra_css %}
  <!-- =======================================================
  * Template Name: Presento - v2.0.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script>
function onReady(callback) {
  var intervalId = window.setInterval(function() {
    if (document.getElementsByTagName('body')[0] !== undefined) {
      window.clearInterval(intervalId);
      callback.call(this);
    }
  }, 1000);
}

function setVisible(selector, visible) {
  document.querySelector(selector).style.display = visible ? 'block' : 'none';
}

onReady(function() {
  
  setVisible('.wrapper', true);
  setVisible('#loading', false);
});
</script>

</head>

<body>
  {% comment %} <div id="loading">
    <a href="#" class="intro-banner-vdo-play-btn pinkBg" target="_blank">
        <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
        <span class="ripple pinkBg"></span>
        <span class="ripple pinkBg"></span>
        <span class="ripple pinkBg"></span>
    </a>
  </div>
<div class='wrapper'> {% endcomment %}
  {% include 'partials/action_messages.html' %}

  {% block header %}
      {% include 'partials/navigation.html' %}
  {% endblock header %}


  {% include 'partials/toasts.html' %}

  <main id="main">

  {% block content_header %}
    {# content header of a document #}
  {% endblock content_header %}
  
  {% block content %}
    {# content of a document #}
  {% endblock content %}

  {% block content_footer %}
    {# content footer of a document #}
  {% endblock content_footer %}
  </main>

  
  {% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
      {% include 'partials/footer.html' %}
  </footer><!-- End Footer -->
  {% endblock footer %}

  {% block extra_content %}
    {# parts of content which are by default hided from page viewers #}
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
  {# Global javascript #}
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


<script>

function showToastMessage(body) {
    $('#micro-messages').empty();
    $('#micro-messages').append(
        '<div class="alert alert-success micro-message" data-aos-anchor-placement="top-center" data-aos-delay="800" data-aos="slide-down" data-delay="2000" role="alert" style=" border-radius:16px; padding:4px 8px; font-size: .8rem;">' + body + '</div>');
    $(".micro-message").toast('show', function() {}, {delay: 3000});
}

$(document).ready(function(){
    $(".micro-message").toast('show', {
            delay: 2000
        });
    $(".toast").toast('show', {
            delay: 35000
        });
});
</script>
  {% block extra_js %}
    {# Override this in templates to add extra javascript #}
  {% endblock %}
{% comment %} </div> {% endcomment %}



</body>

</html>