
{% if app_debug or user.is_superuser %}
<div class="container-fluid">
    <strong>Debug info:</strong>
    <div class="text-muted" style="border:1px solid #ccc">
        <small>{{ page_obj }}</small>
    </div>
    <strong>User info:</strong>
    <div class="text-muted" style="border:1px solid #ccc">
        <small>
            get_full_name: <code>{{ user.get_full_name }}</code><br>
            email: <code>{{ user.email }}</code><br>
            profile: <code>{{ user.profile }}</code><br>
            <div class='pl-2'>
                position: <code>{{ user.profile.get_position_raw_display }}</code><br>
                data_mapper_id: <code>{{ user.profile.data_mapper_id }}</code><br>
                :: Properties<br>
                display_league: <code>{{ user.profile.display_league }}</code><br>
                display_club: <code>{{ user.profile.display_club }}</code><br>
                display_team: <code>{{ user.profile.display_team }}</code><br>
                is_goalkeeper: <code>{{ user.profile.is_goalkeeper }}</code><br>
                playermetrics: <code>{{ user.profile.playermetrics }}</code><br>
                <div class='pl-3'>
                    season_summary_updated: <code>{{ user.profile.playermetrics.season_summary_updated }}</code><br>
                    season_updated: <code>{{ user.profile.playermetrics.season_updated }}</code><br>
                    season: {% include 'platform/debugcollapse.html' with id='season' data=user.profile.playermetrics.season %}
                    fantasy_summary_updated: <code>{{ user.profile.playermetrics.fantasy_summary_updated }}</code><br>
                    fantasy_updated: <code>{{ user.profile.playermetrics.fantasy_updated }}</code><br>
                    fantasy: {% include 'platform/debugcollapse.html' with id='fantasy' data=user.profile.playermetrics.fantasy %}
                    
                    games_summary_updated: <code>{{ user.profile.playermetrics.games_summary_updated }}</code><br>
                    games_updated: <code>{{ user.profile.playermetrics.games_updated }}</code><br>
                    games: {% include 'platform/debugcollapse.html' with id='games' data=user.profile.playermetrics.games %}
                </div>
            </div>
           
            last_login: <code>{{ user.last_login }}</code><br>
        </small>
    </div>

    <strong>Page info:</strong>
    <div class="text-muted" style="border:1px solid #ccc">
        <small>
            request.path: <code>{{ request.path }}</code><br>
            seo_data: <code>{{ seo }}</code><br>
        </small>
    </div>
    
    <strong>Page debug info:</strong>
    <div class="text-muted" style="border:1px solid #ccc">
        <small>
            data: <code>{{ debug_data }}</code><br>
        </small>
    </div>
</div>
{% endif %}