{% extends 'platform/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{{ block.super }} {{ page_title }} {% endblock %}


{% block content_header %}
    {% include '_page_heading.html' with heading_title=page_title size=4 %}
    {{ block.super }}
{% endblock %}




{% block content %}
    <section id="subpage" class="subpage last-section">
      <div class="container">
        <div>
            <div  class="section-title">
                <h2 class="mb-3 text-center">{{ page_obj.title|default:'' }}</h2>
                <h4 class="mb-3 text-center">{{ page_obj.subtitle|default:'' }}</h4>
            </div>
            <div class="row d-flex justify-content-center">
                {{ page_obj.html_first|safe|default:'' }}
                {{ page_obj.html_form|safe|default:'' }}
                {% if age_obj.html_form %}
                  {% csrf_token %}
                 </form>
                {% endif %}
                {{ page_obj.html_body|safe|default:'' }}
                
            </div>             
             <div class="row d-flex justify-content-center">
                 {{ page_obj.html_body_footer|safe|default:'' }}
             </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}

    <script src="{% static 'assets/js/filters.js' %}"></script>
    {% include 'marketplace/filters_modal.html' %}
    <script>
            $('#approveAnnouncementModal').on('show.bs.modal', function (event) {
        var id = $(event.relatedTarget).data('ann');
        $(this).find('#ann-numner').val(id);
        //$(this).find(".ann-number").text(id);
        });

 
            $('#addAnnouncementModal').on('show.bs.modal', function (event) {
        var id = $(event.relatedTarget).data('ann');
        $(this).find('#add-ann-number').val(id);
        //$(this).find(".ann-number").text(id);
        });


    </script>
{% endblock %}