{% load i18n %}
{% load static %}
{% load playmaker %}

<div id="announcement-filters" class="d-none d-md-inline announcement-filters">
  <div class="container-fluid">
    <form id="filter-form" method="get" class="form-inline d-flex">            
    
      <div class="filter pr-2">   
          {% include 'products/filters/filter_tag.html' with size=120 %}
      </div>
      <div class="filter-button"> 
          {% include 'products/_filter_button.html' with mobile=True %}
      </div>
    </form>
  </div>
</div>

<div style="background-color:#2b2b2b;" id="announcement-filterss" class="p-4 d-md-none fixed-bottom">
    <div class="container-fluid text-center">
        <button id="open-filter-button"  type="button" class="btn-pm" data-toggle="modal" data-target="#filterModal">
        {% trans 'Filtruj wyniki' %}
        </button>
     </div>
</div>

