{% load i18n %}
{% load static %}

{% if user.is_authenticated %}
    {% include 'platform/navigation/_nav.html'%}
    <li class="drop-down"><a href="">Bazy</a>
        <ul>
            <li><a href="{% url 'soccerbase:players' %}">Piłkarzy</a></li>
            <li><a href="{% url 'soccerbase:coaches' %}">Trenerów</a></li>
            <li><a href="{% url 'soccerbase:teams' %}">Klubów</a></li>
        </ul>
    </li>

    <li><a href="{% url 'profiles:player_carrier'%}">{% trans 'Club' %}</a></li>
{% endif %}
