{% load i18n %}
{% load static %}

{% if user.is_authenticated %}
    {% include 'platform/navigation/_nav.html'%}

    <li class="nav-item"><a class="nav-link" href="{% url 'marketplace:announcements'%}">{% trans 'Ogłoszenia' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="https://www.scoutmaker.pro/">{% trans 'Skauting' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="/transfer/">Transfer</a></li>
    {% if is_scrapper_enabled %}
        <li class="nav-item"><a class="nav-link" href="{% url 'plays:list'%}">{% trans 'Rozgrywki' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="/fantasy?season={{current_season}}&is_senior=true">{% trans 'Fantasy' %}</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href="{% url 'products:products'%}?tag=dlaPiłkarza">{% trans 'Produkty' %}</a></li>

    {% include 'platform/navigation/_nav_icons.html' %}

    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'profiles:my_carrier'%}">{% trans 'Kariera' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profiles:my_fantasy'%}">{% trans 'Fantasy' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profiles:my_games'%}">{% trans 'Mecze' %}</a></li> {% endcomment %}
{% endif %}
