{% load plays %}
{% load playmaker %}

<select id="searchleagues" class="side-filter selectpicker side-filter searchleagues" data-live-search="true">
    <option data-tokens="" value="">wybierz</option>
    {% for lf in league_filters %}
        {% if current_season_obj in lf.get_data_seasons %}
            {% if lf.get_childs %}
                {% include "plays/filters/_nested_league_options.html" with league=lf %}
            {% else %}
                {{ lf.search_tokens }}
                <option {% if league.id == lf.id %} selected {% endif %} data-tokens="{{ lf.search_tokens }}" value="{{ lf|get_league_url:current_season }}">{{ lf.name }} </option>
            {% endif %}
        {% endif %}
    {% endfor %}
</select>